[2020-05-13 20:19] LisaMoore1 commented on #792
@calebissharp I think I got a message (I must have accidentally deleted it) re. an issue to provide header language but can’t remember which issue it was. Do you know?

[2020-05-13 22:19] micheal-w-wells commented on #792
https://github.com/bcgov/range-web/issues/753#issuecomment-627534439 @LisaMoore1

[2020-05-13 22:43] micheal-w-wells commented on #796
Should only see one legal version and it should be the right color.

The plan end date should now the legal end of the current legal version.

[2020-05-13 23:36] LisaMoore1 commented on #796
Some funky happenings on the AH view of versions (strange date and not identifying the current legal):
![IMG_7986.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/54d5c23e-84ad-49e1-9403-4a4266cc72c8)

[2020-05-13 23:47] LisaMoore1 commented on #796
Another unexpected thing after staff made status Wrongly Made - without effect
This is staff view of versions. ![IMG_7991.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/0e153136-d9d7-4ddd-ab76-9d1f41025900)

[2020-05-14 22:44] micheal-w-wells commented on #789
@LisaMoore1 note that the 'Reason' column is a work in progress but this is where we will put context.

[2020-05-14 22:47] micheal-w-wells opened #800 "WMWE and version list - should see new legal record and context"
![IMG_7991.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/0e153136-d9d7-4ddd-ab76-9d1f41025900)

_Originally posted by @LisaMoore1 in https://github.com/bcgov/range-web/issues/796#issuecomment-628303696_

What we want to see is another legal version that looks like last approved one, with the Reason column indicating that the last amendment hit WMWE

[2020-05-14 22:52] micheal-w-wells commented on #796
I made #800 to track the work around the missing legal version + context for WMWE

This issue and the thing to test here is:
Does it have the right dates for everybody
Does it show one as currently legal (green) and not the others.

[2020-05-15 15:43] micheal-w-wells commented on #786
thanks @calebissharp for grabbing this one : )

[2020-05-15 17:16] micheal-w-wells commented on #790
PLD not displaying as a whole number when not in edit, wondering if that is part of the issue as the problem seems to come up when the plan is passed back to staff to make changes again.

[2020-05-15 17:23] micheal-w-wells commented on #790
Was able to replicate it in test, had 27 for the first pasture and it didn't accept anything but 1 for the second.

The staff having the issue also are encountering the error on the last pasture in the list.

[2020-05-15 18:03] micheal-w-wells opened #802 "Staff draft does not exist after saving"
**Describe the bug**
Create a new plan, add a name, start and end date.  Save.  See draft saved message.  Go back to plan listview and see no plan (and instead a new plan button).

**Expected Behaviour**
You should be able to see your saved plan and carry on with it.

**Actual Behaviour**
It's not working.

**To Reproduce**
Steps to reproduce the behavior:
See above.

[2020-05-15 18:15] micheal-w-wells opened #803 "Agreement holder getting 'unexpected error' on attempting to sign"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected Behaviour**
A clear and concise description of what you expected to happen.

**Actual Behaviour**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable

[2020-05-15 18:42] #768 closed

[2020-05-15 18:56] #760 closed

[2020-05-15 18:58] #766 closed

[2020-05-15 19:09] calebissharp commented on #790
@micheal-w-wells I can't seem to reproduce this locally. I have a pasture with a PLD of 27%, and entering any percentage (that should be valid, ie. between 0 and 100) in another pasture works as expected and allows me to save.

[2020-05-15 19:13] #665 closed

[2020-05-15 19:18] #792 closed

[2020-05-15 19:25] micheal-w-wells commented on #790
did you make a second pasture?

[2020-05-15 19:25] micheal-w-wells commented on #790
oh my bad, friday brain missed the second half of your comment

[2020-05-15 19:31] #757 closed

[2020-05-15 19:46] #759 closed

[2020-05-15 19:48] calebissharp commented on #790
Yep, I had two pastures.

[2020-05-15 20:04] LisaMoore1 commented on #758
This seems to work — I have some problems with versions info still. WIll cover my questions elsewhere (version issue somewhere) and close this one.

[2020-05-15 20:04] #758 closed

[2020-05-15 20:07] LisaMoore1 commented on #796
@micheal-w-wells The end date is still strange![IMG_8003.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/bfc22158-6f85-4f69-bc7d-fd754a37a4cb)

[2020-05-15 20:08] #789 closed

[2020-05-15 20:08] LisaMoore1 commented on #789
I like it — helps to keep track of what you’re looking at.

[2020-05-15 20:12] LisaMoore1 commented on #800
Here are the “funnies” I found with versions today. Notes are on the images.

Plan date not matching version end date
![IMG_8003.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/81a5b3e6-b464-470e-8f15-7dc73c234eb9)

Not clear when a “stands - not reviewed” version becomes a “stands-reviewed”
![IMG_8015.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/c3146f00

[2020-05-15 20:13] LisaMoore1 opened #804 "History: not making an entry for “approval” status event"
![IMG_8006.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/b477d2eb-f908-4b42-84ca-a8365a3f1817)![IMG_8011.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/61bee94b-35c0-4f7c-af67-5a316c09fafc)

[2020-05-15 20:14] LisaMoore1 commented on #804
@micheal-w-wells Not sure which pipeline you want this one in.

[2020-05-15 20:43] micheal-w-wells commented on #790
I think i had to do a save after the first one to get an error on the second, i'm going to try and get it to happen again right now

[2020-05-15 20:59] micheal-w-wells commented on #796
Fixed the back end part of it but i messed up the front end change and am pulling the start date for both fields, @okanji is going to address it in his PR.  Thanks @calebissharp for spotting that one.

[2020-05-15 21:01] micheal-w-wells commented on #802
went away after a reboot, also i manually deleted one of these plans that might have messed with the caching the app does.

[2020-05-15 21:01] #802 closed

[2020-05-15 21:39] micheal-w-wells commented on #800
Date:  fixed in the back end and i botched the front end fix, sorry about that.  Getting addressed in another issue.  My eyes showed me what I wanted to see there.

Stands & the legal version list:  We don't want to show a bunch of stands records here because we only care about the dates of the first one, so that's why we see the record that we do.

What about 'Not Reviewed' not changing?  The sho

[2020-05-15 22:39] micheal-w-wells commented on #800
The other piece you noted after doing WMWE will get addressed as part of this issue (see original comment at the top).

[2020-05-19 16:07] LisaMoore1 commented on #769
Yes I think so. I think this orange banner is just for status 13.
Also, the language should be “...Review the Range use Plan and provide feedback.”
Is it possible for you to give me a list of the orange boxes and which statuses/user they are associated with?
I’ll take a look at the document Micheal posted awhile back with the blue headers for the other statuses. I think we now have statuses not on

[2020-05-19 16:14] LisaMoore1 commented on #800
Is there something you need from me for this one Micheal? I’m still a little confused about which versions the users see but I trust that you’ve got that covered. Catch me on this one later or all good?

[2020-05-19 16:16] micheal-w-wells commented on #800
I think we're ok, I'm going to change it to just show 'Stands' on the legal version list for now.

If I discover a good way to keep it updated with 'needs review/reviewed' etc while keeping the right date (and not confusing future devs) I will do so at that time.

[2020-05-19 16:27] calebissharp commented on #769
I'll go and track them down.

[2020-05-19 17:27] calebissharp commented on #769
It looks like these banners only appear for staff, and only in statuses 13 and 14.

* **Initial RUP** - Status 13 (Submitted for Review)
![image](https://user-images.githubusercontent.com/8854811/82357819-7c80bd00-99ba-11ea-85fe-cbd0345c2eea.png)

* **Initial RUP** - Status 14 (Submitted for Final Decision)
![image](https://user-images.githubusercontent.com/8854811/82357861-8dc9c980-99ba-11ea-9cc3

[2020-05-19 17:52] calebissharp commented on #551
I think this was resolved by #743.

[2020-05-19 17:53] calebissharp commented on #603
Has this issue appeared recently? I think it may have been related to #719

[2020-05-19 18:22] micheal-w-wells commented on #603
haven't seen it I think it can be closed if @LisaMoore1 hasn't seen it.

[2020-05-19 18:23] calebissharp commented on #459
I think this was related to the reference loading bugs.

[2020-05-19 18:27] calebissharp commented on #575
Resolved by #743

[2020-05-19 18:27] #575 closed

[2020-05-19 18:28] calebissharp commented on #577
Resolved by #743

[2020-05-19 18:28] #577 closed

[2020-05-19 19:29] #551 closed

[2020-05-19 20:47] micheal-w-wells commented on #459
yep i think we are good here

[2020-05-19 20:47] #459 closed

[2020-05-19 20:50] micheal-w-wells commented on #796
- The dates should be right
- Any Stands version should read as 'Stands' and there should only be one per amendment
- The WMWE stuff is still in progress via #800.

[2020-05-19 20:51] micheal-w-wells commented on #800
Note for @calebissharp and I:

@calebissharp  will help me sort out the back end changes related to creating another legal version with the right content, & I will work to populate the legal reason column with something appropriate.

[2020-05-19 21:11] micheal-w-wells commented on #684
I think what we agreed to the last time we spoke @LisaMoore1 was to hide in progress work but not the statuses, and let the button behavior stay as is and see how it plays out.

[2020-05-19 21:11] #684 closed

[2020-05-19 21:44] micheal-w-wells commented on #790
![captured](https://user-images.githubusercontent.com/955467/82381470-1b1f1500-99df-11ea-9e25-3cf8cdac6fe6.gif)

[2020-05-20 17:22] micheal-w-wells commented on #790
Long story short:  in javascript 0.57 * 100 = 56.

Fixed the handling of these numbers in both the field and also in the validation rule.

[2020-05-20 17:23] micheal-w-wells commented on #537
dragging in to sprint because this is likely going to be an ongoing trial and error issue, better start now rather than later.

[2020-05-20 17:25] micheal-w-wells commented on #800
@calebissharp the above note reflects what you are doing now right?  want me to make an issue for you?

[2020-05-20 20:47] micheal-w-wells commented on #700
@okanji this one isn't showing the legal ones as green for me, did the new var get incorporated to your changes?

I'd add the Reason column also, its the context for each record.

[2020-05-20 22:09] micheal-w-wells commented on #714
I'm hoping we can drag this one in to next sprint @ZoeSimon @LisaMoore1

[2020-05-20 22:23] micheal-w-wells commented on #804
@LisaMoore1 sorry missed this one.  That's up to you : ).  I think by default if you want it in this sprint put it in sprint back log.

[2020-05-20 22:31] micheal-w-wells commented on #633
I think we can save staff a lot of grief if we tackle this next sprint @LisaMoore1 @ZoeSimon  and also add logic to the import job to make sure that if the person doesn't change (but client number does) then not require a new signature.

[2020-05-20 22:45] micheal-w-wells commented on #633
I've got a bit of time to look at this I'll at least see if i can flush out what needs to be done this afternoon.

[2020-05-21 15:03] micheal-w-wells commented on #633
Things we want to factor in when reworking this, anyone else feel free to pipe in with suggestions here:

- We want to link a `user_id` to all `client_id`'s matching the client number.  Don't need to rework `user_client_link` to do that, but need to address the front end code and perhaps the endpoint to handle that.
- We want the import job to keep that in synch.  We don't want dispositions to unl

[2020-05-21 19:02] calebissharp commented on #803
@micheal-w-wells Any more details for this one? ie. is this for amendments/initial RUPS? Or does it occur on all plans? Is this an issue you're seeing in test, locally, or in production? Steps to reproduce would be helpful, as I cannot seem to hit this issue locally.

[2020-05-21 19:03] calebissharp commented on #800
@micheal-w-wells Yep, and I think this issue tracks well enough what I'm working on.

[2020-05-21 19:55] LisaMoore1 commented on #633
Looks pretty good. “Renewal” isn’t really a thing. Here is life of RUP:
- initial RUP created/signed
- amendments created/signed
- RUP is extended (marked as extended and end date extended by up to 5 years) — DM signature only but AH must “request” it (no set “extension request” process in place)
- RUP doesn’t get completed/signed in time so “exemption” is offered (exemption is in the form of eith

[2020-05-21 22:03] micheal-w-wells commented on #633
Note for self - look at expanding plan confirmation object to include bceid + client num + location code so all the meta data is visible under versions list

[2020-05-21 22:10] micheal-w-wells commented on #633
and thanks @LisaMoore1 !

[2020-05-21 22:45] #730 closed

[2020-05-21 22:45] #731 closed

[2020-05-21 22:45] #732 closed

[2020-05-21 22:46] #787 closed

[2020-05-21 22:47] ZoeSimon commented on #753
@LisaMoore1 Please review this ticket

[2020-05-21 23:09] ZoeSimon opened #813 "Making recommendation package form component"
**Describe the Task**
TBD by @calebissharp

[2020-05-21 23:30] ZoeSimon opened #814 "Consults on needs for conditions"
**Describe the task**
Consult with SME's on needs for DM Conditions

[2020-05-21 23:47] micheal-w-wells opened #815 "One range officers agreement showing up in multiple other range officer work queues"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected Behaviour**
A clear and concise description of what you expected to happen.

**Actual Behaviour**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable

[2020-05-22 16:22] micheal-w-wells commented on #814
We need to know:

- What should 'Conditions' look like in MyRange?
- Should it look the same for staff as it does for agreement holders?
- Should conditions stick to the plan through amendments, or should there be a clean slate as we move through versions of the RUP?
- Should conditions be optionally 'permanent' or 'just for this approval'?
- Other ideas from the SME's.

[2020-05-22 17:58] micheal-w-wells opened #816 "set up myra testers"
**Describe the task**
A clear and concise description of what the task is.

**Acceptance Criteria**
- [ ] first
- [ ] second
- [ ] third

**Additional context**
- Add any other context about the task here.
- Or here

[2020-05-22 20:27] micheal-w-wells commented on #563
Throwing this one to @okanji as it's been requested a bunch by staff, @LisaMoore1 's date above makes it pretty relevant for right now, and also it's a pretty concrete ask - we have a lot of discussion to do around what the UI for DM workflow will look like as a group yet.

[2020-05-22 20:37] micheal-w-wells commented on #813
After discussing this with @okanji , considering how staff will logging in and out to edit the recommendation package, we think this should be either a separate page or even better a tab (similar to a chrome tab, but in the UI) where staff can build this out.

[2020-05-22 20:38] #704 closed

[2020-05-22 20:54] #790 closed

[2020-05-22 20:54] micheal-w-wells commented on #796
playing tester today, feel free to create an issue if you find one @LisaMoore1

[2020-05-22 20:54] #796 closed

[2020-05-22 20:55] #791 closed

[2020-05-22 20:55] #786 closed

[2020-05-22 20:59] micheal-w-wells commented on #537
I think this is working???  Since I last refreshed cache (required to apply the change) there have been other deploys and i seem to be seeing changes.

Please others keep an eye out to see if this resolves it for you @LisaMoore1 @calebissharp @okanji @ZoeSimon

[2020-05-22 21:00] micheal-w-wells commented on #782
LGTM

[2020-05-22 21:00] #782 closed

[2020-05-22 21:37] micheal-w-wells commented on #700
Looks great to me - going to leave it open though I'd like @LisaMoore1 to have a place to stick feedback when she is well and able to check it out.

[2020-05-23 00:00] micheal-w-wells commented on #700
Looked again and I think the next step with this one is to make them hyperlinks to the versions themselves, to save people from opening the plan, going to the versions page, and clicking the dropdown.  Appearance-wise it is awesome so far.

[2020-05-24 02:38] calebissharp commented on #813
@micheal-w-wells I like the idea of a separate page. Back when I was playing around with this before, I think that's the route I was going.

[2020-05-25 21:38] micheal-w-wells opened #819 "Set up Cypress"
Preamble:

The complexity of the myrange app, its content control rules, and the number of different possible workflows for single and double agreement holders is making it a bear to work on without adequate tests.  They were not build by the people who made the main flows, so we've got to tack them on now.

**Describe the task**
Get cypress to be a part of the repo, part of the pipeline, and able

[2020-05-26 16:27] LisaMoore1 opened #820 "AH should not be able to submit a plan for decision that does not have at least one year schedule"
Every initial plan submitted for decision should include schedule for at least the coming year (at least one date in a schedule should be within the coming 12 months).
Question?
- Do we want to have amendments hold onto this requirement as well?

[2020-05-26 16:36] LisaMoore1 commented on #769
Noticed this isn’t just an amendment thing. Happening for initial plans as well. Not sure if that helps at all? Separate issue needed? Not a stopper for release I don’t think.

[2020-05-26 17:02] LisaMoore1 opened #821 "Staff “Submit” action for mandatory amendment does not result in a save first therefore any content entered since last “Save” action is not included in amendment"
@micheal-w-wells AH side looks good — just a staff thing.

[2020-05-26 17:11] LisaMoore1 opened #822 "If the most recent version is not approved (ex. Mandatory amendment not approved) there is no way for staff to start a new mandatory amendment"
Amendments can only be created from the most recent approved version. If you had an approved version and then an amendment is submitted and not approved the most recent version in the list is not the approved (amendable) version.

Using three dot version list and selecting the approved version doesn’t take you to a view you can select “Amend” from
Using the WQ lets you see there was an approved ve

[2020-05-26 17:14] LisaMoore1 commented on #822
@micheal-w-wells I’m not sure if this one is a blocker to the first release on amendments.  I’d say not if we could get this one out quickly without getting hung up in other things. I’ve put in Sprint Backlog even tho I try not to put things there that aren’t hugely essential unless you’ve said that’s where it should go but I want to make sure it doesn’t get lost. Feel free to move it somewhere ap

[2020-05-26 17:20] LisaMoore1 opened #823 "When viewing a Mandatory Amendment Not Approved — AH should not have any options in terms of saved or submit"
Not approved is a decision maker saying end of the road for this particular action (ex. Amendment) so AH should not see any options.

Make the buttons invisible. ![IMG_8035.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/9a873bcb-3519-49f5-94a6-4b39e1f351fa)

[2020-05-26 17:22] LisaMoore1 commented on #823
Micheal-w-wells Another I’ve put in sprint backlog but this feels more like a blocker than the staff not being able to amend after a not-approved status as if an AH selects these options they could create some funky monkey versioning things I don’t think we want to deal with.

[2020-05-26 17:33] LisaMoore1 opened #824 "If most recent version is not-approved the AH WQ should show “view” not “edit”"
Related to #823 re. AH not being able to take any action on a “not-approved” version
![IMG_8036.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/236d45c7-5c2c-49d6-913d-162c11352d10)

[2020-05-26 17:35] LisaMoore1 commented on #824
@micheal-w-wells Another one related to #823

[2020-05-26 17:42] LisaMoore1 commented on #700
@micheal-w-wells I agree.  The appearance is great.  I do have a question about times. I know we’ve talked about them before and time zones and what not and I can’t keep it straight.  I noticed in the WQ version list that expiry date for current one shows 12:00 am. That looks a little weird as I think we normally go end of day (Like 23:59). Overall I’m not sure that the time adds anything here in

[2020-05-26 19:20] LisaMoore1 commented on #800
@micheal-w-wells I’m wondering if we should talk about this one. I think I might be confused. I’ve made notes on the images below but I’m not sure they will make sense.

![IMG_8046.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/2faecf10-ee78-42df-9ebc-4e297063ac92)

![IMG_8047.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/7d532c70-881f-4e42-8b5f-a398be18a

[2020-05-26 19:22] LisaMoore1 commented on #822
Working the minor amendment flow I found this...and I have some question about it as well.  Not sure if it should be a separate issue or not.  The “legal version” of this button I think means if I started an amendment I’d be doing it on the current legal (which is right) but it feels wrong to have this option if what I see on the screen is a non-legal version.

![IMG_8048.jpeg](https://images.zenh

[2020-05-26 19:24] #755 closed

[2020-05-26 19:26] LisaMoore1 commented on #464
See #800.  Not sure if they are separate or the same. Will move this to In progress as well.  Feel free to close one of them if both aren’t needed.

See comments at lower right on this image.
![IMG_8047.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/72c01134-c04c-41de-80f9-e75e3d7693f0)

[2020-05-26 19:32] #737 closed

[2020-05-28 23:46] micheal-w-wells commented on #819
Set up `githubrangeofficer` user with a zone https://github.com/bcgov/range-api/pull/220

[2020-05-28 23:50] micheal-w-wells commented on #819
Add cypress to repo + login code (thank you @calebissharp) https://github.com/bcgov/range-web/pull/825

[2020-05-29 00:43] micheal-w-wells commented on #819
@calebissharp if you could give me a hand with this it would be appreciated:  Can you make an endpoint, that only in a test environment, deletes a plan and its versions?  It's a temp solution.

If it's easier/less work, could use a hand getting Cypress to run this stuff in containers in an action.

[2020-05-29 00:57] micheal-w-wells opened #826 "Automate testing of creating an RUP - up to approved plan."
**Describe the task**
Write the Cypress tests to create a new RUP, submit it to AH, and roll through the statues to an approved plan.

**Acceptance Criteria**
- [ ] An approved plan gets created from no plan existing for an agreement

**Additional context**
- This test does not test every thing on the RUP.  This one is just meant to give us legs so we can write some more tests related to rolling p

[2020-05-29 00:59] micheal-w-wells commented on #816
Only one responded, got them more or less set up save for one more onboarding session.  Going to close.

[2020-05-29 00:59] #816 closed

[2020-05-29 01:00] micheal-w-wells commented on #819
Going to make the pipeline step a separate task.  The hurdle of getting it rolling, getting it logged in, and figuring out whats needed to do to a workstation to get it to work is what took the time here.

[2020-05-29 01:01] micheal-w-wells opened #828 "Cypress GH Action"
**Describe the task**
Runs Cypress tests in pipeline as a PR step

**Acceptance Criteria**
- [ ] Cypress has access to apps running code from the PR
- [ ] It runs in the pipeline as a PR check

**Additional context**

[2020-05-29 01:01] #819 closed

[2020-05-29 01:03] micheal-w-wells commented on #815
@LisaMoore1 if you could sniff out the mysterious one of Tanya's that shows up on Chris' page in FTA and see if you find anything particularly anomalous about it that would be super helpful.

[2020-05-29 15:10] calebissharp commented on #819
@micheal-w-wells Would be less work for sure to just spin up a local test environment when we run the cypress tests.

[2020-05-29 21:17] okanji commented on #700
I have created a PR for this #830

[2020-05-31 22:43] micheal-w-wells opened #831 "Version numbers in drop down for legal versions should match version when opened."
**Describe the task**
Because there are many more versions in the db than what's shown to the user, we show a 'legal version #' in the versions drop down so that people don't end up with a list that looks like 3, 6, 8, etc.

We need to make sure the same numbering applies when they open the versions up.

**Acceptance Criteria**
- [ ] Version number in versions list and when you actually open the v

[2020-06-01 15:49] calebissharp commented on #769
@LisaMoore1 Yep, it appears for initial RUPs and amendments. What exactly is the action to take here? Should the banner be removed for status 14, and we keep it for 13?

[2020-06-01 16:00] LisaMoore1 commented on #769
@calebissharp Yup. Remove for 14 but keep for 13.  Thx

[2020-06-02 17:25] okanji commented on #563
### To implement:
- Range officers should be able to see range plans in the district but only be able to edit the ones in their zone
- Be able to filter zones
- Officers should at least be able to filter for the range plans in their own zone

To determine:
 - [ ] Identify if agreement and plan endpoints only let you see information about a range officers own zone or information for a whole distric

[2020-06-02 18:38] #464 closed

[2020-06-02 18:42] ZoeSimon commented on #821
@calebissharp is this one you can get after tomorrow morning?

[2020-06-02 18:58] calebissharp commented on #821
@ZoeSimon Probably, I'm looking into this right now.

[2020-06-03 18:46] micheal-w-wells opened #833 "Orphan agreement holder records in ref_client + client_agreement cause duplicate RAN's on homepage"
**Describe the bug**
In the rare event FTA doesn't send us a P or C for a given ref_client record, these are orphaned and result in extra primary agreement holder records in client_agreement, which then manifest themselves as duplicate RAN's, or in some rare cases RANs that show up for other range officers in other districts (this one was a loc_code of 3 )

Issue that's been there since original r

[2020-06-03 20:47] ZoeSimon commented on #537
Task: @calebissharp to disable the service worker

[2020-06-03 23:07] #700 closed

[2020-06-03 23:15] #821 closed

[2020-06-03 23:21] #823 closed

[2020-06-03 23:21] #822 closed

[2020-06-03 23:30] LisaMoore1 opened #834 "Version odds and ends I’m not sure about..."
![IMG_8077.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/a970d3da-5306-4ffc-8425-98e4b6d27995)

****

![IMG_8080.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/a4944f66-b123-495f-a4b3-189643a99c7c)

****

![IMG_8083.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/139abf75-7e8a-4b1b-a348-b092edd94782)

[2020-06-03 23:30] LisaMoore1 commented on #834
@micheal-w-wells Wasn’t sure what to do with these.

[2020-06-04 00:26] micheal-w-wells commented on #834
I'll see what these look like in the database and we can sort it out here.  This stuff is damn close but needs a few tweaks.

[2020-06-04 14:51] calebissharp commented on #824
I think this one was actually resolved by #829.

[2020-06-04 22:04] micheal-w-wells opened #837 "Hide amendment button for admin"
**Describe the task**
The myrange admin should not see the amendment button.

**Acceptance Criteria**
- [ ] They don't see it

[2020-06-04 23:24] okanji commented on #563
This is a concept for the UI for filtering by Zones. The behaviour would be that the Range users assigned zones are selected by default. Other zones can be checked/unchecked and hitting the refresh button clears the selections and applies the default.

Do comment on impressions/ changes. Thanks!

![image](https://user-images.githubusercontent.com/30703259/83819176-149ac980-a67e-11ea-9b92-3cf5f8608

[2020-06-08 21:18] ZoeSimon commented on #815
Confirmed with Chris that he is no longer seeing other agrologist's agreement in his work que.

[2020-06-08 21:18] #815 closed

[2020-06-09 16:54] LisaMoore1 commented on #563
@okanji I like this. One thing that might be helpful is some sort of select all option that would allow the user to select all for their district as I think that is the most likely thing a staff person would do — the use case being “I want to search for an RUP that isn’t in my zone but I’m not sure which zone it is in”.  This would require the ability to both see the full list and then search with

[2020-06-09 18:14] okanji commented on #563
@LisaMoore1 thanks for your feedback, I agree that would be useful. I will integrate that feature in and post the updated design here

[2020-06-09 19:24] okanji commented on #563
_Additional feedback:_ Would be nice to show the applicable range officers name next to the assigned zones

[2020-06-09 20:58] LisaMoore1 commented on #552
This is the text for the little info dot visible to both staff and agreement holders.
“The number of days flexibility on either side of the date(s) shown in the schedule for livestock movement. Example: for a grace day of 1 a compliant move would be one that occurs the day before, day of or day after the date indicated in the schedule.”

[2020-06-09 21:12] LisaMoore1 commented on #753
SUBMIT AS MANDATORY
Staff have initiated this mandatory amendment based on a minor amendment that, while deemed wrongly made, could be considered for decision as a mandatory amendment.

[2020-06-15 21:27] #803 closed

[2020-06-15 22:26] micheal-w-wells commented on #800
Because of the many many manual steps needed to do this one I'm going to wait until I've again got cypress working on my machine (dealing with 7700 currently), to advance our UI tests to help me iron this one out.  I'm also putting #633 ahead of this one based on issues we are seeing in the myrange inbox.

Apologies for leaving this one in the 'in progress' over last week - lost a few days to holi

[2020-06-15 22:28] micheal-w-wells commented on #826
Current cypress testing set up is not windows pc friendly and i've lost more time than I would like to admit trying to remedy that, going to park until i have a working gov workstation.

[2020-06-15 22:33] micheal-w-wells commented on #633
@LisaMoore1 @ZoeSimon

Given I have another short week and a bunch of time to spend on invasives stuff, I'm going to make this "my one myra task" to move on.  We made some steps forward in the last change to client linking and I think also a step backward, and this part of the app (along with signatures) needs to be bullet proof.

I'm going to start with this ticket to look at linking and plan sig

[2020-06-15 22:47] micheal-w-wells commented on #673
Gist of what is needed to enhance the current solution:

Right now we use a set of standing deployment configs that subscribe to image changes, and from github we trigger the build and then tag it and we're done.

What is needed to make this a 'truly' PR based approach (not one that just fires on a PR like ours) is to:

- Create a unique ID (or take one from the PR that GH provides) for each deplo

[2020-06-15 23:53] #824 closed

[2020-06-16 00:08] #769 closed

[2020-06-16 00:13] #753 closed

[2020-06-16 00:25] micheal-w-wells commented on #633
I think part of the winning strategy will be to keep a log of signature records and associate them to particular snapshots, and when we move to a new 'need to act/sign eventually' status we create a fresh batch for each RUP.  I think a lot of the client linking pain can be resolved by changing the page to link all `client_id`'s for a given client number, and amend the sync job to 'keep that user i

[2020-06-16 00:30] micheal-w-wells commented on #633
The 'new' plan confirmation table will look like

`id` `plan_id` `user_id` `plan_version` `confirmed` `date` and maybe `reason`.

The client linking table we can keep the same, but change either the endpoint or the UI to handle linking the client ID's as a group.

The sync job and the trigger that cleans up old client agreements will need to look at  the plans status.

The sync job and the trigger

[2020-06-16 00:41] micheal-w-wells opened #842 "Convert range-web and range-api to mono-repo"
**Describe the task**
Rather than have separate repositories, we would have one to encompass both web and API.  This is to support #673, reason being is that with a PR based deployment, you get a PR based URL (https://test_app.ca/PR22), which is great, however, if the API is in a separate repo, and it's endpoints (which the web site needs) are also PR specific (and would have their own set of numb

[2020-06-16 00:43] #672 closed

[2020-06-16 00:46] micheal-w-wells opened #843 "Update client linking page to assign all loc codes for a client number"
Currently in Myra a 'client_id'  is an id assigned to a client number + location.  This however means linking is done very granularly and often requires staff to go relink the same person to another one of their locations.

We can leave the client_id part of it alone but make sure that all the location codes are linked at once for a given client number on that page.  There will be a  separate issu

[2020-06-16 15:57] micheal-w-wells opened #844 "from staff: weird behaviour for grace days"
**Describe the bug**
When it is zero it reads as 'not provided on pdf'
Sometimes when changing the number it reverts to 1

**Expected Behaviour**
It should stay whatever number it gets set to and the pdf should reflect the same thing

**Actual Behaviour**
See description above.

[2020-06-16 16:25] micheal-w-wells opened #845 "Ranchers shouldn't be able to edit PLD or grace days"
**Describe the task**
Title says it all, means staff need to be vigilant to make sure people don't just change it to whatever they want.

**Acceptance Criteria**
- [ ] they are read only fields for AH

[2020-06-16 18:25] ZoeSimon opened #846 "Range staff RUP delegation"
**As a** *Range Staff person* **I want** *to delegate my RUP* **So That** *Another staff member can act on it using my roles and permissions*

**Additional Context**
- This solution is meant to cover off that staff are able to have other staff cover for them if they leave, and also to facilitate the DM workflow

**Acceptance Criteria**
- [ ] Any staff member can delegate their RUP to any other sta

[2020-06-16 18:37] ZoeSimon opened #847 "DM Work Queue"
**As a** *Decision Maker (DM)* **I want** *to see/filter for and sort for actionable RUPs (those awaiting decision) * **So That** *it is easy to see what needs to be acted on (recommended ready) in addition to having the ability to view approved RUPs*

**Additional Context**
- Refer to ticket #846

**Acceptance Criteria**
- [ ] The DM can see awaiting and approved RUPs in District (and any assigne

[2020-06-16 18:38] ZoeSimon commented on #773
Tickets created for this: #846 & #847

[2020-06-16 18:45] ZoeSimon commented on #774
Linked to ticket https://github.com/bcgov/range-api/issues/217

[2020-06-16 18:49] ZoeSimon opened #848 "Create file attachment list"
**Describe the task**
Expand on [previous U](https://github.com/bcgov/range-web/pull/421)I for file attachments. We need to take what Kaileen had originally started and make it work for recommendation packages, maps etc. It needs to work with API endpoint reference bcgov/range-api#217.

**To do for @LisaMoore1 **
- [ ] Who should be able to attached what and where
- [ ] Who should be able to see i

[2020-06-16 18:53] ZoeSimon commented on #563
@okanji is all the the UI done for this one? Are we still working on back-end changes?

[2020-06-16 18:59] ZoeSimon opened #849 "Make API end-point for RUP Delegation"
**Describe the task**
Make API end-point for RUP Delegation.

**Acceptance Criteria**
- [ ] Should allow any DM to delegate any RUP they have access to, to any other DM or range staff member
- [ ] Should allow any range staff member to delegate a RUP to anyone else in their District
- [ ] Delegated party should inherit all permissions
- [ ] Range staff should be able to pass back delegated RUP to

[2020-06-16 19:11] ZoeSimon commented on #263
@micheal-w-wells

[2020-06-16 19:41] okanji commented on #563
Still working on backend but hoping to resolve this today

[2020-06-16 23:38] micheal-w-wells opened #850 "grace days not on pdf"
**Describe the bug**
see subject, as reported by staff

[2020-06-17 20:19] LisaMoore1 commented on #848
In each category there could be more than one attachment
When minor amendments are made if a map is added it must automatically be attached to the new version(s) — the current legal version must always show a map (if there is one)
When a mandatory amendment occurs the past attachments should not automatically move forward — staff must identify (confirm) map and other attachments to include — i.e.

[2020-06-29 17:16] micheal-w-wells commented on #378
@LisaMoore1  to dig in to

[2020-06-29 17:17] #146 closed

[2020-06-29 17:19] #603 closed

[2020-06-29 17:27] micheal-w-wells opened #854 "Bare bones needs for file attachment functionality"
- [x] Need to toggle which attachments agreement holder can see
- [x] Ideally some way to group them (folders/naming)
- [x] file upload
- [x] file delete
- [x] file download
- [x] tab or similar simple UI (Oamar to help figure out) off a RUP
- [x] only staff can upload*  if its easy to allow AH too, then go for it
- [x] AH can see files marked that they can see

[2020-06-29 17:40] micheal-w-wells opened #855 "Bare bones DM"
- [x] Can see RUP(s)
- [x] Can see recommendation/attachments
- [ ] Help text to be determined during UI dev of file attachments
- [x] Can capture decision by moving buttons over to DM from staff
- [ ] Add conditions text area that only they can edit to the RUP.  @LisaMoore1 to write description/help text

[2020-06-29 17:43] micheal-w-wells opened #856 "bare bones delegation and agency agreements"
Mike, Lisa, and Caleb to work on a gameplan today and get back to team.

[2020-06-29 21:31] calebissharp opened #857 "Create agent linking page on RUPs"
**As a** *staff person* **I want** *a page where I can link clients on an RUP to a user account to act as their agent* **So That** *agreement holders can have other users act on their behalf*.

**Additional Context**
- Can access a 'Manage agents' page/tab when on an RUP
- This page shows a list of all clients for that agreement (from the `client_agreement` table)
- Beside each client there is a d

[2020-06-29 23:27] micheal-w-wells commented on #633
The big operational problem with this one is caused by how FTA and Myra handle dispositions which I fixed in a PR.  I think we'll still want to move to user_id  instead of client ID in this table but I think the fix just mentioned is worth getting out prior to that.

[2020-06-29 23:28] micheal-w-wells commented on #633
Let's test this against a prod backup and run the import against it and see if it stops signatures from getting wiped.  Keep the issue open for now anyway as there's other work to be done on it.

[2020-06-30 16:16] #544 closed

[2020-06-30 16:17] LisaMoore1 commented on #655
Has not been fixed but is not impacting function.  Lower priority. Moving to icebox.

[2020-06-30 16:22] LisaMoore1 commented on #656
Not yet resolved but not limiting function. Some risk of incomplete entry but staff will be confirming entries are complete.  Moving to icebox for now.

[2020-06-30 16:46] LisaMoore1 commented on #378
Issue and really should be resolved.  Nearest I can figure out validations are running correctly with selecting “save” but if changes are made and “submit” is made before a save function the changes aren’t lost (it is saving) but the validations don’t seem to be running.

[2020-07-03 18:58] calebissharp commented on #563
@LisaMoore1 This feature's been merged in, so should be ready for you to take a look when you have time.

[2020-07-03 22:07] calebissharp commented on #378
@LisaMoore1 I've added validation before submission. This should be good to look at again.

[2020-07-06 14:12] micheal-w-wells commented on #537
@calebissharp ping me when there's something in test that normally would require a cache clear to see once deployed.  I'll hop in, look, and ideally close this issue.

[2020-07-06 14:13] calebissharp commented on #537
@micheal-w-wells Manage clients page should be behaving a little bit different now, since it will link all location codes.

[2020-07-06 14:22] micheal-w-wells commented on #537
@calebissharp  Blocked by this (also get in incognito once most of the page loads):
![image](https://user-images.githubusercontent.com/955467/86603601-0da2f780-bf59-11ea-8816-39b6ecb32b8e.png)

[2020-07-06 14:54] calebissharp commented on #537
That's strange. Are you signed in as AH or staff?

[2020-07-06 15:00] calebissharp commented on #537
@micheal-w-wells Could potentially be related to the zone select stuff.

[2020-07-06 17:52] calebissharp commented on #537
@micheal-w-wells Are you still getting this error?

[2020-07-06 18:03] micheal-w-wells commented on #537
![image](https://user-images.githubusercontent.com/955467/86624509-430b0d80-bf78-11ea-94f2-b17e7cd66b11.png)

[2020-07-06 18:05] calebissharp commented on #537
@micheal-w-wells Can you upload the error in the console too please?

[2020-07-06 18:24] micheal-w-wells commented on #537
![image](https://user-images.githubusercontent.com/955467/86626193-35a35280-bf7b-11ea-9eff-e3de28112152.png)

[2020-07-06 18:25] calebissharp commented on #537
Are you an agreement holder perhaps?

[2020-07-07 15:24] micheal-w-wells commented on #537
Sorry ran out of time to keep checking github yesterday.  No I'm definitely staff.

[2020-07-07 15:25] calebissharp commented on #537
@micheal-w-wells It looks like you're actually getting 401 on every request. Try signing out again, maybe clearing local storage too.

[2020-07-07 15:27] calebissharp commented on #633
I'm going to move this out of QA because we haven't actually implemented the `user_account` link yet, on either the backend or frontend.

[2020-07-07 15:32] micheal-w-wells commented on #537
Is there an endpoint I can hit to sign out easily without wiping storage?  Was really trying to avoid that so we could get this issue closed.

[2020-07-07 15:33] micheal-w-wells commented on #633
All good,  I'll see if I can find time to test the interim solution so we can push it out this week, ideally i run it against a prod backup.

[2020-07-07 15:43] calebissharp commented on #537
This feels more like an issue with the role switching that you do. The user object is kept in localstorage, so you can end up with outdated info since it doesn't refetch every time. That isn't really related to this issue though.

[2020-07-07 15:44] calebissharp commented on #537
Incognito should work too though, assuming you've closed out of all previous incognito windows.

[2020-07-07 22:42] okanji commented on #848
@LisaMoore1 re your noes on the different categories, it seems to me like only staff should be able to upload attachments. Is this correct?

[2020-07-07 23:00] LisaMoore1 commented on #848
Yes.  Staff can upload attachments for sure.

[2020-07-07 23:04] okanji commented on #848
Sounds good. Should Agreement holders be able to upload as well?

[2020-07-07 23:12] LisaMoore1 commented on #563
- I should not have option to Edit or start a new plan for a RAN not assigned to me — which I can at present (should be view only for anything not assigned to me)

- Some sort of “Error:” message showing up in work queue directly under every file that has a RUP and not assigned to me

Conceptually good although it is a little irritating to have to individually click the zones rather than a single

[2020-07-07 23:16] LisaMoore1 commented on #848
If I remember correctly for this basic version we were going with just staff. @micheal-w-wells might know better.  We can get by with just staff for now provided that DMs are able to submit comments in a field that then is visible in a section of the RUP.

[2020-07-07 23:20] okanji commented on #563
@LisaMoore1 thanks for taking a look at that. I will address the 'error' and being able to edit plans that are not assigned to the logged in user.

I struggled to implement the ability to select/clear all. The component library Material UI does not allow multiple actions on a dropdown list and I was not able to override this. It is something that I can look into further or perhaps just have a butt

[2020-07-07 23:21] okanji commented on #848
Okay sounds good @LisaMoore1 thanks for the clarification

[2020-07-08 15:42] micheal-w-wells commented on #848
Let's just do staff, but there should be a toggle for whether or not the attachment is one that should be visible for staff vs AH.

[2020-07-08 15:56] LisaMoore1 commented on #563
@okanji @calebissharp It seems like I can view plan OK when I first log in but After I’ve deselected some of my zones and selected others I start to get these errors. Am going to explore more and will add any other discoveries here.

![E7A58362-9D81-40DF-98D7-E803AD2B879D.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/19dd7b5b-88c2-46d8-a670-f702e3ea56ff)

[2020-07-08 17:23] LisaMoore1 commented on #378
RAN099962 (Provide Feedback)
- I deselected Minister’s Issue (Riparian) toggle
- I deleted the required “details” field

I was unable to save — expected
I was able to request changes without seeing any validation — unexpected

[2020-07-08 17:36] calebissharp commented on #843
Should be resolved by #852

[2020-07-08 18:18] calebissharp commented on #563
@LisaMoore1 Are you still getting this error?

[2020-07-08 18:25] LisaMoore1 commented on #563
@calebissharp I was this morning. Should I clear cache again and start over to see?

[2020-07-08 18:26] calebissharp commented on #563
Yes please (although try it first without clearing cache)

[2020-07-08 18:34] LisaMoore1 commented on #563
@calebissharp I am still getting this problem viewing any plans that are not assigned to me. As noted above there is also an “Error:” line under each RAN not assigned to me in the work queue.

I’m not sure if it is expected behaviour but if I select specific zones to view (say I add your, Oamar and Zoe’s zones) then I view a plan (in this case one of mine since that doesn’t punt me to retry screen

[2020-07-08 18:44] okanji commented on #848
This is what I have for the categories. @LisaMoore1 @micheal-w-wells what do you think about this? @LisaMoore1 do we have a solid idea about what the categories should be (if not we can always add/ change categories in the future).

![image](https://user-images.githubusercontent.com/30703259/86957710-f6f2d100-c10f-11ea-8c76-327aeb7a5d51.png)

@micheal-w-wells  I will add the toggle for whether or

[2020-07-08 18:56] LisaMoore1 commented on #848
I think our most likely attachment type is decision recommendation which could consist of things like:
- recommendation summary
- consultation record
- potentially referral info from some other agency like parks/stewardship

Since consultation information is one aspect of the larger “decision materials” category I wonder if it might work to have the categories something like
- map attachment
- dec

[2020-07-08 21:19] calebissharp commented on #563
@LisaMoore1 Try again (just to see if the error is fixed)?

[2020-07-08 22:16] LisaMoore1 commented on #563
@calebissharp was still getting it just now until I cleared cache and now WQ no longer has error rows and I’m not getting Retry screen. Yay! :)

[2020-07-08 22:17] okanji commented on #563
Nice one @calebissharp!

[2020-07-09 14:53] calebissharp commented on #563
@LisaMoore1 Just merged another PR that should hopefully fix the permission issues you saw. Let me know if that works.

[2020-07-09 21:20] LisaMoore1 commented on #563
@calebissharp.
- Persistence of selections seems good.
- Wondering if there is some sort of funky duplication in the zone list (fifth test zone) or if there are just two zones with the same name and I didn’t notice it yesterday.
- Is there a way of disabling the “New Plan” button or changing text to “No plan” for those I’m not the contact for? As is, I can select it but then when I can’t edit fiel

[2020-07-09 21:57] calebissharp commented on #563
@LisaMoore1 I have a duplicate "Fifth test zone locally". I think this is just an artifact in the test data we seed the DB with.
![image](https://user-images.githubusercontent.com/8854811/87094764-50343080-c1f4-11ea-8e1f-5ad82abe0be7.png)

Good catch with the hiding of the "New plan" button. It had crossed my mind yesterday, but didn't make it into the pull request. Shouldn't be too difficult.

[2020-07-15 14:21] calebissharp opened #865 "RUP form should have a conditions section"
**As a** *Decision Maker* **I want** *to have a conditions section on the plan form* **So That** *I can provide conditions for an RUP when making a decision*.

**Additional Context**
- Will probably just be a text field at the top of the form
- Should only be editable in the statuses where DM can make a decision
- Another column will have to be added to the `plan` table. I'm not going to track tha

[2020-07-20 16:51] ZoeSimon opened #870 "Non-use issue"
From @micheal-w-wells's email:

"Sarah has had this one for awhile, 2 things (may or may not be related):

1) Animals say as not provided when she selected 0
2) It doesn't let her recommend ready and says there is a problem with the schedule, the only anomalous bit other than above is that they are non use years, and I'm wondering if there is some funny javascript math going on, playing in the bro

[2020-07-20 17:05] calebissharp commented on #870
Having trouble reproducing this one. I'm setting `# of Animals` to 0 and my non-use is also 0.

[2020-07-20 21:43] ZoeSimon opened #872 "URL link in RUP pdf"
A Range Officer has identified that when they open their RUP in pdf and attempts to click on the URL in the "Additional Requirements" section:

![Additional Requirements URL.jpg](https://images.zenhubusercontent.com/5e78e949a7e29c75200dbef5/cf94dc75-dd94-4777-a986-80e1fd3dd87c)

they are led to a page that says:

![Additional Requirements.jpg](https://images.zenhubusercontent.com/5e78e949a7e29c752

[2020-07-21 17:16] calebissharp commented on #870
@micheal-w-wells Can you check what's in the database for this RAN?

[2020-07-21 17:45] calebissharp commented on #378
@LisaMoore1 This is ready to look at again when you get the chance.

[2020-07-21 23:02] okanji commented on #865
@LisaMoore1 what should be the tip text for the conditions?
![image](https://user-images.githubusercontent.com/30703259/88115689-9cc02a00-cb6b-11ea-9c20-eebc9aa60daa.png)

[2020-07-22 15:58] LisaMoore1 commented on #865
@okanji I’m not sure if tip text is needed.  Based on the UI would the DM be entering conditions into a specific field (like above) or in a popup style box? I ask because conditions would be the only section of the plan DMs would enter information.
What might make most sense is to have staff enter the recommended (proposed) conditions in the field  and leave that field editable to decision maker —

[2020-07-22 16:14] okanji commented on #865
@LisaMoore1 thanks for your feedback. I will look into implementing the following:

- Staff can enter the recommended (proposed) conditions
- Decision maker can edit the conditions
- Decision maker should be prompted/ directed to changes in the conditions such that they check/ update it

- Implement helper text: **Consistent with FRPA 112 the following conditions are imposed and form part of the R

[2020-07-22 18:18] LisaMoore1 commented on #378
@calebissharp
- Now validating for missing fields and preventing submission where any missing (expected behaviour).
- Still allowed submission when Minister’s Issue or plant community toggles set to off (this is not expected behaviour).

[2020-07-22 18:19] #656 closed

[2020-07-22 18:26] #563 closed

[2020-07-22 19:55] LisaMoore1 opened #874 "Issue with which RANs show in work queue after doing some selecting of zones"
After showing/hiding other zones a few times I was only seeing agreements belonging to me that did not yet have plans

[2020-07-22 20:34] LisaMoore1 commented on #857
@calebissharp I’ve attached image with notes:
- text looks like the agent will be for all agreements related to that CLIENT_loc (actually just for this RAN) so needs some explanation of that (or at the very least really highlight the RAN as it isn’t showing anywhere on this screen right now
- there is no navigate back button
- after save the SAVE button still present and active = made me wonder if

[2020-07-22 20:45] calebissharp commented on #857
@LisaMoore1 I can't see the image, but your notes make sense to me.

[2020-07-22 21:09] LisaMoore1 commented on #857
![DF2144B4-454D-4503-938F-C5D50854638A.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/a947af10-9210-4d67-8c90-f70dfe9cf365)

[2020-07-22 22:57] calebissharp commented on #857
@LisaMoore1 Ready for another look-over once the deploy completes.

[2020-07-22 23:07] LisaMoore1 opened #876 "Change PDF for RUPs with agent to “...by agent...” before the name of the agent for clarity"
![82C227FC-FA2C-4F59-B50B-022B6BEE24BA.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/aa82dea4-1da3-4fbe-9e31-79fb83e63ba3)

[2020-07-22 23:47] okanji commented on #865
@LisaMoore1 the PR above contains the functionality initially outlined at the top of this issue. I decided to push that and am continuing to work on the additional features that you have put forward above

[2020-07-23 16:19] LisaMoore1 commented on #857
@calebissharp Looks great. How big would it be to add a link back to the RUP version from which we came?

[2020-07-23 16:23] LisaMoore1 commented on #857
Maybe like this but instead of “Back to RUP” just “Back”
![B72F4D7B-66A9-40FE-BA2B-40BE9035F7A2.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/bc21cd50-da23-4aa5-918b-d9203062a2be)

[2020-07-23 16:24] calebissharp commented on #857
@LisaMoore1 Sure, I can change it to make it similar to the button on the versions page.

[2020-07-23 16:24] LisaMoore1 commented on #856
Closing this because I think we are likely past bare bones and into the details.  Please reopen if still needed.

[2020-07-23 16:24] #856 closed

[2020-07-23 16:34] LisaMoore1 opened #878 "Staff no longer have options related to decisions (was record recommendation step) so cannot submit to DM"
See this image where I am signed in, am the contact and the decision is noted as ready for decision but I do not have any options to that effect in the drop down menu.  Thinking this is a bug unless is interim to having DM able to record decision on file? If so feel free to axe this issue and point me at the right ones for implementing DM digital decision making.

![DF4B3D5E-7493-4082-84D1-228B562

[2020-07-23 16:37] LisaMoore1 commented on #878
Maybe related to ongoing work on #855. Sort of a middle ground at the moment where we’ve removed ability to record recommendation to DM but haven’t implemented the digital recommendation/DM signature. Maybe?

[2020-07-23 16:39] LisaMoore1 commented on #855
I think this is related to web #865 and #877.

[2020-07-23 16:42] LisaMoore1 commented on #857
@calebissharp Great! I think once that is implemented this one can be closed. There is likely something I haven’t caught in testing yet (that seems to be a common thing for me)...but from what I’ve done I really like it!

[2020-07-23 17:02] LisaMoore1 commented on #843
@micheal-w-wells I’ve got some questions here re. removing the option to assign a different user (BCeID) to the different location codes.  Also noted that there are differences in the Step 2 drop down depending on whether you enter search text (ex. McFee) versus scroll through list without entering search text.  I can’t pin down exactly what the issue is except I wonder if it might be grouping loc

[2020-07-23 17:40] calebissharp commented on #878
@LisaMoore1 I've pushed a fix for this.

[2020-07-23 17:44] calebissharp commented on #857
Closed via #879

[2020-07-23 17:44] #857 closed

[2020-07-23 18:19] calebissharp commented on #378
@LisaMoore1 Ready to test.

[2020-07-23 18:32] #876 closed

[2020-07-23 18:57] calebissharp commented on #874
@LisaMoore1 Are you able to provide some screenshots and steps to reproduce this?

[2020-07-23 22:59] LisaMoore1 commented on #874
I have had it happen a couple of times after I’ve been testing for awhile. Next time it does I’ll screenshot what I can (not much to see except I seem to be missing things) and see if I can identify anything else useful.

Losa
________________________________
From: Caleb Sharp <notifications@github.com>
Sent: July-23-20 11:57:31 AM
To: bcgov/range-web
Cc: Moore, Lisa FLNR:EX; Mention
Subject: Re:

[2020-07-24 15:13] calebissharp commented on #874
@LisaMoore1 Ok, sounds good. Can you include the exact URL when you are able to reproduce this again? Thanks.

[2020-07-27 14:31] calebissharp commented on #633
I think this is the trickiest thing to handle. How do we determine if a different `location_code` _is_ a different person?

[2020-07-27 14:37] calebissharp commented on #845
@micheal-w-wells I don't think agreement holders can edit grace days/PLD?

![image](https://user-images.githubusercontent.com/8854811/88554961-00b77800-cfdc-11ea-93e9-31f6ee64f2ae.png)
![image](https://user-images.githubusercontent.com/8854811/88554983-0a40e000-cfdc-11ea-80b4-183d58a374a5.png)

[2020-07-27 15:02] LisaMoore1 commented on #633
@calebissharp I think we identify if it is a different person by if the staff person links that location code to a different BCeID (hence my concern about what looked like an automatic link one user to all locations in a different #843

[2020-07-27 15:15] LisaMoore1 commented on #633
@calebissharp @micheal-w-wells. Also note that when entries in FTA/CLIENT are correct, for individuals:
- -00 location is the individual alone
- -01-anything else is the individual as a joint venture partner with someone else
- in both of these cases they are the same individual (but they could have different agents)

For businesses
- -00 location is the original business entry
- - 01-anything els

[2020-07-27 15:25] calebissharp commented on #633
How are we able to determine the type of relationship? Is that actually explicitly recorded, or just something that people know?

[2020-07-27 19:22] calebissharp commented on #837
Looks like this was fixed at some point.

[2020-07-27 19:22] #837 closed

[2020-07-27 21:44] ZoeSimon commented on #714
Schedule rows are still re-ordering after entering manually and hitting save:
![image](https://user-images.githubusercontent.com/62561887/88595024-1b5b1280-d017-11ea-8d39-8c3950f46174.png)

But after using the toggle feature (for either the pasture or date) and hitting save they stay in the correct order.

[2020-07-27 21:44] #714 closed

[2020-07-27 21:50] ZoeSimon commented on #872
Link in pdf is working :)

[2020-07-27 21:50] #872 closed

[2020-07-28 17:22] micheal-w-wells opened #888 "non use aum math problem"
make a plan
find the usage related to the agreement in the db
edit the usage to be zero aums for a year or so
add schedule to plan, set number of animals to 0
see if the plan can roll through statuses without barking about 'invalid schedule rows'

[2020-07-29 14:32] calebissharp commented on #843
@micheal-w-wells Can you show me what's in `ref_client` for those two clients? (#00002178, #00033091)

[2020-07-29 14:49] calebissharp commented on #870
@micheal-w-wells Just going to ping you here again.

[2020-07-29 15:01] calebissharp commented on #878
Closing because the fix appears to work for me in test.

![image](https://user-images.githubusercontent.com/8854811/88816765-9b958b00-d171-11ea-8b48-ad2f7ebedca7.png)

[2020-07-29 15:01] #878 closed

[2020-07-29 15:04] calebissharp commented on #847
Realized I missed the district column here, going to quickly add that in.

[2020-07-29 15:54] LisaMoore1 commented on #848
@calebissharp @okanji Trying to test this morning.  Have noticed that when after an agreement holder has signed attachments can no longer be added.  We need to be able to add decision materials at that time (in fact that IS the time when he decision materials get added).
- Ideally only “decision materials” attachments would be possible at this time — not sure if the attachment options can be divid

[2020-07-29 16:10] LisaMoore1 commented on #378
@calebissharp
I’m getting a message (something like “There are one or more plant communities that have note been approved by the DM”) if I try to submit without selecting the plant community toggle — expected
I’m not getting any such message for the Minister’s Issue toggle and am being moved straight through into the he submit to AH popup screens (and can submit to AH) — not expected

[2020-07-29 17:47] calebissharp commented on #848
@LisaMoore1 Do you think we can just blanket allow staff to attach files in any status?

[2020-07-29 19:47] LisaMoore1 commented on #848
Legally we can’t allow content changes to something that the AH has already signed.  The map is considered content. All the statuses up to confirmed by AH should allow attachments (original plan and amendments). Once AH has signed staff need to be able to attach decision materials — that’s the tricky one I think.  It’s really the map that needs to be locked down in the statuses that “follow” AH si

[2020-07-29 21:24] calebissharp commented on #848
@LisaMoore1 Gotcha. It helps us to know what we can get away with for making the implementation easier, ya.

@okanji I think what we do here is wrap the `Attachments` component (or maybe all of the attachment components in `PlanForm`) in another `EditableProvider`. We then create another function that looks like `canUserAddAttachment = (user, plan) => bool` and pass that to the `editable` prop of

[2020-07-30 20:05] calebissharp commented on #378
@LisaMoore1 Sorry, didn't know about the minister issue toggles. Should be good to go.

[2020-07-30 20:06] calebissharp commented on #537
@LisaMoore1 Are you seeing new changes in test without having to clear cache now? If so, I think we can close this.

[2020-07-30 23:20] micheal-w-wells commented on #537
@ZoeSimon saw new changes I'm closing

[2020-07-30 23:20] #537 closed

[2020-07-31 13:29] calebissharp commented on #888
From #870:

[2020-07-31 13:29] calebissharp commented on #870
Closing as duplicate of #888

[2020-07-31 13:29] #870 closed

[2020-07-31 13:30] calebissharp commented on #800
@micheal-w-wells Do you remember what was actually left with this issue?

[2020-07-31 13:47] calebissharp commented on #826
@micheal-w-wells I know we weren't quite able to get this one done, and your computer situation made it exceptionally more difficult, but I think we've got enough of a boilerplate here though for tests to be added fairly easily now.

[2020-07-31 13:47] calebissharp commented on #848
@okanji I'm going to implement this because it sounds like you're busy with the conditions stuff.

[2020-07-31 17:54] okanji commented on #848
@calebissharp sounds good thanks

[2020-07-31 21:50] calebissharp commented on #848
@LisaMoore1 Ready to go again, Range Officers should be able to add attachments in the right statuses.

[2020-08-05 20:58] calebissharp commented on #854
List of allowable statuses https://github.com/bcgov/range-web/blob/dev/src/utils/helper/plan.js#L247

[2020-08-06 16:14] LisaMoore1 opened #894 "As AH unable to submit a plan (Chrome - laptop)"
After opening RUP (RAN099964) and selecting submit button following screen appears (undefined). Right side is below the yellow line is what was generated ![RAN099964 Submit (below yellow).jpg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/e115d122-eba1-4623-ad91-b1f2182fc127)

After doing a couple of other things I went back to Workque, opened same plan and saved and got this:
![RA

[2020-08-06 16:19] LisaMoore1 commented on #894
Browser back button to return to WQ then reopened and saved:
![return to WQ and save RAN099964.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/87003500-c214-4656-a019-2d88510ad630)

[2020-08-06 16:20] calebissharp commented on #894
@LisaMoore1 Did you reload the page after navigating back to the work queue?

[2020-08-06 16:26] LisaMoore1 commented on #894
login as andy
refresh WQ (using browser button)
Open RAN099964
Save draft
Get this:
![RAN099964 login refresh open save.jpg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/767359c1-f2c2-4fa0-b737-b3ca58a7dc47)

[2020-08-06 16:34] LisaMoore1 commented on #894
refresh WQ
Open RAN099964
Submit
![RAN099964 submit (below yellow)2.jpg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/a2afb868-d9a8-4602-90a2-76c44078bdd4)

[2020-08-06 16:40] LisaMoore1 opened #895 "As staff person, selecting recommend ready or recommend not ready is saving but not changing status such that decision maker can action (Attempted RAN099961 (amendment))"

[2020-08-06 16:45] LisaMoore1 commented on #895
![RAN099961 Recommend Ready.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/f395defc-41a4-46b8-abec-37aac053b424)

[2020-08-06 18:26] LisaMoore1 opened #896 "RAN096665 staff draft — submit button runs save but not submit"
Maybe same as #894 -- but staff side?  Probably but thought I'd better add it.

[2020-08-06 18:26] LisaMoore1 commented on #896
![RAN099965 Submit.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/0677ee17-61a6-45c4-9284-153f402a14c9)

[2020-08-06 18:54] micheal-w-wells commented on #894
[code]

@calebissharp

[2020-08-06 20:51] calebissharp commented on #896
@LisaMoore1 Does this just happen for new plans (ie. you create a plan with the "New Plan" button and immediately submit it, without saving at all)?

[2020-08-06 20:56] LisaMoore1 commented on #896
No. Attempted on plan that already existed.

Lisa

From: Caleb Sharp <notifications@github.com>
Sent: August 6, 2020 1:52 PM
To: bcgov/range-web <range-web@noreply.github.com>
Cc: Moore, Lisa FLNR:EX <Lisa.Moore@gov.bc.ca>; Mention <mention@noreply.github.com>
Subject: Re: [bcgov/range-web] RAN096665 staff draft — submit button runs save but not submit (#896)

[EXTERNAL] This email came from an ex

[2020-08-06 20:59] calebissharp commented on #895
In your screenshot, is this after you selected "recommend (not) ready"?

[2020-08-06 21:05] LisaMoore1 commented on #895
Yes.

Lisa

From: Caleb Sharp <notifications@github.com>
Sent: August 6, 2020 2:00 PM
To: bcgov/range-web <range-web@noreply.github.com>
Cc: Moore, Lisa FLNR:EX <Lisa.Moore@gov.bc.ca>; Author <author@noreply.github.com>
Subject: Re: [bcgov/range-web] As staff person, selecting recommend ready or recommend not ready is saving but not changing status such that decision maker can action (Attempted RA

[2020-08-07 15:00] calebissharp commented on #895
Most likely a duplicate of #896

[2020-08-25 15:56] LisaMoore1 opened #900 "On Submit getting an “unexpected error ...minister issue that have not been identified by the minister” error even though it has been identified."
Related to #378 (I think)
Impossible to submit a plan that includes an issue therefore a critical bug.

![53F4C88C-6D7C-4B91-8FAB-3A96EE44AE4F.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/d2349abc-c41b-462f-a1bf-ce6b903c0b0b)

[2020-08-25 16:12] LisaMoore1 commented on #900
Captured in #378 so duplicate. Closing this one.

[2020-08-25 16:12] #900 closed

[2020-08-25 16:49] LisaMoore1 commented on #855
DM unable to view attachments sent to visible to all staff.
![D795241D-7A6C-4014-BA7A-67621CB6550C.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/e78ebea1-dc95-4cb5-853c-a30084365550)

DM unable to edit the conditions field (note that staff also unable to edit their field during any status that I can find)
![90BD5FB8-6835-43F4-B3AC-7AE1B4E37A10.jpeg](https://images.zenhubuserc

[2020-08-25 16:51] #848 closed

[2020-08-25 16:56] LisaMoore1 commented on #847
Very difficult for DM to quickly see what requires their attention (sorting doesn’t bring what they actually need to the top).
Some sort of “To Action” toggle that filters down to what they need to action versus all needed or we will not get buy in from DMs
Statuses that DM may need to action are (I think) 15 and 16 as well as the minor amendment one that is requesting the decision maker make a wr

[2020-08-25 16:57] #403 closed

[2020-08-25 17:00] #854 closed

[2020-08-25 17:01] #895 closed

[2020-08-25 17:03] LisaMoore1 commented on #896
@calebissharp can’t test this one because it has a minister’s issue and I can’t submit any that have minister’s issues at the moment (see #378). Will test as soon as #378 resolved.

[2020-08-25 17:13] calebissharp commented on #378
@LisaMoore1 Why was this one moved back into "In Progress"?

[2020-08-25 17:26] calebissharp commented on #847
@LisaMoore1 We don't have any filter functionality in the agreements endpoint, so this feature would be non-trivial to implement. Because of time limitations, I think we should focus on critical features and bugs instead.

[2020-08-25 17:27] LisaMoore1 commented on #894
Still not working.  Wondering if it has anything to do with some weirdness in the minister’s issue (the not provided on the approved by minister)
![8E820477-3404-49B8-BE44-26268D409329.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/c10106c0-83ce-4dd8-b0e3-356b89046bfb)

Interesting because it is now not pulling any errors in dev tools but after I get the “Saved” message it is s

[2020-08-25 17:41] LisaMoore1 commented on #378
Somehow managed not to post my comment. Sorry @calebissharp.  Getting a message that the toggle hasn’t been set to identified (true) even when it clearly has.
![51614621-9094-46AE-AD80-ACD2D8C2D60C.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/cc58674e-064f-4a3c-a965-fb3741be0c53)

[2020-08-25 17:48] LisaMoore1 commented on #847
@calebissharp was just working through the bullets at the top of this issue and filter was one of them so moved here.
I get that if it is a big implementation task we might have to work around the DM not being able to filter for those they have to action — will be a bummer but we can handle with some process stuff with staff so they make sure they are telling DMs what RAN they need to search for t

[2020-08-25 17:54] calebissharp commented on #855
@LisaMoore1 Both of these issues should be fixed now.

[2020-08-25 17:57] calebissharp commented on #847
@LisaMoore1 DMs should be able to tell which RANs need action based on the status dot colour, if that helps. Any yellow ones are plans that need attention.

Delegation is handled by changing which user is assigned to a district in the database. It's a manual task right now, but not a super difficult one. To create a UI for that would be a substantial amount of effort, so that's why we went with th

[2020-08-25 17:57] calebissharp commented on #894
I think this is a duplicate of #378.

[2020-08-25 17:58] calebissharp commented on #378
@LisaMoore1 There was a bug in the validation logic, but it should be fixed now.

[2020-08-25 18:23] LisaMoore1 opened #903 "As staff, after the AH(s) have signed, I cannot make an attachment (most importantly decision materials) and then save (so I can wait until a later date to make the recommendation to the decision maker."
Not sure how big this is but it hung me up for awhile trying to figure out what was going on. @calebissharp Let’s look at size to address and then decide whether to do it or not. Personally I don’t see that we need to do a “save” function after adding a document.  You add the document — if you don’t want it you remove it. Common practice for staff to be working on something, get it all ready to go

[2020-08-25 18:29] LisaMoore1 commented on #855
Attachments good but DM still not able to edit the conditions field.  I’ll make another issue to indicate that staff are also unable to edit the conditions field in any status.

[2020-08-25 18:32] LisaMoore1 opened #904 "Staff unable to make entry into the recommended conditions field."
At some status staff should be able to enter recommended conditions (which DM can copy and past over if they wish). At present unable to edit this field. @calebissharp

![31995EFA-39D7-426F-A0D6-3EEA7C96FE39.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/8c92cbb2-c420-49c8-9090-f764a93880f0)

![F6F9385E-09C0-4B8C-8F30-83677166141A.jpeg](https://images.zenhubusercontent.com/5d9

[2020-08-25 18:45] LisaMoore1 commented on #894
Could be but the behaviour is different.  On this one I’m not getting the validation error messaging that I get for #378.  Related though I think. Maybe same issue but this one is the AH side versus what the staff get when they try to submit? I’m OK if you close this one as long as we make sure that the problem for RAN099964 (the only one I’ve noticed this with) is actually because of that toggle

[2020-08-25 18:50] #378 closed

[2020-08-25 18:58] LisaMoore1 commented on #903
@calebissharp “Save Draft” button here works for me. Can see that being useful as this could also be the point where they add the conditions in and would need to be able to save those (see #904)

[2020-08-25 19:31] LisaMoore1 commented on #855
@calebissharp Curious how much work/effort it would be to give the DMs the same screen AHs get when they submit for decision (the one that requires them to select the checkbox before OK to officially sign) rather than just a change status message box?  I’m worried there may be legal implications of not notifying DMs they are making a legally binding signature when they “change status”.

[2020-08-25 20:16] LisaMoore1 opened #905 "AH “Submit Amendment” is saving but not starting submit workflow"
Unable to continue with amendment flow testing until resolved. Ideas @calebissharp?

[2020-08-25 20:27] calebissharp commented on #855
@LisaMoore1 Hmm, I'm not sure. I don't think it would be simple though.

Can prioritize if this is a legal requirement though.

[2020-08-25 20:45] calebissharp commented on #905
@LisaMoore1 Can't reproduce this one. Which RAN?

[2020-08-25 20:48] #855 closed

[2020-08-25 20:48] LisaMoore1 commented on #855
@calebissharp Let’s leave the signature screen for now (I’m making a note of this issue number so I can find it again if needed). Closing this because the other elements are resolved.  Thanks!

[2020-08-25 20:48] calebissharp commented on #855
That works for me!

[2020-08-25 20:49] LisaMoore1 commented on #847
@calebissharp Closing this one but again noting the filter thing.  Will just sit on that and work the staff angle. Enhancement at some future date perhaps.

[2020-08-25 20:49] #847 closed

[2020-08-25 20:50] calebissharp commented on #903
Ok, ready to look at again.

[2020-08-25 20:51] calebissharp commented on #904
Should be fixed by #901

[2020-08-25 20:54] LisaMoore1 commented on #905
@calebissharp RAN099963
Submit is showing “Successfully saved draft” message then moving down to show this part of the screen (but I can’t find any error there).

![2E4247F6-357D-4ED9-8CE0-2039E3D35754.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/2a23b173-f619-4472-aad8-67f478c03603)

[2020-08-25 20:59] LisaMoore1 commented on #905
@calebissharp Must be something with this RAN. Submit for RAN099941 working OK

[2020-08-25 21:07] calebissharp commented on #905
I'm signing into test as both Andy Dwyer and Leslie Knope, and I'm able to hit submit on RAN099963. Maybe just reload the page and try again?

[2020-08-25 21:41] calebissharp commented on #894
@LisaMoore1 Are you still getting this issue after #902 was merged in?

[2020-08-25 21:52] LisaMoore1 opened #907 "Amend from Legal after WMWE is not working"
RAN099941 Version 21 is a minor amendment that I push through to review and then DM sets as WMWE.
The WQ shows a "Wrongly Made Without Effect" version (top most)
![5C837568-04EA-4EA4-B3E2-D2FC7367BE94.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/e2f39e88-31e7-42c2-ad3c-ddaf180e1be2)

I open that one then...after selecting "Amend from legal", the  popup stays open with these

[2020-08-25 21:59] LisaMoore1 commented on #907
@calebissharp — any ideas what might be happening here? It goes back to all of the versioning stuff.  The things that are bothering me with this are:
- the amend from legal staying up on the screen (I eventually hit cancel to get back to the WQ)
- the “AH Minor - WMWE” showing up as Approved
- I cannot find a way to look at the actual amendment that was WMWE (ex. for RAN099941 v21) from the WQ (I

[2020-08-25 22:10] #905 closed

[2020-08-25 22:10] LisaMoore1 commented on #905
Working for me now as well — and I see that MInister’s Issue toggle is now set to “true”. Closing this one.

[2020-08-25 22:16] calebissharp commented on #907
I can reproduce this locally. Seems like the `/restore` endpoint is throwing an error.

The error for reference:
[code]

Something to do with files.

[2020-08-25 22:18] LisaMoore1 commented on #894
@calebissharp still not working.

[2020-08-25 22:20] calebissharp commented on #894
@LisaMoore1 Are you still getting the same error as in this issue originally? ie. you get redirected to `/range-use-plan/undefined`?

[2020-08-25 22:28] LisaMoore1 commented on #894
@calebissharp I don't seem to be getting any now...it just isn't moving past the save part.

[2020-08-25 22:30] calebissharp commented on #907
Should be good to test once the above PR deploys.

[2020-08-26 14:29] calebissharp commented on #894
@LisaMoore1 I think this is because the minister issue toggle wasn't ever set to true.

[2020-08-26 15:12] LisaMoore1 commented on #894
@calebissharp can you or @micheal-w-wells manually change that to true and then we can see if that lets us push it through?

[2020-08-26 15:18] LisaMoore1 commented on #903
@calebissharp I’m still not finding a save button or other option to save changes (attachments Or other such As changes to conditions). Am I missing something?

[2020-08-26 15:19] LisaMoore1 commented on #904
@calebissharp I can now enter into the field. Not able to save if I’m in “decision required” though but think that will be fixed by whatever fixes #903 so closing this one.  Will reopen if necessary.

[2020-08-26 15:19] #904 closed

[2020-08-26 15:23] #896 closed

[2020-08-26 16:28] calebissharp commented on #903
@LisaMoore1 Are you signed in as a range officer? This is what I see locally:

![image](https://user-images.githubusercontent.com/8854811/91330574-7ac75200-e77e-11ea-88a3-b952f19dd47f.png)

[2020-08-26 16:29] calebissharp commented on #894
@micheal-w-wells would have to do it, I don't have DB access.

[2020-08-26 16:30] LisaMoore1 commented on #907
@calebissharp @micheal-w-wells. The nearest I can figure there is a difference between amend from legal if the WMWE started from a plan in APPROVED status versus starting from a STANDS status:

From STANDS what is happening (it seems) is:
1. AH makes original minor amendment — shows as “stands” (SNR) because it hasn’t yet been reviewed —> expected
2. Staff switches it to requires review — status i

[2020-08-26 16:55] LisaMoore1 commented on #903
@calebissharp definitely logged in as range staff and definitely not seeing save.
![2752F410-A49C-486B-B57A-E31BE5842FDD.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/ac40f315-fcb5-4487-93b2-0ff73349c1e3)

[2020-08-26 17:03] LisaMoore1 opened #908 "Labels for attachment types not visible in all statuses (see some samples below)"
Haven’t been able to figure out the pattern here but here are some examples (I think you can figure out the statuses from most of them):

![IMG_8338.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/746e227d-53dc-4152-bcde-26308be4a0a0)

![IMG_8347.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/bc5d68a6-86ee-4062-b511-646c8e37449e)

![IMG_8291.jpeg](https://i

[2020-08-26 17:04] LisaMoore1 commented on #894
@micheal-w-wells would you mind switching the toggle to true for the minister’s issue on RAN099964 so we can see if we can clear this one off of here? Thx.

[2020-08-26 17:26] calebissharp commented on #907
I can't reproduce this. Something is throwing an error, but I can't get it locally anymore after https://github.com/bcgov/range-api/pull/250 was merged. If you could tell me what RAN you're getting this on that would be great.

[2020-08-26 17:31] LisaMoore1 commented on #907
@calebissharp RAN099951 I think.

[2020-08-26 17:33] calebissharp commented on #903
I'm going to rerun the deploy action because I think it might have failed.

[2020-08-26 17:44] calebissharp commented on #903
@LisaMoore1 Try looking at this again. Might have been a deploy issue.

[2020-08-26 17:53] LisaMoore1 commented on #894
Switching the identified by minister to true solved the problem.  Closing.

[2020-08-26 17:53] #894 closed

[2020-08-26 17:59] calebissharp commented on #907
@LisaMoore1 Can you try again with the devtools open to catch any errors? Also if you do see an error, can you expand it with the little arrow so we can see the actual error message?

[2020-08-26 18:40] LisaMoore1 opened #909 "AH1 acting as agent for AH2 signs plan — signature for AH2 happens but signature for AH1 does not"
This is unexpected. Earlier today when doing this AH1 signing was signing for both.
Says signatures pending but no options for AH1 to sign now

RAN099912
AH1 does not have option to sign
![IMG_8365.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/8e2a347a-931f-452c-804c-c08e619fb2ad)

Showing that the signature was applied to AH2 not AH1
![IMG_8364.png](https://images.zenhubuser

[2020-08-26 18:47] calebissharp commented on #909
That's strange:

![image](https://user-images.githubusercontent.com/8854811/91343726-d0f1c080-e791-11ea-90f1-c65e68f318cf.png)

[2020-08-26 18:47] #903 closed

[2020-08-26 18:47] calebissharp commented on #909
Also, it doesn't appear that Leslie is set to Ben's agent right now.

![image](https://user-images.githubusercontent.com/8854811/91343848-f54d9d00-e791-11ea-803a-f4d20159c3a6.png)

[2020-08-26 19:57] calebissharp commented on #907
@LisaMoore1 Can you try once more? We merged in a PR that changes the structure of `ref_client` and it's possible the snapshot that was trying to be restored was from before that PR was merged, causing the restore endpoint to error.

[2020-08-26 20:09] LisaMoore1 commented on #909
@calebissharp on my side it looks like Leslie is his agent but only for 99912

![IMG_8379.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/54474371-f151-4941-83bd-8a65f95e8e9f)

[2020-08-26 20:15] LisaMoore1 commented on #907
@calebissharp still getting erros.

![WMWE work queu switched to APPROVED version.JPG](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/68db626b-df85-40f3-baf3-cd6aa3d210a0)

[2020-08-26 20:16] LisaMoore1 commented on #907
@calebissharp still getting errors![AmendFromLegal_DevTools(3WMWE).JPG](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/34925842-607d-4fb7-8f5d-62895c766f72)

[2020-08-26 20:39] calebissharp commented on #909
Yeah, I think it's just a display bug.

Did you see the screenshot above though were I'm signed in as Leslie Knope and can see the "Sign Submission" button?

[2020-08-26 20:40] calebissharp commented on #907
Can you expand the little arrow beside the bottom error please?

[2020-08-26 20:59] LisaMoore1 commented on #907
![AmendFromLegal_DevTools(3WMWE)2.JPG](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/baa46e54-4d40-437d-9027-760c2f8570fa)

[2020-08-26 20:59] calebissharp commented on #907
@LisaMoore1 Thanks. Can you also expand the arrow beside `data`? I can only see part of the error message right now.

[2020-08-26 21:02] LisaMoore1 commented on #909
I did. Going to close this guy for now as not a showstopper.  Will reopen if it proves to be problematic.

[2020-08-26 21:02] #909 closed

[2020-08-26 21:06] calebissharp commented on #907
Can you get this error with a completely new RUP? If so, I think there's a problem with the API deploy. @micheal-w-wells Has that OpenShift upgrade happened yet?

[2020-08-26 21:06] LisaMoore1 commented on #907
Looked like it was still cutting some stuff off so trying two separate images.
![AmendFromLegal_DevTools(3WMWE)3-expand.JPG](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/396e5a64-be6d-436b-94f0-cf1a4f041902)

![AmendFromLegal_DevTools(3WMWE)3-hover.JPG](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/b723bd60-7e2d-49f7-8bc9-b1c054c21721)

[2020-08-26 21:21] LisaMoore1 commented on #907
Just did another full work through these on a fresh RUP and not getting any errors.  Shall I close and keep testing other stuff in the amendment workflow and reopen if it happens again?

[2020-08-26 21:23] calebissharp commented on #907
@LisaMoore1 I think so, yep. The original error in this issue was fixed, this other one you're getting is an artifact of the data in test I'm fairly certain.

[2020-08-26 21:23] #907 closed

[2020-08-26 21:47] LisaMoore1 opened #911 "Conditions cannot be added for minor amendment determinations -"
@calebissharp  I think this was a previous miss on my part.  Not sure how much effort is involved here but it is lower priority.

DM should not be able to add comments in the review minor amendment status (not sure which number that is but it is where they select either stands, wrongly made or WMWE)

[2020-08-26 21:48] LisaMoore1 opened #912 "Label for "Range Officer Recommendations (conditions stuff) should be "Staff recommended conditions""
Low priority but hopefully a quick one if you happen to get to it.

[2020-08-26 21:54] calebissharp commented on #911
@LisaMoore1 Not too bad if it's just the one status that DM can't add conditions in.

[2020-08-26 21:57] LisaMoore1 commented on #911
Just the one I think. After staff have identified it as requiring review (the status from which the DM can select Stands, WM or WMWE)

[2020-08-26 22:16] LisaMoore1 opened #914 "Header for status (submit as mandatory -- after DM selects submit as mandatory but before staff submit it to AH) needs clarification."
Update to:
Mandatory Amendment in Progress
Staff are initiating a mandatory amendment based on a minor amendment that, while deemed wrongly made, could be considered for decision as a mandatory amendment. The minor amendment in question is no longer in effect.

Header above OK for all users.

[2020-08-26 22:27] LisaMoore1 opened #915 "When staff "recommend not ready" to DM for initial RUP or mandatory amendment AH should not see the comments in the history log."
Not sure if this is big or little. THinking probably biggish since it the visibility for a specific user type of comments made in a specific status.  If it is biggish it should be moved over to backlog and I'll tidy all of that stuff up soon.

Put it in sprint backlog so someone can estimate how big it is...and then move it if more than tiny :)

[2020-08-26 23:06] LisaMoore1 opened #916 "Confirmation issue. AH with multiple AHs. AH starts amendments, confirms —> popups look right —> shows 0/0 confirmations"
See image below for details RAN099914
![IMG_8386.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/3f868dc0-fba4-4612-b18a-5bfefa50be34)

[2020-08-26 23:07] #911 closed

[2020-08-26 23:07] #912 closed

[2020-08-26 23:10] #908 closed

[2020-08-26 23:16] LisaMoore1 commented on #916
Did same process for RAN099912 starting with Ben and it saved his confirmation fine. Logged in as Leslie and signed no problem.  Not sure what issue was for RAN099914

@micheal-w-wells want to leave this issue here for further exploration?

[2020-09-03 23:38] LisaMoore1 opened #917 "Incorporate range unit information into MyRA (likely in pastures some way) **Requires pre-work to determine appropriateness**"
From Krista Barton 2020-09-03

".  I have a few tenures that are in multiple units so I’ve been writing the pasture name like this:  “Island Lake (Lily Lake unit)”.  It would be nice if there was either a separate tab for unit name or else add it as an extra level above “Pastures” and have all the pastures in that unit under that tab.  It would be handy in a tenure like LdB with 22 pastures in 3 d

[2020-09-17 18:21] LisaMoore1 opened #921 ""Error linking client" when staff attempt to add link from "Manage Clients" tab"
No problem unlinking but when I tried to relink I got this error message. I tried other clients and still got it. Sorta critical.

![IMG_8437.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/68f32a62-8909-4f0f-9330-0189a47799bc)

[2020-09-17 20:37] micheal-w-wells commented on #921
yes it is, ok will have a look ASAP

[2020-09-22 17:13] LisaMoore1 opened #923 "Staff still seeing H coded agreements (haycutting in the list of RANs) -- should be filtered to E coded agreements only"
Minor thing but would be good to scope size so we know.

[2020-10-21 18:07] micheal-w-wells opened #924 "post release cleanup"
a number (at least 80 so far) of plan confirmations were wiped and/or have the wrong date as of the last release, working to clean those up based on data in backups.

[2020-10-21 18:09] micheal-w-wells opened #925 "endpoint for notifications"
api endpoint to serve up notifications specific to users when they log in to myra

(will tackle email notifications separately).

[2020-10-21 18:09] #921 closed

[2020-10-21 18:09] #843 closed

[2020-10-21 18:09] #633 closed

[2020-10-21 18:12] micheal-w-wells opened #926 "openshift 4 migration"
Gov got new computers, and we'll have to move to them.  This ticket is to track the effort.  As of now we have access to them and I'm starting to make a plan on how to move over.

[2020-12-01 17:24] #120 closed

[2020-12-14 22:23] repo-mountie[bot] opened #929 "Add project lifecycle badge"
## No Project Lifecycle Badge found in your readme!
Hello! I scanned your readme and could not find a project lifecycle badge. A project lifecycle badge will provide contributors to your project as well as other stakeholders (platform services, executive) insight into the lifecycle of your repository.
## What is a Project Lifecycle Badge?
It is a simple image that neatly describes your project's s

[2020-12-16 16:33] #929 closed

[2020-12-16 21:28] repo-mountie[bot] opened #930 "Add project lifecycle badge"
## No Project Lifecycle Badge found in your readme!
Hello! I scanned your readme and could not find a project lifecycle badge. A project lifecycle badge will provide contributors to your project as well as other stakeholders (platform services, executive) insight into the lifecycle of your repository.
## What is a Project Lifecycle Badge?
It is a simple image that neatly describes your project's s

[2020-12-17 17:47] #930 closed

[2021-01-22 00:09] LisaMoore1 opened #932 "All AUM values should round and display whole numbers only"
I thought I'd looked at all this right around when we did #560 and looked like everything was rounding properly at that point. I remember dealing with a situation where the schedule was displaying a rounded whole number but was comparing the unrounded calculated total AUMs from the schedule with the authorized and pulling an error that was hard to recognize.  Example: schedule calculating to 100.2

[2021-01-22 00:13] LisaMoore1 commented on #932
ANd now I'm second guessing and wondering if we solved the problem by displaying a decimal. I don't think that's what we'd do though.  I'll do more digging on this one and see if I can find any previous notes etc.

[2021-01-27 22:27] LisaMoore1 opened #933 "Update PDF cover page"
- [ ] decision maker online signing
- [ ] language related to signing
- [ ] language related to status
- [ ] confirm signature dates consistently populating

Chris Armes email 2021-01-27

[2021-10-19 21:37] repo-mountie opened #949 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 180 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie will

[2022-04-26 16:50] LisaMoore1 opened #958 "Decision Maker Management"
There are a group of things related to DMs.

- When Decision Makers are away for either a day or two or more prolonged then they assign someone (e.g., a resource manager) to act on their behalf (there is a specific process to delegate)
- Some districts have a generic email used by the Decision Maker and their delegate(s) for communicating related to decision making (e.g., a staff person who wants

[2022-04-26 16:58] LisaMoore1 commented on #641
Changes to the agreement require a mandatory amendment -- maybe this is more about triggering a mandatory amendment if the FTA usage is updated....
One way or another we need to make sure that where FTA usage is updated, AHs somehow need to be reminded/and then complete an update to the plan.

[2022-04-26 18:12] LisaMoore1 opened #959 "RUPs for replacements before FTA has been updated"
FTA usage can't be updated until the start of the calendar year.
Current process is for RUP for replacement in future to pick up last year of the current agreement and move that forward into all years.
Problem: if the last year of current agreement is part of non-use (which often changes annually) then the usage data for the "future" RUP is incorrect and there is no way of editing it.
Solution: ab

[2022-04-26 18:23] LisaMoore1 opened #960 "Mandatory Amendment Required Notification"
Background: when anything changes in the agreement a mandatory amendment may be needed
Problem: the "amend RUP" step often gets missed by both staff and AH
Solution: some way to notify appropriate party when a mandatory amendment/signature update should be considered

- change in people =  new plan --> basically a mandatory amendment to look over all content, make sure it is right and new client (

[2022-04-26 18:40] LisaMoore1 opened #961 "Manage non-Active Agreements"
RUPs should not be possible for agreements that are not in active status (what about pending?)

- Do not display them
- Provide option to hide the RUPs for files of this type

[2022-04-26 18:53] LisaMoore1 opened #962 "Attachments added by DM"
DM should have ability to add attachments at time of decision

[2022-04-26 18:56] LisaMoore1 opened #963 "Filter Work Queue"
Able to see those that require attention

* needs definition of which statuses require attention by whom -- would be the same as who "controls/owns" the status

[2022-04-26 19:03] LisaMoore1 opened #964 "Annual notifications"
- To AH/staff if there is no schedule for current year (notification in first quarter sometime)

- other?

[2022-04-26 19:10] LisaMoore1 opened #965 "Schedule Sort Options"
Ability to sort schedule in various ways in ALL statuses
"Hold on" to whatever sort order is most recent and reopen and generate PDF based on that sort order

[2022-04-26 19:10] LisaMoore1 opened #966 "DM needs not approved option"

[2022-04-26 19:12] LisaMoore1 opened #967 "Attach maps to approved RUPs"
Some RUPs were approved before there were attachment options
Figure out way of attaching maps after approval
Need to identify that the map was attached after

[2022-04-26 19:17] LisaMoore1 opened #968 "Workflow: DM "not approved" must have reasons"
Need place for DM to attach reasons for decision when "not approved" selected
Reasons MUST have content if status is "not approved"

Possibly require place for staff to provide draft not-approved reasons

Part of large DM process upgrade from "bare-bones"

[2022-04-26 20:37] LisaMoore1 opened #969 "Non-use agreement required if use < 90% annual usage"
If save/submit prevented if <90%

- would need notice re. reason can't save/submit and to contact staff
- may be inclination to just adjust schedule to do the math regardless of accuracy/reality

If save/submit not prevented if <90%
- would need notice that a non-use agreement is required...then allow submit
- ideally notification to staff to review for non-use requirements for that RAN-RUP

[2022-04-26 20:38] LisaMoore1 opened #970 "Reports"
Plans that are made
Status
Expiry of plans
...?

[2022-04-26 20:40] LisaMoore1 opened #971 "Schedule AUM include % of annual usage function"
Allow AH to see when close to 90%

[2022-04-26 20:40] LisaMoore1 opened #972 "View: multiple year schedule expanded at once"

[2022-04-26 20:41] LisaMoore1 opened #973 "FTA pull Exhibit A map into MyRA"
Different standards between districts
Not sure of value

[2022-04-26 20:42] LisaMoore1 opened #974 ""View" access available for other groups"
Parks
C&E
...?

Possibly exclude some content such as
- management considerations (non-legal)
- pasture descriptions (non-legal)

[2022-04-26 20:43] LisaMoore1 opened #975 "Schedule View update"
Prevent squishing, truncated fields or need to scroll when viewing on some devices

[2022-04-26 20:44] LisaMoore1 opened #976 "Add text option "Parks Management Plan" to Additional Requirements dropdown"

[2022-04-26 20:45] LisaMoore1 opened #977 "Work Queue include RUP expiry -- sort on that field"
Allow to easily see which RUPs expire that year.

[2022-04-26 20:46] LisaMoore1 opened #978 "Sort option: pasture section"
Hailey Manke December 2020 request

[2022-04-26 20:47] LisaMoore1 opened #979 "Add: PIDs for private used in conjunction + PLD info note"
Record the private land used in conjunction with pastures somewhere
Include a note for how to calculate PLD

??Not sure about inclusion of PIDs --> would be considered personal info in terms of FOIPPA

[2022-04-26 20:48] LisaMoore1 opened #980 "Refine approval conditions process"
So DM does not have to copy and paste
(Chris Armes Feb 2021)

[2022-04-26 20:49] LisaMoore1 opened #981 "Email notifications when action required"
See other tasks re. notifications
- email is one option (often requested)

[2022-04-26 20:50] LisaMoore1 opened #982 "Accurate message for 2nd AH signing and recall popup"
- confirm and send for final decision
- request clarification or changes --> please contact "staff contact name" who initiated this RUP for clarifications. Submissions can only be recalled by "staff contact name"

That message shows for a mandatory amendment initiated by an AH (still shows the staff contact.
There isn't a recall option for plans that are awaiting signature (status 18)
At this poin

[2022-04-27 16:01] LisaMoore1 opened #983 "Recommendation Package Function"
Staff have to provide decision makers with recommendation materials when they forward a plan for decision. At present the staff provide that information by email or paper to the decision maker but then they are not closely tied (connected) with the RUP itself.

Either attachment or fields to add the content.  Likely SME brainstorm to discuss what is being included around the province for decision

[2022-05-09 21:05] LisaMoore1 opened #984 "Recall MInor Amendment Option"
Need to have SME discuss/refresh what the criteria should be for recalling a minor amendment

[2022-05-09 21:06] LisaMoore1 opened #985 "Cancel In progress Mandatory Amendment (AH)"
Need SME discuss/regroup on what parameters should be here.

[2022-05-09 21:09] LisaMoore1 commented on #814
Note Chris Armes also noted desire to change process so that SDM does not need to copy conditions.

[2022-05-09 21:12] LisaMoore1 opened #986 "WORKFLOW for Exemptions needed"
SME review/advice on parameters for exemption workflow

[2022-05-09 21:16] LisaMoore1 opened #987 "SME review of PDF content for content and formatting quirks"
Could result in other PDF related tasks.

[2022-05-09 21:22] LisaMoore1 opened #988 "WORKFLOW: DM workflow needs to be fleshed out"
We did the "quick and dirty" version realizing we would need to do more.
There are several related issues that are associated here (some of these issues have details attached).

#962
#958
#968
#814

Also note the need to include the approval tests for regular approvals, exemptions and extensions (SME work involved)

[2022-05-09 21:27] LisaMoore1 commented on #579
Need way to show something has been extended (current work around is to do an amendment to end date but not specifically marked as an extension) and exempted (no way of doing this right now (see #986)

[2022-05-09 21:34] LisaMoore1 opened #989 "Schedule Update: several related issues (details in comments)"
In order of priority

#965 (schedule sort options) HIGH PRIORITY
#969 (non-use agreement notification when <90%) MOD-LOW PRIORITY
#971 (Schedule AUM include % of annual usage function) MOD-LOW PRIORITY
#972 (View: multiple year schedule expanded at once) LOW PRIORITY

Grouped together in case it is most efficient to do these all together.

[2022-06-08 22:42] LisaMoore1 opened #992 "Minor Amendment Submission popup language update"
SME to review the language on screen and update to make more AH friendly
![image](https://user-images.githubusercontent.com/37600531/172729615-43933da3-90b6-40a5-a784-2fe214c2fcc9.png)

[2022-06-08 22:54] LisaMoore1 commented on #933
Adding comment re map availability also probably belongs here.

[2022-08-08 23:23] LisaMoore1 opened #996 "WORKFLOW for Extensions needed"
Handled as an amendment that changes end date but would be more clear if RUP can be captured specifically as having been extended so staff can easily tell which have already been extended and which are note. Those that have been extended once cannot be extended again. May need to consider that when a plan is entered it is already in "extension mode" so might not be greatest idea to tie directly to

[2022-08-08 23:24] LisaMoore1 opened #997 "Total livestock numbers summary in schedule section"
Something that summarizes number of livestock by type for that schedule (based on what is entered in schedule grid).  Requested by Diane Brown.

[2022-10-11 17:54] LisaMoore1 opened #1000 "Submit Fail message for RAH"

[2022-10-11 17:55] LisaMoore1 commented on #1000
When an RAH has added content and tries to submit it to staff for review or approval if there is something blocking submission (ex. AUMs are over) that section is highlighted in pinky-red but there is no message that the submit failed -- please review highlighted section. RAH can mistakenly think submission was complete.