[2020-01-23 19:53] calebissharp commented on #335
@micheal-w-wells No. Again, the reason the data in test is "corrupted" is because of a bug that was introduced **to test** after our last deploy to prod. That bug has been fixed, so never will have been and will never be present in prod.

[2020-01-23 23:22] LisaMoore1 opened #507 "Agreement holders unable to edit in Status 10 -- should be equivalent to 1 (I think), 4, 5 and 19"
@calebissharp See the reference table (the one with orange boxes for who gets to edit what). Not holding up leaving the deploy in place but needs a quick fix.

[2020-01-23 23:23] #335 closed

[2020-01-24 17:30] micheal-w-wells opened #510 "At least one Range Officer seeing same agreement more than once."
Still trying to replicate in test.  The duplicates are of agreements without plans so far.

@LisaMoore1 fyi

[2020-01-24 17:37] calebissharp commented on #488
@LisaMoore1 Adding that confirmation will add another 0.5 to the estimate. Is that something you'd want to go ahead with?

[2020-01-24 17:53] LisaMoore1 commented on #510
@micheal-w-wells I logged in to PROD with BCeID and everything appeared as it should.  All agreements reported as “missing” were assigned to user and those identified as having duplicates were only appearing once.  I’m going to send a note to the SME group requesting that they each log in to PROD using their IDIRs and identify if the RAN list looks correct and if there are any duplicates.  I will

[2020-01-24 19:10] calebissharp commented on #487
@LisaMoore1 I'm not sure I understand this one.

Are you saying that the total AUMs value should be rounded? (So it should show 300 instead of 300.2 in this screenshot). And validation would be run against the rounded value?
![image](https://user-images.githubusercontent.com/8854811/73096587-018b1800-3e9a-11ea-896d-1e3c178890f7.png)

[2020-01-24 19:19] LisaMoore1 commented on #487
As noted in my comment yesterday I need to check with SMEs on this one so leave for now.  I’ll move it down priority list. There are legal implications regardless of what staff want. Not something that is going to come up in majority of schedules so we’re OK leaving for now.

[2020-01-24 19:20] LisaMoore1 commented on #488
@calebissharp Yes you can go ahead on this

[2020-01-24 19:25] LisaMoore1 commented on #510
@micheal-w-wells if you’re working on this one can you move it over to in progress and throw some sort of estimate on it? Thanks

[2020-01-24 19:27] LisaMoore1 commented on #489
Sort options:

- [ ] by pasture
- [ ] by livestock type
- [ ] by number
- [ ] by date in

[2020-01-24 19:58] calebissharp commented on #492
Increasing the scope of this issue to cover all components of an RUP.

[2020-01-24 20:05] LisaMoore1 commented on #492
Let me know which ones you identify as requiring “treatment” so I’m aware for testing etc?

[2020-01-24 20:32] calebissharp commented on #492
@LisaMoore1 Yep. I've updated the issue.

[2020-01-24 23:07] calebissharp commented on #489
@LisaMoore1 Is the sort by livestock type and pasture, alphabetical? (based on the name)

[2020-01-25 06:58] LisaMoore1 opened #514 "Action for Plant community “other” option not saving due to invalid fields"
Ashley Tod reported 2020-01-24.

[2020-01-27 17:41] LisaMoore1 commented on #489
@calebissharp  Yes

[2020-01-27 18:42] micheal-w-wells commented on #510
@LisaMoore1 got nothing to go on for this one yet other than report from Phil.  Spent some time trying to reproduce and no one else seems to have the problem as of yet, going to park for the moment but leave open.

[2020-01-27 18:51] micheal-w-wells opened #515 "Readiness date not displaying on PDF"
See Pasture > Plant Community > Readiness Criteria.  Displays in web fine but shows as not provided in PDF.

[2020-01-27 18:54] micheal-w-wells opened #516 "Elevation missing unit indicator in web but PDF shows as feet."
![image](https://user-images.githubusercontent.com/955467/73204106-4362cb00-40f3-11ea-848d-207592aa623e.png)
![image](https://user-images.githubusercontent.com/955467/73204148-52e21400-40f3-11ea-880e-b7c7f239630c.png)

Comment from RO was that they had assumed meters until they saw FT on pdf.

[2020-01-27 19:35] LisaMoore1 commented on #274
@calebissharp Is this message designed to show only if there are unsaved changes or any time you navigate away from current page?
If any time, the message should be changed to "This RUP may have unsaved changes..."
If only when unsaved changes exist the behaviour is unexpected because as soon as I open a RUP then immediately navigate away I get the message.

[2020-01-27 19:42] micheal-w-wells commented on #510
Tried getting him to delete cookies again, it got rid of only one of the duplicates.

[2020-01-27 19:46] micheal-w-wells commented on #514
So the issue with this one is that the 'invalid fields' error pop up is too vague in general?

[2020-01-27 19:53] LisaMoore1 opened #517 "History comments (showing status update times and comments) are not showing up in all statuses."
If comments between staff/AH exist they should be displayed in history.

[2020-01-27 19:58] micheal-w-wells commented on #517
myra=# select id, plan_id, from_plan_status_id, to_plan_status_id, note from plan_status_history where plan_id
in (select id from plan where agreement_id in ('RAN099955', 'RAN099951')) order by  id asc;
 id  | plan_id | from_plan_status_id | to_plan_status_id |
             note
-----+---------+---------------------+-------------------+-----------------------------------------------------
--------

[2020-01-27 20:01] LisaMoore1 commented on #517
@micheal-w-wells @calebissharp If it does display in 099955 it is only showing the most recent comment not all of them.

[2020-01-27 20:05] LisaMoore1 commented on #507
@calebissharp Estimate for this one then it can be closed.

[2020-01-27 20:22] LisaMoore1 commented on #274
@calebissharp Immediately after a "save draft" action, selecting the back arrow to the left of the RAN does not result in navigation or message. Select it again immediately and it returns to work queue without providing message.
If focus goes elsewhere in plan (ex. Range Name) after the "save draft" action selecting the back arrow results in warning message.

[2020-01-27 20:34] LisaMoore1 commented on #488
@calebissharp
AH: expected behaviour (can save but not submit)
Staff expected -- can save
Staff unexpected -- no warning that one more schedule may not have rows, do you still wish to submit.

[2020-01-27 21:18] LisaMoore1 commented on #514
@micheal-w-wells  Based on my testing that's what I think. The Plant Community Description field is red but the error message doesn't actually tell you that you need to look there.  I'd be fine (and I think staff would prefer) to be able to save at any time because staff may need to step away for a minute and want to save. It IS important that on submit validations are run that identify missing fi

[2020-01-27 21:23] micheal-w-wells commented on #514
@LisaMoore1 how about I change this issue to 'Allow staff to save without validating fields' and create another for 'Change error message for invalid fields on submitting to include fields at issue' ?

[2020-01-27 21:26] LisaMoore1 commented on #514
@micheal-w-wells Works as long as we can quickly arrive at being able to save but still validate appropriately.

[2020-01-27 21:29] #413 closed

[2020-01-27 21:30] micheal-w-wells opened #518 "Change error message for invalid fields on submitting to include fields at issue"
Change the error popup to better indicate what field(s) is/are a problem.

[2020-01-27 21:32] LisaMoore1 commented on #378
@micheal-w-wells If this one also covers the plant community description field then we might be good for validation part related to solution for #514

[2020-01-27 21:35] LisaMoore1 commented on #378
@micheal-w-wells This one doesn't seem to pick up if there is content missing from Plant Community Description.
@calebissharp Is this validating for content in **all** required fields? (those identified with star on web)?

[2020-01-27 21:37] #411 closed

[2020-01-27 21:42] LisaMoore1 commented on #510
So weird. If it got rid of one of the duplicate why isn't it getting rid of all of them? Hmm Chrome?

[2020-01-27 22:00] micheal-w-wells commented on #514
@calebissharp I need some formik insight.  Can we have two separate schemas and call validate on one for save and the other for submit?  I'm resistant to turn validation totally off as we know the API doesn't check much, and something db/API errors aren't provided to the user currently.

[2020-01-27 22:32] micheal-w-wells commented on #510
Same version of chrome as me!

[2020-01-27 22:48] calebissharp commented on #518
This *is* possible, and relatively straightforward to implement. This solution I would recommend over #514.

@LisaMoore1 What format would you prefer to show the field in (ie. with nested fields)?

[2020-01-27 22:49] calebissharp commented on #514
@micheal-w-wells You are able to create another Yup schema, and call the plan against that at submit. It won't integrate with formik though, so you won't get any of the field errors (ie. red fields with the error underneath). Changing the form to show the field errors on submit instead would require significant refactoring, so I'd urge you @LisaMoore1 to keep this in mind when prioritizing issues.

[2020-01-27 22:57] micheal-w-wells commented on #518
I'd lean towards something like below but Lisa's call. For the example that started #514:

Pasture

If you wanted to help out the guys with lots of content in their RUP:

Pasture BIG RED

[2020-01-27 23:03] calebissharp commented on #488
@LisaMoore1 Sorry, missed your message to add the confirm dialog.

[2020-01-27 23:06] calebissharp commented on #518
We should probably limit the notification to show 1 error at a time then, since I can see the message easily becoming very long and unwieldy with many errors.

[2020-01-27 23:11] LisaMoore1 commented on #518
#514 is related to this one as we need to allow saving at any point so that if staff get called away (ex. front desk call) they can save what they've done without having to figure out where to add a bunch of little placeholders to get to save and then have to go back and put in "real" data when they have time. Saving easily is important!

I like one error at a time -- I fix that one and when I try

[2020-01-27 23:16] calebissharp commented on #517
This looks like it's an API issue related to versioning. Closing in favour of https://github.com/bcgov/range-api/issues/123

[2020-01-27 23:16] #517 closed

[2020-01-27 23:17] LisaMoore1 commented on #514
The Yup/formik conversation is one outside my realm of expertise. What is within mine is:
- staff need to be able to save regularly/easily
- at some point before submitting (not preventing save) we need to validate for required fields
I'm open to a conversation but I don't know how much I'll be able to contribute to identifying a best solution

[2020-01-27 23:17] calebissharp commented on #378
@LisaMoore1 No, but we can do the field validation at submit as well. See https://github.com/bcgov/range-web/issues/514#issuecomment-578993043

[2020-01-27 23:22] calebissharp commented on #514
@LisaMoore1 We can disable validation when just saving a draft. To what extent should this go though? (ie. AUM calculations, date ranges with an end before a start).

We can move the field validation to submit, but then we may not have the fields turn red and show the error underneath anymore (there's some uncertainty here, so I'll have to estimate high). It sounds like validation at save isn't re

[2020-01-27 23:23] calebissharp commented on #488
Going to wait though until we figure out #514.

[2020-01-27 23:41] LisaMoore1 commented on #378
Save any time is the actual pressing issue right now (or if that is too big clearly identify what is needed) -- basically what  #514 was trying to capture. If we can do that and still make sure that we don't submit plans missing critical info I'd be happy.

I know there is interplay between this (#378) and (#514). Can @micheal-w-wells and @calebissharp brainstorm the simplest way to meet the need

[2020-01-27 23:49] calebissharp commented on #516
@LisaMoore1 What unit should elevation be?

[2020-01-28 16:28] LisaMoore1 opened #521 "There is no option for staff to provide a message to AH when sending back to them as "recommend for submission""
Passing the RUP between staff and AH is an opportunity for engagement and each should be promoted. This is one where there isn't currently an option to provide a comment.
Lowing priority as of 2020-01-28

[2020-01-28 16:29] #201 closed

[2020-01-28 17:06] calebissharp commented on #495
@LisaMoore1 How would you prefer this to work. Just make the boxes bigger? Should they not be scrollable at all and always take up as much height as they need?

[2020-01-28 17:57] calebissharp commented on #274
@LisaMoore1 The behaviour is to show the message if there are unsaved changes.

I can't reproduce this:

or this:

But the issue you had with the back button should be fixed

[2020-01-28 18:21] LisaMoore1 commented on #495
@calebissharp I lean towards as much space as they need since the collapse arrow is always visible. @micheal-w-wells do you know if there was some discussion about why to use scrollable spaces rather than full open?

[2020-01-28 22:31] LisaMoore1 opened #524 "Error generated when creating a schedule if a "save draft" action did not happen after adding pastures."
The recently added pasture shows up in the drop down list in the schedule row but if you select it an error is generated. Nearest I can tell if you do a "save draft" action before starting into adding schedule the error is not generated.

Because they show in the list it looks like everything is good to go. Either don't show in list and somehow show message to save draft after adding pastures OR ?

[2020-01-28 22:51] LisaMoore1 opened #525 "For plant community action (anywhere else this dropdown type is used?) the drop down behaviour is confusing."
If you select "Other" you **MUST** type something or you get a "could not save due to invalid fields error" but it looks like leaving it just as "other" should be OK

- add some sort of messaging that you must enter text and if blank you get an error message under the field

When you type something in for "other" (ex. "thing") then when you look at the dropdown it now shows what you typed at the b

[2020-01-28 23:12] LisaMoore1 commented on #516
@calebissharp  Elevation is metres in both cases.

[2020-01-28 23:40] calebissharp commented on #524
Resolved by #511

[2020-01-28 23:40] #524 closed

[2020-01-28 23:46] LisaMoore1 opened #526 "Validate for required fields and message when changing status. ** See explanation below as may be a factor of some poor data**"
If agreement is missing information (ex. somehow RAN077852 saved at some point while missing a leaf stage value for an indicator plant) if you try to change status (ex. request changes) there is no indication there is a problem except that the status change workflow isn't initiated (ex. popup doesn't appear). If you try to "save draft" it identifies that there are missing fields. Fix that, save dr

[2020-01-29 16:39] LisaMoore1 commented on #507
@calebissharp This one is ready to move to closed but it still needs your estimate.

[2020-01-29 16:41] calebissharp commented on #507
@LisaMoore1 Whoops, missed this. Sorry!

[2020-01-29 16:41] #507 closed

[2020-01-29 17:58] LisaMoore1 opened #528 "Back arrow by RAN is navigating back like browser rather than returning to work queue"
Small back arrow should return user to work queue. I have noticed this behavior when I have opened a PDF and then try to navigate back to the work queue.  I'm not 100% certain it occurs every time but definitely periodically. Ex. RAN099951, RAN099954, RAN099952

[2020-01-29 18:22] LisaMoore1 opened #529 "Create PDF generating error "Error Loading PDF. Click to retry" for some RANs"
I checked a subset of RANs and found some that will generate PDF and some that will not. I'm not sure what is different between them. Some that generate error are:
RAN099955, RAN099954, RAN099951 (Andy Dwyer)
RAN099911, RAN099913 (Leslie Knope)

[2020-01-29 18:27] LisaMoore1 opened #530 ""RUP has unsaved changes..." popup appearing at inappropriate times for some plans"
Workflows interrupted with repetitive unsaved change populs

(Related tangentially to #274)

**Sample of irritating workflow No. 1:**
1. I open a RUP and touch no
2. fields
3. I select "Download PDF" and get the unsaved changes prompt --> OK
4. I select "close" on PDF popup --> I get the unsaved changes prompt --> OK
5. I select the back arrow to return to queue --> I get the unsaved changes promp

[2020-01-29 19:46] LisaMoore1 commented on #489
@calebissharp Love this! Two things:
- pasture sort doesn’t seem to be working
- there is no indicator that this function is available —> message? An arrow beside the title before you do a sort (one appears after indicating you can sort it the other direction but maybe a down arrow to start?)

[2020-01-29 20:04] LisaMoore1 commented on #274
On chrome (iPad only) I’m getting this: ![IMG_7449.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/429915a7-6e94-4309-9324-0d6e830f9ed4)
Would that be a setting I have in chrome?

[2020-01-29 20:14] LisaMoore1 commented on #495
@calebissharp This is better as I can see now but still having problems when adding a row. Not sure if it is a box size thing or a drop down behaviour problem. Let me know if should be separate issue.

The selection menus drop down below the visible box on the bottom row. Every now and then I’ve seen them open upwards (above the field) which is preferred.

![IMG_7445.jpeg](https://images.zenhubuse

[2020-01-29 20:27] LisaMoore1 commented on #489
@calebissharp Actually, it might be how you intended but I’m not sure. I see in a schedule with a bunch of rows that something does happen when I select pasture it does do something but I’m not sure what it is doing. Order they were entered into the scheduled? Order the pastures were entered into the plan?

Should be pastures alphabetically here. Ideally with a “reset order” button that takes it b

[2020-01-29 20:34] calebissharp commented on #489
@LisaMoore1 It should sort it alphabetically, and then by order created (otherwise if there's only a few pastures but many rows the sort would be strange.)

[2020-01-29 20:36] calebissharp commented on #274
@LisaMoore1 This is a browser behaviour thing outside of our control. It's there to prevent websites from spamming people with popups by giving them an escape hatch to disable them.

[2020-01-29 20:40] calebissharp commented on #528
@LisaMoore1 Does it make sense to *always* go back to the work queue? There are a couple scenarios I can think of (like when getting to the rup page through a link) that it would be strange.

[2020-01-29 20:51] LisaMoore1 commented on #516
@calebissharp
Not showing metres in plan or PDF.

[2020-01-29 20:58] LisaMoore1 commented on #489
@calebissharp If I scramble up the rows I can get it to return to order entered but I can’t get it to do alphabetical. Selecting it again doesn’t produce any change.

[2020-01-29 20:59] #515 closed

[2020-01-29 21:04] LisaMoore1 commented on #274
@calebissharp Sorry...I keep wondering other little things.
The text on the box says: This RUP has unsaved changes that will be lost if you leave this page. Are you sure you want to continue?
The answers are OK and cancel.
Those aren’t actual answers to this question. Yes (I want to continue) and No (I do not want to continue) would be more appropriate options.
This has caught me several times whe

[2020-01-29 21:06] calebissharp commented on #274
@LisaMoore1 Sorry, also something that's based on the browser that we can't change. Perhaps changing the wording of the message would help though?

[2020-01-29 21:08] LisaMoore1 commented on #274
@calebissharp Sorry...I keep wondering other little things.
The text on the box says: This RUP has unsaved changes that will be lost if you leave this page. Are you sure you want to continue?
The answers are OK and cancel.
Those aren’t actual answers to this question. Yes (I want to continue) and No (I do not want to continue) would be more appropriate options.
This has caught me several times whe

[2020-01-29 21:11] LisaMoore1 commented on #274
@calebissharp I think OK and Cancel are responses to a statement not a question.

How does rewording to this seem to you? WARNING: This RUP has unsaved changes that will be lost if you leave this page.

In that way the answers make more sense: OK (I read it and I get it) Cancel (Cancel this thing I just started)

[2020-01-29 21:16] LisaMoore1 commented on #528
@calebissharp Hmm. I get the link thing (I've never sent one to someone else because they wouldn't be able to access it as it wouldn't be assigned to them so not one they could see if logged in under anything other than my IDIR) and that there may be other scenarios.
My concern is that there has to be some way to get back to the work queue rather than being in an endless loop with the popup (or wh

[2020-01-29 21:17] LisaMoore1 commented on #274
@calebissharp Works for me

[2020-01-29 21:20] LisaMoore1 commented on #492
Nearest I can figure this is working (was watching for it during all my other testing). A hard one to target test for. Am closing for now.

[2020-01-29 21:43] LisaMoore1 opened #531 "Actions for Minster’s Issues not saving into plan"
@calebissharp Entered them as AH, saved —> successful —> still visible —> scrolled and back —> still visible —> submit —> still visible —> work queue and return —> no longer visible...also not visible to staff.

Seem not to have saved. Yike! Definitely super high priority. Going to check PROD to see what is happening there.

[2020-01-29 21:43] calebissharp commented on #528
Actually, I take that back. I think it's fine to make the back button just always go to the work queue.

[2020-01-29 21:48] calebissharp commented on #495
@LisaMoore1 As far as I'm aware, that dropdown bug was probably introduced in an unrelated PR. I think we should close this issue and create a new one.

[2020-01-29 22:06] LisaMoore1 commented on #531
@calebissharp (RAN099956)
Staff added action and submitted to AH —> visible to both
AH made edits and saved —> looked good but after AH submit reverted to before staff changes
Seems to be the AH submit action that is the problem.

[2020-01-29 22:36] LisaMoore1 commented on #528
K. All good then.

[2020-01-29 22:40] LisaMoore1 commented on #491
@Calebissharp I found some more while testing the heck out of other stuff and thinking about this one.
Minister's Issue: Objective
Additional Requirements: Details
Management Considerations: Details
Plant Community Actions: Detail

Pasture Notes is a little different. It looks good in "view" statuses but in "edit" statuses it is a long string of text rather than a multi-row box you can scroll thro

[2020-01-29 22:41] #495 closed

[2020-01-29 22:45] LisaMoore1 opened #532 "Dropdown boxes for schedule open below the field which consistently puts them outside of operating window = have to scroll/fuss every time"
@calebissharp The selection menus drop down below the visible box on the bottom row. Every now and then I’ve seen them open upwards (above the field) which is preferred. (Identified while trying to figure out what was actually driving #495)

![IMG_7445.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/77956e58-97d3-4e73-bcaa-47be418656ac)![IMG_7446.jpeg](https://images.zenhubuser

[2020-01-29 22:48] LisaMoore1 opened #533 "For schedule rows the "out" date must be after the "in" date or you get negative days which pulls the AUM value down."
Validate during updates.

[2020-01-29 23:10] LisaMoore1 commented on #492
@calebissharp Noticed an order change in Minister's Issues after a submit from AH to staff for feedback

[2020-01-29 23:25] LisaMoore1 opened #534 "PDF display issues"
These are a few that I noticed while testing other things.
- ~**Readiness"Notes" should be relabelled  "other" and perhaps moved to allow wider field (perhaps under Readiness date then width of page?)~
- ~Plant Community elevation should be in metres (this has an issue already just not closed)~
- ~Stubble Height label should be kept with the "Livestock must be removed..." language (no page break b

[2020-01-30 01:57] micheal-w-wells opened #537 "Need to force site to refresh what is cached when online."
We have a lot of non-techy users, and in general needing to delete cache to get new features/fixes just isn't a good experience.  We need to make the site/pod/whatever smart enough to refresh what is cached when connected.

[2020-01-30 18:52] LisaMoore1 commented on #528
@calebissharp Looks good. Can you add estimate? Thx

[2020-01-30 18:53] #516 closed

[2020-01-30 18:56] #528 closed

[2020-01-30 19:00] LisaMoore1 commented on #529
@calebissharp This seems not to be a problem this morning. Going to close but will reopen if pops back up again.

[2020-01-30 19:00] #529 closed

[2020-01-30 23:22] LisaMoore1 opened #541 "Phone number for contact person for a zone does not seem to be updating from FTA"
Staff update contact information in FTA and that is where phone number should be pulling from. Should not require any update to other place.

Agreements have zones
Zones have contacts
Contacts have phone numbers

All three pieces of those information need to be kept current with FTA.

[2020-01-30 23:23] LisaMoore1 commented on #541
@micheal-w-wells Diane Brown noticed this one. I’m going to make an FTA user story to group all of these together. My schedule is fairly open to deal with whatever comes up next week. Can you pick a time and schedule an online call for us to go over these? Thx

[2020-01-30 23:24] LisaMoore1 opened #542 "Connection between FTA and MyRA keeps correct information complete and current."

[2020-01-30 23:29] LisaMoore1 opened #543 "Plans displaying agreement holders that were current (status A or B) but have since becomes “former” (P or C)"
Approved/stands status plans should be snap show in time showing names of agreement holders in place at time of approval.
Plans in any other status (all the working statuses) should be updated to show only the current active (A/B) agreement holders

Questions for the future:
- if an agreement is approved and a change happens to agreement holders should that be trapped somehow, a new copy of the pl

[2020-01-30 23:31] LisaMoore1 commented on #543
Related to API #100 I think. Same thing?

[2020-01-31 00:19] LisaMoore1 opened #544 "Staff providing comments when submitting a staff draft to the AH is not in current workflow"
It is important for staff to provide the AH with instructions when the initial submission is made to them. Several staff thought they had been able to do it but aren’t now. I’m not sure if that is a implemented in iPad but not web thing, was in web but isn’t now, or never did exist and we are delusional. In any case, staff do need to provide instructions when initially submitting.

[2020-01-31 00:21] calebissharp commented on #525
@LisaMoore1

This has been discussed previously in https://github.com/bcgov/range-web/issues/164#issuecomment-558747586 and is caused by an upstream bug in semantic-ui.

The other parts of the issue I can fix by making the plant community action dropdown behaviour more like the indicator plant dropdown.

[2020-01-31 17:13] LisaMoore1 commented on #525
@calebissharp Forgot we'd already been there done that on that particular item. In that case can you make "Select" the first entry on the list so that that is what shows until you've made a selection?

[2020-01-31 17:38] calebissharp commented on #525
@LisaMoore1 I'm not sure that would be possible. How important is this?

[2020-01-31 19:31] LisaMoore1 commented on #525
@calebissharp two calls in the last week where, when watching screen share, they've thought they'd selected something because the text they wanted was displayed but they hadn't. How big would it be?

See https://tools.usps.com/zip-code-lookup.htm?byaddress the state dropdown for an example.

[2020-01-31 19:33] calebissharp commented on #525
@LisaMoore1 We'd have to replace the dropdowns with a component from another library. It won't look the same, but hopefully would have better behaviour. I'd put the estimate at 2.

[2020-01-31 20:01] LisaMoore1 commented on #525
@calebissharp Can you move that element to a separate issue and put it in backlog.  Fixing it so that it isn't opening below the working window and some sort of instruction re. how to deal with "other" are the primary wins for this one.

[2020-01-31 21:31] calebissharp opened #547 "Replace dropdown component"
We've found the semantic-ui dropdown doesn't work for well for our use-cases. There are also some long-standing bugs that cause strange behaviour. This issue only addresses dropdowns being used as selects.

A possible replacement is to use the dropdown from [material-ui](https://material-ui.com/components/selects/#select) or [react-select](https://github.com/JedWatson/react-select)

See #525 and #

[2020-01-31 22:39] calebissharp commented on #532
Related to #547

[2020-01-31 22:55] #489 closed

[2020-01-31 23:16] #274 closed

[2020-01-31 23:16] LisaMoore1 commented on #274
This still gave me a brain stutter but I can’t think of really great language that would accommodate OK/Cancel options. Maybe something like:
“This RUP has unsaved changed that will be lost if you select OK here.”

I’m closing this one recognizing that there might be some complaints about his dialog.

[2020-01-31 23:32] LisaMoore1 commented on #531
@calebissharp Working good far as I can tell. Can you add an estimate and close?

[2020-01-31 23:37] #531 closed

[2020-02-01 00:02] LisaMoore1 commented on #491
@calebissharp Monitoring Area Location seems to be the only one that doesn’t have a multparagraph look.  All the rest look great.

[2020-02-01 00:05] LisaMoore1 commented on #492
@calebissharp I noticed that when AH worked in issues then saved the order of the issues saved. Then when staff saved the order saved the same but after working in actions (added one) the order of the actions changed after save.  Really not sure how to capture what is going on here.  Sorry.

[2020-02-01 00:06] calebissharp commented on #491
@LisaMoore1 I wasn't aware that monitoring area location is usually long. Is it not just a few words usually?

[2020-02-01 00:29] #525 closed

[2020-02-01 00:37] LisaMoore1 commented on #491
@calebissharp. It isn’t usually super long but it could be (See Jan 29 comment listing all the related ones I could find). Long location descriptions are displaying well in PDF.

[2020-02-03 21:13] LisaMoore1 opened #549 "PDF stubble height is showing “leaf stage” rather than cm"
![image006.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/6f73f200-0eb6-4cf1-91e1-6d8796f3e0e3)

[2020-02-05 17:09] LisaMoore1 opened #551 ""Schedule has one or more invalid entries" is confusing as it appears immediately upon adding a row before you even have a chance to do anything"
This message should not appear until a save/submit action takes place.  Do not deal with this one until #514 is also being considered.

[2020-02-05 17:26] LisaMoore1 opened #552 "Pasture - Grace Days is missing explanation (info dot and in plan text)"
Need info dot re. what grace days means (use text from iPad if you can get to it

[2020-02-05 17:28] LisaMoore1 opened #554 "PDF - do not display the the grace days at the pasture level"
That entry is used to autopopulate the schedule rows. Grace days can be overwritten by staff in the schedule rows.
We don't want to be in a place where there are two different grace day entries.
Pasture grace days entry is for automating staff entry not for display --> hide in PDF

[2020-02-05 17:31] LisaMoore1 opened #555 "PDF - do not display grace days field in the pasture section"
Grace days entry in pasture automates schedule row entry for staff
Grace days can be overwritten by staff in schedule rows
Do not want situation where there are two different grace day values displaying (what do you follow? -- the schedule is the legal one)
Therefore, do not display grace days in pasture section

[2020-02-05 17:32] #555 closed

[2020-02-05 17:32] LisaMoore1 commented on #555
Duplicate of #554

[2020-02-06 00:07] LisaMoore1 opened #556 "Occasional persistent messages at top right"
I have been trying to reproduce this and I can’t seem to figure it out.  Every now and then the save error message or the could not submit due to invalid fields message displays and will NOT go away — even after you log out — which is challenging because it covers the spot you need to see to log out.

[2020-02-06 00:11] LisaMoore1 opened #557 "It is unclear, for manual entry, what the required format for lat and long is"
Some folks want to manually enter this (especially for winter entry when not out and about and no longer using iPad). There are several different formats for entering lat and long. We should identify the desired format — Nancy would be the pro on what is typical for govt

![IMG_7466.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/fa1b020e-1012-4e61-a1d3-7d22a76425aa)

[2020-02-06 18:18] calebissharp commented on #491
@LisaMoore1 Do you want the monitoring area location to appear as a multiparagraph input (like the invasive plants "other" or range readiness notes) when it is editable as well?

[2020-02-06 18:28] calebissharp commented on #552
@LisaMoore1 This is for the grace days input in the pasture box itself, correct? Not in the grazing schedule row? As well, can you expand on what you mean by "missing explanation in plan text"? I don't quite follow.

@micheal-w-wells Could you please get the help text from the iPad for grace days? Thanks!

[2020-02-06 18:30] LisaMoore1 commented on #491
@calebissharp Yes please.

[2020-02-06 18:35] LisaMoore1 commented on #552
@calebissharp
If pasture: grace days field is empty there is placeholder text that explains what grace days are (the +/-... text)
Staff do not see that placeholder text because there is a default entry in the grace days field
Unless they mess around and delete the content in that field they can’t get at any explanation of what the field is for
Some explanation should go in one of those little ques

[2020-02-06 18:46] calebissharp commented on #556
Duplicate of #460

[2020-02-06 19:07] LisaMoore1 opened #560 "Pasture-allowable AUMs is whole number only but doesn't provide message to that effect if you enter a decimal -- just creates a save error that is nearly impossible to track down"
Add red/below field error messaging (on exit field or after entry?) that indicates it must be a whole number.

[2020-02-06 19:26] LisaMoore1 commented on #556
I'd like to keep this open as it is still happening and a major inconvenience.  It wouldn't be so bad if the "x" in the corner of these messages would let you close them but they don't work so you are stuck with it covering things (like you can't log out). Frustrating.  Maybe if we can't get at why they are persistent we could get at why the X won't close them.  I'm putting it in the backlog and i

[2020-02-06 19:28] LisaMoore1 commented on #556
Got it...duplicate.  WIll add comment re. X to that one.

[2020-02-06 19:28] #556 closed

[2020-02-06 19:28] LisaMoore1 commented on #460
It wouldn't be so bad if the "x" in the corner of these messages would let you close them but they don't work so you are stuck with it covering things (like you can't log out). Frustrating. Maybe if we can't get at why they are persistent we could get at why the X won't close them. I'm putting it in the backlog and it can be picked up if someone is looking for an issue to work on.

![persistent me

[2020-02-06 19:43] calebissharp commented on #552
@LisaMoore1 The help text form the iPad:

It seems a bit weird from my perspective.

[2020-02-06 20:12] LisaMoore1 commented on #552
It is strange and I will update before this is actioned -- just have to head out right now.

[2020-02-06 22:40] #549 closed

[2020-02-06 22:43] #532 closed

[2020-02-06 22:44] #491 closed

[2020-02-06 22:45] #554 closed

[2020-02-06 23:04] LisaMoore1 opened #561 "PDF - Invasives - Other option looks weird the way it is displayed. See description."
On screen RUP "other" is at the bottom of a big list
It could be the only thing selected (no check boxes)
When that scenario displays in PDF the word "other" seems weird (other to what?)
The word "other:" can be removed from the beginning of the entry.  Just the text of the entry will be fine.

[2020-02-06 23:34] LisaMoore1 opened #562 "Work queue is sorted in an apparently random manner, cannot be resorted and for those with long lists it is difficult to find the RANs that need attention"
Sort function on all columns
Filter on Status (ex. see only those with "Feedback Required")

[2020-02-06 23:38] LisaMoore1 opened #563 "Staff need to be able to view RUPs for all RANs in their district -- view only their own"
Right now staff can only view/edit their own plans.  Being able to view all RUPs in their district is important thing during field season (beginning approx May1)

[2020-02-07 16:40] #492 closed

[2020-02-07 16:50] LisaMoore1 opened #564 "Plant Community Actions “Other” lets me enter text but it doesn’t “hold” it (i.e. goes to red empty as soon as I navigate away from field"

[2020-02-07 16:51] LisaMoore1 opened #565 ""Add minister issue action" button doesn't allow for the same option to be chosen twice in a row"
I think we’ve had this behaviour before.

[2020-02-07 16:57] LisaMoore1 opened #566 "Issues with Minister’s Issues Timing Action related to Online label and PDF dates"
Online labelling should be same as PDF (and plant community timing action) in that this is a “No Graze period” not a grazing period (emphasis here on NO graze)

On the PDF the start month for the No Graze period (which is correctly labelled there) is adding a month (ex. Online says June 1 but PDF is displaying Jul 1)![IMG_7490.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/585

[2020-02-07 22:54] micheal-w-wells commented on #566
give it 20 and its ready to test

[2020-02-08 03:44] #565 closed

[2020-02-08 03:49] #564 closed

[2020-02-08 03:49] #566 closed

[2020-02-10 19:22] micheal-w-wells opened #570 "On logging in site looks broken until agreements load"
![image](https://user-images.githubusercontent.com/955467/74182270-9b232b00-4bf7-11ea-8da3-f5b8bc432b50.png)

[2020-02-10 19:23] micheal-w-wells commented on #570
I get this for about 5 seconds prior to everything looking ok.  Lots of users will be on a much worse machine and that might be closer to 10.

[2020-02-10 19:25] micheal-w-wells opened #571 ""Staff Draft (Synced from iOS)" should read "Staff Draft""
label change needed to avoid confusion

[2020-02-10 19:27] micheal-w-wells opened #572 "IP, AH, and MC don't have yellow selection indicator on clicking"
Try and click these

![image](https://user-images.githubusercontent.com/955467/74182671-5350d380-4bf8-11ea-8ea4-efc218dcb343.png)

Pretty low priority but should get cleaned up at some point.

[2020-02-10 19:41] micheal-w-wells opened #573 "Weird behaviour on attempting decimal percentage for PLD"
If you attempt to enter a fraction of a percentage say .5, it instantly rounds up to 1 and then once you navigate away it goes to 0.  I tried with 1.5, rounds to 2, then you navigate away and it goes back to 1, so I think there's the pattern.

If we aren't doing fractions lets alert/go red on someone entering a decimal if that is easier to fix, if we're supposed to round it would be cool if it not

[2020-02-10 20:21] LisaMoore1 commented on #573
@micheal-w-wells Red messaging would be good re. whole number requirement. Same thing for Allowable AUMs for each pasture (that has separate issue)

[2020-02-10 20:21] LisaMoore1 commented on #573
@micheal-w-wells Red messaging would be good re. whole number requirement. Same thing for Allowable AUMs for each pasture (that has separate issue #560))

[2020-02-10 21:23] micheal-w-wells opened #574 "Grace days should let user know not to attempt a decimal"
Right now it just prevents save but user is left in dark.

[2020-02-10 21:26] micheal-w-wells opened #575 "Plant community description is red on first edititing"
![image](https://user-images.githubusercontent.com/955467/74191692-f01b6d00-4c08-11ea-8b60-004b46eeebbd.png)

[2020-02-10 21:33] micheal-w-wells opened #576 "schedule rows allows for entry of negative time"
If a range officer gets their dates backwards negative days are allowed, throwing off AUM calc

![image](https://user-images.githubusercontent.com/955467/74192232-f6f6af80-4c09-11ea-8bb7-2b35b54689d4.png)

[2020-02-10 21:36] micheal-w-wells opened #577 "Minister issue details turns red once I start typing"
Makes user think they have typed something wrong.  Should only turn red if I'm not on it and it needs to be fixed.

![image](https://user-images.githubusercontent.com/955467/74192379-4b9a2a80-4c0a-11ea-94a8-49a97d63d571.png)

[2020-02-10 21:39] micheal-w-wells opened #578 "additional req details turns red once I start typing"
Similar to #(this issue # - 1), shouldn't turn red when i start typing, only when I'm not on the field.

![image](https://user-images.githubusercontent.com/955467/74192607-b21f4880-4c0a-11ea-97ec-ab5d0bb8995f.png)

[2020-02-10 22:05] micheal-w-wells opened #579 "Extended and Excemption status in Plan Info could use some help text"
Also @calebissharp and I aren't sure what it is, can we get a brief description here @LisaMoore1 ?

Is it something that is meant to carry forward from FTA?

![image](https://user-images.githubusercontent.com/955467/74194545-4c34c000-4c0e-11ea-8277-f08c93c1b4c0.png)

[2020-02-10 22:31] LisaMoore1 commented on #579
@micheal-w-wells @calebissharp
Exemption: there are situations where a DDM can identify (make a decision) that a RAN Is exempt from aspects of RUP content/approval. When that happens now, a letter (document) is sent and put on file indicating the conditions of the exemption (there is always a minimum content requirement for schedule or following a previously approved though expired RUP), the term

[2020-02-10 23:00] calebissharp commented on #576
Duplicate of #533

[2020-02-10 23:00] #576 closed

[2020-02-11 16:41] LisaMoore1 opened #582 "Replicate an entire RUP to a different RAN"
There are many areas where there are multiple overlapping agreements for exactly the same area = same pastures, plant communities, monitoring areas, additional requirements and issues. Often the only thing different in these agreements is the client information, usage and schedule (i.e. info pulled from FTA and entered by AH). It would be considerable time savings to staff to be able to export the

[2020-02-12 16:28] LisaMoore1 commented on #541
@micheal-w-wells I think this one is done now. Can you add an estimate and close it?

[2020-02-12 16:29] #460 closed

[2020-02-12 16:36] LisaMoore1 commented on #547
@calebissharp is this a separate issue from what you recently worked on (#532)?

[2020-02-12 16:40] calebissharp commented on #547
@LisaMoore1 Correct. This issue tracks replacing *every* dropdown. So far I've just replaced the ones in the grazing schedules to resolves #532. I assume replacing the rest are a lower priority?

[2020-02-12 16:41] LisaMoore1 commented on #547
Yup. All good where it is just wanted to understand.

[2020-02-12 22:06] #541 closed

[2020-02-12 22:10] micheal-w-wells opened #587 "Plant community notes label and Other notes"
Plant community notes was labled 'Pasture notes', now reads 'Plant community notes'
Other notes was incorrectly repeating Plant Community notes, now shows the correct data if populated.

[2020-02-12 22:54] micheal-w-wells opened #588 "Range officer gets white screen on clicking plan date"
User has tried:

Clearing cache, trying again

I have tried to reproduce:
Same browser version
Using same data
No dice

Going to try another browser next.

[2020-02-12 22:55] micheal-w-wells opened #589 "Range officer can't see their agreements"
User has tried:

Clearing cache

I have tried:
Checking browser version
Stealing data, making myself RO, I can see them fine
Have double checked they are in fact in right zone

Will try next:  Another browser for them.

[2020-02-12 22:56] micheal-w-wells opened #590 "Flush out all FTA scenarios"
And for each make an issue highlighting the gap, and for each of those make some test data available for dev team to work with.

[2020-02-12 22:59] micheal-w-wells opened #591 "long pasture name in schedule overlaps text in pdf"
![image](https://user-images.githubusercontent.com/955467/74385373-42df5b00-4da8-11ea-8670-606d2e63d214.png)

[2020-02-12 23:04] micheal-w-wells opened #592 "Autosave plans before generating PDF"
Not saving and hitting print pdf means it is out of order.  Maybe a 'there are unsaved changes that wont be reflected on the pdf' would be helpful.

[2020-02-13 16:39] LisaMoore1 commented on #587
@micheal-w-wells The label here should be "Plant Community Description".

[2020-02-13 16:44] #518 closed

[2020-02-13 16:46] #487 closed

[2020-02-13 16:46] #530 closed

[2020-02-13 16:47] #560 closed

[2020-02-13 16:53] #533 closed

[2020-02-13 17:21] LisaMoore1 commented on #534
@calebissharp Two remaining:

Invasive Plant second bullet should read: “Any work will begin in...” (“being” needs to be changed to “begin”)

Plant Community: Aspect/Elevation Info
- if they do not include content, do not display anything
- if they contain content include labels

![IMG_7517.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/86e6a803-6f55-4a8e-8934-e50720e57c73)
![

[2020-02-13 17:22] LisaMoore1 opened #594 "Invasive Plant second bullet in RUP should read: “Any work will begin in...” (“being” needs to be changed to “begin”)"
This issue is the pair to #534 for the PDF

[2020-02-13 17:26] LisaMoore1 commented on #591
@micheal-wells Here’s an image of the one I was using to test it for #411.  Just saw it this morning in the PDF I was working through. Do we know what RAN she had the overlap in? If so we could check using Admin.

![IMG_7516.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/5442187d-6ca6-4b04-93ea-00edf9de8a4c)

[2020-02-13 17:37] micheal-w-wells commented on #587
give it 20-30 min and a clean cache

[2020-02-13 18:26] micheal-w-wells commented on #591
She says RAN077514, RAN077506, RAN077531.

Original issue (in case it helps troubleshooting) was #411

[2020-02-13 19:28] micheal-w-wells commented on #589
Turns out they have two IDIRS in FTA, getting it sorted.

[2020-02-13 19:28] #589 closed

[2020-02-13 20:02] LisaMoore1 commented on #591
@micheal-w-wells Seems to be a problem with having a / in the name at certain positions (later I think). No problem with hyphens Compare these two images.

![IMG_7544.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/91c84f57-1e33-4c35-a345-3d71323c7d62)
![IMG_7545.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/4cfe8ed9-add4-4f77-9edf-a00d5afdd4e7)

[2020-02-13 21:43] #571 closed

[2020-02-13 21:43] #587 closed

[2020-02-13 21:45] #534 closed

[2020-02-13 21:46] #594 closed

[2020-02-13 21:52] LisaMoore1 opened #599 "Monitoring Area: Rangeland Health field should be changed so it is no longer mandatory"
Spoke with ecology folks and they're good with change.

[2020-02-13 21:52] LisaMoore1 commented on #599
@calebissharp  This is the one. If it you start and it looks bigger than XXS let me know and we'll just hold off until next deploy. Thx!

[2020-02-14 00:01] #599 closed

[2020-02-18 17:43] LisaMoore1 opened #602 "PDF confirmed by AH lines needs to address wrapping when name is long (ex RAN077277) and ensure that each AH is on separate line"

[2020-02-18 23:44] LisaMoore1 opened #603 "Logging out and back in causes a white screen"
Seems inconsistent but has happened to me more than once (even shortly after clearing cache) on both chrome and Safari.

[2020-02-21 00:18] LisaMoore1 commented on #603
@micheal-w-wells.  This is me too. Just a weird thing where if occasionally when I log in I’ll get a white screen (I think it’s totally white not just missing RUPs) but if I refresh then everything is good.  I’ll pay better attention next time it happens to the exact look. Might be related to the accompanying occasional “error/retry” message that also just needs a refresh and you’re good.

[2020-02-21 17:52] micheal-w-wells commented on #588
From the RO's chrome console on hitting inspect on the white screen:

@calebissharp this one mean much to ya?

![image](https://user-images.githubusercontent.com/955467/75058416-d3e0c100-548f-11ea-81c7-dc51c90bf04b.png)

[2020-02-21 17:53] micheal-w-wells commented on #588
RAN075154 @LisaMoore1

[2020-02-21 20:21] LisaMoore1 opened #604 "Agreement Holder is able to initiate and get desired amendments to staff"
**Applies to all amendment types**
- [ ] option visible to start amendment
- [ ] AH can edit plan (any content open to AH)
- [ ] option to save draft of amendment
- [ ] option to submit the amendment
   - [ ] prompts for explanation of amendment
   - [ ] opportunity to select amendment type
   - [ ] language is clear on difference between amendment types
- [ ] signature gathering workflow initiate

[2020-02-21 22:12] #604 closed

[2020-02-21 23:07] LisaMoore1 opened #605 "If "other" (not first) signatories select the option to request clarification the information isn't super clear nor am I sure if the contact person is right. Could use some brainstorming."

[2020-02-24 19:46] calebissharp commented on #604
@LisaMoore1 Is there a reason you closed this?

[2020-02-24 20:54] LisaMoore1 commented on #604
Because the other epic (#471) with the associated issues is probably more useful at this point. Feel free to do whatever makes the most sense to you.

[2020-02-24 22:16] calebissharp commented on #604
@LisaMoore1 Oh gotcha, I didn't see that. Can you copy the checkboxes you put in this issue into #471? I found them pretty helpful.

[2020-02-24 22:48] LisaMoore1 commented on #604
@calebissharp Done.

[2020-02-25 17:07] calebissharp commented on #603
@LisaMoore1 By "submit" do you just mean when you log in in? Or do you get a white screen when you submit an RUP?

[2020-02-25 17:18] calebissharp opened #606 "Agreement holders should be able to discard minor amendments"
The plan should be reverted to the most recent approved version.

Currently, the plan is to completely remove all changes introduced by a discarded amendment.

Related to #471

[2020-02-25 17:26] LisaMoore1 commented on #603
@calebissharp Sorry. Just when I go through the login process before I ever view a RUP. I haven't been able to nail down exactly what conditions cause this but it happens periodically.

[2020-02-27 16:58] calebissharp commented on #465
Should be fixed implicitly by JSON snapshots.

[2020-02-27 17:05] calebissharp commented on #588
@micheal-w-wells Do you have any more info on this?

[2020-02-27 17:08] calebissharp commented on #605
Sorry, is this in the "add signature" dialog for multiple agreement holders?

[2020-02-27 17:10] calebissharp commented on #592
@micheal-w-wells I think a better solution would be to automatically save the plan before showing the PDF dialog.

[2020-02-27 17:12] calebissharp commented on #582
@LisaMoore1 What about statuses and status histories? I assume you wouldn't want to copy that over. And what if there's already an RUP in progress, would the copy overwrite it?

[2020-02-27 17:18] calebissharp commented on #603
Potentially related to #570

[2020-02-27 17:20] calebissharp commented on #563
@LisaMoore1 Should they just be able to *view* (not edit) plans in their district that aren't their own?

[2020-02-27 17:24] LisaMoore1 commented on #605
It is. I think ideally it would provide them with the name/contact for the person who initiated the amendment or the first person to sign (I supposed those could be different) but either way it would put them in contact with a person who  understands what is proposed in the amendment.

[2020-02-27 17:25] LisaMoore1 commented on #563
@calebissharp Yes, view only for all of district, edit only for those assigned to them.  I think this could get very messy in the work queue until there is a way to filter it (see #562)

[2020-02-27 17:27] LisaMoore1 commented on #582
@calebissharp only the data (this is basically a glorified cut and paste). I'll ask my SME group what they think is best re. overwrite.  Should have something for you by Tues if that works for you.

[2020-02-27 17:31] micheal-w-wells commented on #588
Nope just the one single user/RAN.

[2020-02-27 17:43] calebissharp commented on #563
@LisaMoore1 Gotcha. May be a bit tricky to implement then, since the editable/non-editable stuff is just based around roles and statuses, but doesn't take into consideration ownership.

[2020-02-27 17:48] LisaMoore1 commented on #603
Agree there is potential relationship but with the white screen mentioned here I've waited for ages and it just stays white with no indication there is an error or it is processing.

[2020-02-27 17:52] LisaMoore1 commented on #563
@calebissharp Does it make it any simpler if we only make this option available for approved plans (which aren’t editable to anyone)?

[2020-02-27 19:17] calebissharp commented on #563
@LisaMoore1 Maybe. I would recommend putting this feature pretty low priority for now though.

[2020-02-27 19:18] calebissharp commented on #603
@LisaMoore1 Ok, sounds like it's probably a little different then.

[2020-02-27 19:20] calebissharp commented on #588
Going to be a bit tricky to narrow down the issue without being able to reproduce it locally. Info on what the contents of the plan are, what status it's in, and what it looks like in the database could be important.

[2020-02-27 20:07] calebissharp opened #609 "Replace react-loadable with loadable-components"
The react-loadable library, which we are currently using to deal with async loading of components, is unmaintained. It is using deprecated React APIs which are throwing some warnings for now, but these APIs will be removed in a future version.

[loadable-components](https://github.com/gregberge/loadable-components) is the current community-recommended solution, and the API should be fairly compati

[2020-02-27 21:00] calebissharp commented on #552
@LisaMoore1 Pinging you on this in case you've lost it :)

[2020-02-28 19:00] micheal-w-wells opened #610 "Ideally RO could filter for unlinked users/clients at Manage Client step"

[2020-03-02 16:31] LisaMoore1 opened #611 "Schedule pastures appear as "Not Provided" when plan is not editable"
@calebissharp @micheal-w-wells Uh oh!!!! This has got to be high priority!

My 099911 (staff draft) seems to be good
![image.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/44e63a53-8aac-46aa-8744-3679ce894bb9)
My 099956 (decision required) shows not provided
![image.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/a1636e75-5ec1-403d-a236-e2660088de28)

All of

[2020-03-02 17:50] LisaMoore1 opened #612 "Clients with gov.bc.ca email addresses not showing in drop down list to connect client"
@micheal-w-wells One of Chris’s — Entries immediately before and after her are displaying in the list properly. Hoping this isn’t somehow a leap year gift.

[2020-03-02 21:05] LisaMoore1 commented on #611
Heads up, this behaviour is also happening in the test environment.  I haven't checked all statuses yet but will try that now before my next call and see if I can narrow it down.

[2020-03-02 21:17] LisaMoore1 opened #613 "Work Queue displaying (or perhaps there actually are) many copies (versions?) of things in some cases."
Samples here:

![928CE194-E21D-4453-A1A7-3D774B6EFC9A.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/a68d76e4-3293-4e45-a53f-470e5afab1b3)

![D4927954-9908-44F4-A3D6-FDFE774DAE85.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/fd5b1f77-d669-4319-9deb-12ccb502bc55)

![92AC1F78-4DB0-456D-A9BB-0ED57AD76A73.png](https://images.zenhubusercontent.com/5d937161c8e4d8

[2020-03-03 18:46] calebissharp commented on #613
@micheal-w-wells Can you run check this in the db?

[2020-03-03 19:09] calebissharp commented on #612
The get client request seems to be excluding emails that end in `@gov.bc.ca`. Do you know why it's like this @LisaMoore1?

[2020-03-03 19:30] micheal-w-wells commented on #612
its probably to exclude staff from showing up in the list

[2020-03-03 20:07] LisaMoore1 commented on #612
@calebissharp @micheal-w-wells Yup. It was so the top drop down list was more relevant (and mistakes couldn't be made accidentally selecting staff). There are very few AH that are also government employees and did not expect govt employees to work email for items related to their business...

[2020-03-04 18:29] calebissharp commented on #612
@LisaMoore1 Ok, what should the plan be here then? I assume you still want to prevent staff from showing in the list.

[2020-03-04 18:38] LisaMoore1 commented on #612
@calebissharp Can we filter for usernames that start with "bceid\" and aren't "myrangebc" rather than emails ending in gov.bc.ca? That would get us to the same spot I think of excluding staff from the list.

[2020-03-04 18:54] calebissharp commented on #612
@micheal-w-wells What do you think? I don't know enough the data in prod to determine if a filter like that would be comprehensive.

[2020-03-04 18:55] #609 closed

[2020-03-04 19:41] LisaMoore1 commented on #612
It appears that all entries are either idir\ or bceid\  so excluding all those beginning with idir definitely gets rid of just staff.  "myrangebc" (what we use for administration in prod) does not seem to have a user account so doesn't have to be excluded.  @micheal-w-wells Seem right?

[2020-03-04 19:59] LisaMoore1 opened #615 "Some user accounts are missing emails which will be a problem if notifications are integrated using emails."
For the most part staff will have emails for those AHs and when this becomes relevant Lisa can work with staff to complete all contact info.

Might want to consider making email a required field on initial visit to myrangebc??

[2020-03-04 20:38] LisaMoore1 opened #616 "Plan end date must be after plan start date."

[2020-03-04 20:38] #616 closed

[2020-03-04 20:38] LisaMoore1 commented on #616
Created in error

[2020-03-04 20:43] LisaMoore1 opened #617 "Criteria import missing range readiness fields when source plant community is unsaved"

[2020-03-04 21:12] micheal-w-wells commented on #612
I think removing the filter on .gov.bc.ca, but also filtering out the bceid\myrangebc user and IDIRs should do the trick for now.  Staff are not to login as staff with BCEID (other than as bceid\myrangebc admin) and not as AH with IDIR.

[2020-03-04 21:27] LisaMoore1 opened #618 "Monitoring area copy overwrites the original on save, if the original was persisted"
Monitoring area created ("copy this") then copied ("copy")-- as expected
![image.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/b87aefe6-00d7-40e0-96ef-982a3f3dbfed)

RUP saved -- original (what you copied from) no longer visible (this remains the case after exit plan and return)
![image.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/cee65e1e-1c74-4a3a-829b-

[2020-03-04 21:36] LisaMoore1 opened #619 "A plant community was still visible after delete, delete option yielded "null" name in the popup, on completion two plant communities were deleted."
Couldn't replicate. Maybe a slow connection issue?

[2020-03-04 21:47] LisaMoore1 opened #620 "Copied pastures do not appear in correct order"
These were entered in the following order:  Original, Manual Pasture(1), then copy of original

![image.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/e208cc08-119b-456b-ba64-4eba0c05c9d9)

[2020-03-05 00:16] LisaMoore1 opened #622 "Versions are hard to differentiate from each other and may have a weird date update thing happening."
Moved a version (180) that was in decision required to recommend and then approved.
Several entries exist for this RAN
![image.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/2875ece5-5d1e-4ab2-b060-d0e54f9e0358)

There are three versions listed:
![image.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/735b2e5b-3efa-45c3-ac78-699f548f2ab1)

![image.png](https:/

[2020-03-05 16:28] calebissharp commented on #619
@LisaMoore1 Can't seem to replicate the delete issues. The name appearing as "null" is a separate issue though.

[2020-03-05 16:43] LisaMoore1 commented on #619
@calebissharp I thought maybe the name as null happened because it actually had deleted so when it went looking for a field to display there wasn’t one. I’ve had that happen in FileMaker before. The not being replicable part was why I handed the comment about slow connection.  Wondered if it was still “processing” the delete when I though it hadn’t happened yet and did it again. I think we had som

[2020-03-05 17:23] calebissharp commented on #620
@LisaMoore1 Is this reordering on save?

[2020-03-05 18:33] LisaMoore1 commented on #620
@calebissharp I’m not 100% sure.  I just noticed it while I was doing a bunch of pasture copying and deleting.  I think I noticed it right after I copying a pasture but before doing anything else.  Whether that is when it occurred or not I’m not sure.  Sorry.

[2020-03-09 15:23] micheal-w-wells commented on #588
When your ready next to pick up a task swing by my desk we'll get you whatever data you need from this RAN in prod @calebissharp

[2020-03-09 15:49] micheal-w-wells commented on #562
Got the data on the new table but handed over to @calebissharp for his styling expertise and to get it from prototype to prod worthy.

[2020-03-09 20:12] calebissharp commented on #620
@LisaMoore1 Does the resorting just happen when you **copy** a pasture?

[2020-03-09 20:22] calebissharp commented on #588
@micheal-w-wells Can you send me the results of

[code]

for this RAN?

[2020-03-09 22:51] LisaMoore1 commented on #620
@calebissharp Looks like only after a save has occurred after copying a pasture.
- manual pasture added -->good order
- save --> still good order
- copy pasture --> correct order
- save --> copied pasture moves to somewhere up the list

[2020-03-10 16:59] calebissharp commented on #620
@LisaMoore1 Does this happen for other fields that allow you to copy?

[2020-03-11 16:42] LisaMoore1 commented on #620
@calebissharp I think this is the only place we have a straight up copy function so the only place I can test it.

[2020-03-11 16:47] calebissharp commented on #620
@LisaMoore1 What about grazing schedules/rows, additional requirements, and monitoring areas?

[2020-03-11 17:48] LisaMoore1 opened #627 "Save after copying a monitoring area deletes the Monitoring area that was copied"
When monitoring area A is copied to create monitoring area B, before save both A and B are visible. After save A is not longer visible (deleted?)

[2020-03-11 17:49] LisaMoore1 commented on #620
@calebissharp Thanks for having me look at this. Got foggy brain. I thought we could copy in all sorts of places but when I looked today this is where we're at:

Additional Requirements -- has the same order problem for copied entries as pastures (missed this one earlier)
Monitoring Areas -- see Issue #627
Schedules are copied to a specific year and sorted by year so not an issue there.
Schedule r

[2020-03-12 15:23] calebissharp commented on #620
@LisaMoore1 Ok great. Thanks for double checking. I think the monitoring areas should be fixed by #626, and the pastures by #624. I'll have to open another PR for additional requirements though.

[2020-03-12 15:28] calebissharp commented on #620
Oh nevermind, additional requirements should have also been fixed.

[2020-03-12 18:20] LisaMoore1 commented on #620
@calebissharp This is still happening for me. Has the code been merged?

[2020-03-12 18:21] calebissharp commented on #620
@LisaMoore1 Yep.

[2020-03-12 18:26] calebissharp commented on #620
@LisaMoore1 Is is possible you're using an outdated version of the app. Can you try clearing cache?

[2020-03-12 19:06] micheal-w-wells opened #628 "Silent failing deployments when oc build fails"

[2020-03-12 21:09] micheal-w-wells opened #633 "Plan confirmation should be linked to user account instead of client_id"
This saves us in the situation where we relink a user to another client number and/or location code, otherwise they get stuck wondering why they can't sign (no submit button will appear).

[2020-03-13 23:41] micheal-w-wells opened #637 "staff request: warning about deleting a whole year on the schedule"

[2020-03-16 15:26] calebissharp commented on #561
@LisaMoore1 Do you want to remove the "other: " text just when none of the other checkboxes are selected, or remove it completely?

[2020-03-16 18:57] micheal-w-wells opened #638 "staff request: for non-primary agreement holders, don't make submit button be under the 3 dots"
Primary AH gets a big button, others have to look for the 3 dots and click it.  For the less than tech savy it isn't super obvious and a few Range Officers have asked that we make it more obvious.

[2020-03-16 20:01] micheal-w-wells opened #639 "Block creation of RUP's when surrendered or archived in FTA"

[2020-03-16 20:02] micheal-w-wells opened #640 "Allow staff to hide RUPS for archived/surrendered RANS."

[2020-03-16 20:03] micheal-w-wells opened #641 "Indicate which AH are new to RUP since last signing."
We should provide staff with a visual indicator of which client records are new to the RUP/agreement since last approved.

[2020-03-16 20:04] micheal-w-wells opened #642 "RUP should indicate when Usage for given agreement has changed since last signed/approved"

[2020-03-16 20:07] micheal-w-wells opened #643 "Implement Notifications for Staff and AH"
As MyRange grows and there are more scenarios needing an amendment, or indications to staff that an AH has acted and they need to do something, it's probably time to start thinking about a notification system, and perhaps adding some columns (maybe toggleable) to the work queue.

attributes to persist:
id (obviously)
type
description
user
read/unread

[2020-03-16 20:12] LisaMoore1 commented on #561
@calebissharp I think it can be removed completely and appear as text under the Invasive Plants heading.

[2020-03-16 20:22] calebissharp commented on #561
@LisaMoore1 Ok, sounds good.

[2020-03-16 21:09] calebissharp commented on #637
@micheal-w-wells It looks like this already exists. When I choose the "Delete" menu option for a year's grazing schedule, I get a confirmation dialog. Is there any more information you could provide? Perhaps this is actually a bug that a staff person saw. Or is is just the messaging that needs to be updated?

<img width="974" alt="image" src="https://user-images.githubusercontent.com/8854811/76799

[2020-03-16 21:43] micheal-w-wells commented on #637
@calebissharp yeah lets change it to "Are you sure you want to delete the entire year from the schedule?  This cannot be undone".

[2020-03-16 21:44] micheal-w-wells commented on #613
@calebissharp is this one i sent you results on in slack or are you still stuck?

[2020-03-16 21:49] calebissharp commented on #613
@micheal-w-wells Ya, what I sent you about removing that diverging snapshot. Just need to clean it up so the migration will run.

[2020-03-17 20:40] micheal-w-wells commented on #573
Simplest thing to do here was to force whole numbers.

[2020-03-17 20:58] micheal-w-wells commented on #510
moving to in progress as this should be resolved with the new home page table

[2020-03-17 21:05] micheal-w-wells commented on #108
closing as this appears to be done

[2020-03-17 21:05] #108 closed

[2020-03-17 21:07] micheal-w-wells commented on #590
I think there's an issue for everything but replacements so I'll close and make one for that.

[2020-03-17 21:07] #590 closed

[2020-03-17 21:07] micheal-w-wells opened #647 "Handle Replacements Gracefully"
will paste notes - stand by

[2020-03-17 22:08] micheal-w-wells commented on #574
@LisaMoore1 @calebissharp did we allow decimals for grace days at some point?  You can save 1.5 no problem.

[2020-03-17 22:11] micheal-w-wells commented on #574
Actually it just doesn't error now and didn't save.  I'm changing it to force whole numbers.

[2020-03-18 17:21] calebissharp commented on #108
@micheal-w-wells Is there a PR you can attach to this issue?

[2020-03-18 17:55] micheal-w-wells commented on #602
@LisaMoore1 @calebissharp thinking this got fixed by something else?  That PDF looks pretty good to me.

[2020-03-18 19:22] LisaMoore1 commented on #602
@micheal-w-wells This seems to be fixed to me.

[2020-03-18 20:06] #611 closed

[2020-03-18 20:11] LisaMoore1 commented on #612
@calebissharp The list in test now seems really short but I’m not sure if that is because those are the only entries in the test environment. Can you confirm with @micheal-w-wells that what is appearing there is complete for test given the filters?

[2020-03-18 20:57] micheal-w-wells commented on #638
Struggling to see how to reproduce this one, I have a RUP in test with 2 AH, primary and other both have a submit button not under the 3 dots.

[2020-03-18 21:09] micheal-w-wells opened #651 "Fix capitalization"
"Your Initial Range Use Plan is ready for final decision
Staff have reviewed this initial range use plan and recommend that it be submitted for final decision. Select "Submit" to begin the submission process."

Is what's currently there.

[2020-03-18 21:12] micheal-w-wells commented on #638
Eventually saw it.  Once the primary has submitted the 'Sign' button is only available to AH # 2 under the 3 dots.

[2020-03-18 22:00] micheal-w-wells commented on #612
Looking now

[2020-03-18 22:03] micheal-w-wells commented on #612
[code]

[2020-03-18 22:04] #602 closed

[2020-03-18 22:05] micheal-w-wells commented on #108
Not sure when it was addressed I didn't fix it this round @calebissharp

[2020-03-18 22:07] micheal-w-wells commented on #592
@calebissharp SGTM

[2020-03-18 22:10] micheal-w-wells commented on #638
related to #544

[2020-03-18 22:55] LisaMoore1 commented on #612
@micheal-w-wells I’m still not exactly sure what is happening with the list as there are 18 ( I think) rows in the drop down. Does that mean there are 4 in the list that have non-BCeID user accounts?

[2020-03-18 23:23] micheal-w-wells commented on #612
You're logic is sound yep, having a look at the list myself I'd say those are dev accounts to login as AH.  @LisaMoore1

[2020-03-19 02:40] LisaMoore1 opened #652 "Unable to exit out of copy pasture screen (neither cancel nor X) work"

[2020-03-19 02:45] #620 closed

[2020-03-19 02:48] LisaMoore1 commented on #588
Not Able to test this one so moving to closed for now.

[2020-03-19 02:50] #574 closed

[2020-03-19 02:52] LisaMoore1 commented on #573
@micheal-w-wells I’m getting the “must be whole number” message when I enter a whole number like 5 or 10. The red and message also appear immediately upon me entering any value rather than on exit field like the other field validations do. Not sure if that is a problem or if it is validating after each keystroke

[2020-03-19 02:58] #588 closed

[2020-03-19 03:15] #591 closed

[2020-03-19 03:20] #561 closed

[2020-03-19 04:33] #619 closed

[2020-03-19 04:54] #617 closed

[2020-03-19 05:01] #618 closed

[2020-03-19 05:03] #90 closed

[2020-03-19 15:43] LisaMoore1 opened #653 "Action for Minister’s Issue: Action Description is required but does not have asterisk and does not show pink/required field until you enter the field to start typing"
Add asterisk to identify as required (match look/behaviour to other required fields)

[2020-03-19 15:45] LisaMoore1 opened #654 "“Go back” and “retry” screen “retry” doesn’t seem to do anything"
I’m getting that screen frequently (and unexpectedly — like just navigating on a screen and it appears) but I also have very slow connection speed this morning.

[2020-03-19 15:50] LisaMoore1 opened #655 "No grazing period fields formatting/function need update need fix (required asterisk and shouldn’t have default date)"
**For MInister’s Issue**

- Start and end graze period fields need asterisk to identify as required
- start and end graze period fields should not auto populate with today’s date (should be blank)

**For Plant community actions**

- Start and end graze period fields need asterisk to identify as required

[2020-03-19 16:30] LisaMoore1 opened #656 "Management considerations details should be a required field"
Make required
Identify with asterisk
Shading and message if left blank

[2020-03-19 17:18] LisaMoore1 opened #657 "AH requesting feedback workflow has status problems (ex. RAN099951)"
- Staff prepared draft and submitted to AH (as expected)
- AH updated and requested feedback from staff (as expected)
- Staff still seeing “submitted to AH for input” header (should be provide feedback header) (unexpected)
- Staff seeing “Request changes” as only option (I think this is the list associated with something other than feedback) (unexpected)
- If staff request changes the workflow pop

[2020-03-19 18:20] micheal-w-wells commented on #657
Note for myself to put RAN099951 back in zone 40.

[2020-03-19 18:26] micheal-w-wells commented on #657
Ran this in test, not using my local install so it was same code as you:

I tried as Andy to submit for feedback again, all good.  Then as staff I get "Provide Initial Range Use Plan Feedback" and there are 'Request Changes' and 'Recommend for Decision' which I think is what should be there.  Not sure why it didn't work for you the first time around.  Thinking we should delete this one and try fro

[2020-03-19 18:31] LisaMoore1 commented on #657
I was trying to work entirely within the feedback workflow but I think got diverted somehow.

[2020-03-19 18:34] LisaMoore1 commented on #657
I agree that the two options you see are what was expected.  Also not sure why the staff comment re. the changes got stuck somewhere in the ether — never came into AH view/control for updates.

[2020-03-19 18:37] micheal-w-wells commented on #657
Deleted the plan.
Made a new one as me.
Submitted to Andy.
Andy changed the schedule, submitted for feedback
As Andy I saw that it was submitted for feedback.  As myself I saw that it had been sent to AH still.
I hit refresh a couple times.
Then as staff I saw what I should.

It seems like for some reason the site caching is super janky, similar to the agreement table/list.  @calebissharp what's y

[2020-03-19 18:55] micheal-w-wells commented on #657
The one thing not super life-like in our test, not that this justifies it or anything, but maybe mitigates some of the risk of the issue, is that in real like the back and forth isn't this fast.

[2020-03-19 19:14] LisaMoore1 commented on #657
Unless they’re sitting together in the office and realize they want to fix something.

[2020-03-19 20:15] calebissharp commented on #657
@LisaMoore1 / @micheal-w-wells, are you making sure to refresh the page when after it's been updated by the other user? I just want to make sure that's not the problem. We don't implement any kind of polling or realtime communication, so you have to refresh the page to get the most up-to-date information.

[2020-03-19 21:01] micheal-w-wells commented on #657
Note to self put RAN099911 back in zone 40

[2020-03-19 21:02] micheal-w-wells commented on #657
Lisa doesn't have a mutli session solution so I think she is logging right out.  Unless my memory is mistaken i nav'd away from the RUP and back as staff and it didn't update till I refreshed, about to do a few more tests to nail it down.

[2020-03-19 21:13] micheal-w-wells commented on #657
Yeah I tried again with a multiple AH RAN and same deal.   Nav'ing away and back it looks like the RUP hasn't changed states until you hit refresh.

[2020-03-19 21:22] calebissharp commented on #657
@micheal-w-wells Can we confirm everything works after you refresh though?

[2020-03-19 21:34] micheal-w-wells commented on #657
Sending it back to AH for extra changes, they are in same boat where if they nav away and back, it looks how they left it.  Refresh fixes it.  I then submit for final decision, go back to staff tab.  Looks good from list view, but open the link and old data cached again.   Refresh again fixes it.  Sign in from other AH (the primary, all else was done as secondary).  Had to hit refresh 3 times to g

[2020-03-19 22:33] LisaMoore1 commented on #657
Switching between browsers and then refreshing.  @micheal-w-wells All agreement holders are created equal. The primary is the one who gets the snail mail — that is the only thing that makes them special. Any of the agreement holders can start something...but there should ever only be one “something” on the go for a RAN at any given time.

[2020-03-19 22:58] micheal-w-wells opened #659 "error loading plan"
![image](https://user-images.githubusercontent.com/955467/77122203-447cee00-69fa-11ea-8df0-9d5527cb9eef.png)

@calebissharp

[2020-03-20 18:55] micheal-w-wells commented on #418
The issue right now is that each client + loc is has a unique id in ref_client, which is good, but only of those ids can on user_account, which is bad.

I think the right thing for us to do here is allow for an arbitrary number of client and or location codes for each user.  If staff/clients want things more segregated they can get another BCEID.  There's already a few staff who are concerned that

[2020-03-20 19:54] micheal-w-wells commented on #613
This train of thought has been derailed - @calebissharp can you paste the SQL I need to identify the records I need staff to review?

[2020-03-20 20:47] micheal-w-wells commented on #637
@calebissharp at a loss for why the test fails, can I get a second set of eyeballs on it?  https://github.com/bcgov/range-web/pull/661/commits/9ee7263aee4f137d84df758f9a9a1b59724b1ea9

[2020-03-20 20:57] micheal-w-wells commented on #654
There's likely some fetches with optimistic defaults for timeouts that we could bump out, bit of an exercise to identify them all.  @calebissharp for the libraries you are using for fetches now, is this a global config?  Anything else that could be causing this?

[2020-03-23 15:48] LisaMoore1 commented on #612
@micheal-w-wells So in your estimation is what we’re seeing the right list? If so we can close this one.

[2020-03-23 16:13] LisaMoore1 commented on #418
@micheal-w-wells I don’t see any well defined holes. I think if we consider the various agency agreement options we will arrive at a solution that works.  Bottom line:

- we need the right people to see the right agreements
- the three factors that come into play identifying who sees what are client number, location code and agent
- agent could be for a client number, #+locn, a RAN or multiples of

[2020-03-23 16:13] #627 closed

[2020-03-23 16:14] LisaMoore1 commented on #465
Based on the agreements I have to test with this seems to be resolved. Am closing.

[2020-03-23 16:14] #465 closed

[2020-03-23 16:58] LisaMoore1 commented on #510
@calebissharp @micheal-w-wells There are some funny things happening here. I can’t really tell which a “real” and which are because my connection is so slow. I’ll list some observations here. Can you let me now which are actually related to this and which should be separate issues?
- when I first sorted by status (descending) the SDs came at the top (expected). After filtering down to Dwyer and th

[2020-03-23 17:11] calebissharp commented on #418
Can we just add a `user_id` column to `ref_client`? This allows multiple client records to be attached to the same user account.

[2020-03-23 17:15] calebissharp commented on #654
@micheal-w-wells It's possible the "Retry" button was just never hooked up with the changed API around fetching plans. I'm not entirely sure it's a timeout issue either. It may be the connection dropping out entirely. I'll have to take a look.

[2020-03-23 17:37] micheal-w-wells commented on #418
That's a bright idea, but if we're hacking this stuff let's make it work for agency agreements too.  I'm assuming we want the RUP viewable for both the signee and the main person (what do you call them?).

I think we want a table with:
user_id, client_id, type, where type is 'owner' or 'agent'

[2020-03-23 17:48] #612 closed

[2020-03-23 17:49] calebissharp commented on #637
@micheal-w-wells If you change it to a regex, it should pass:

[code]

[2020-03-23 17:52] calebissharp commented on #613
@micheal-w-wells

I think I also may have had to delete the `plan_version` records where plan_id=177.

[2020-03-23 17:53] micheal-w-wells commented on #488
@calebissharp can we have a 'isblank. schedule' var that we look at in the yup schema rule and not error if that's the case?

[2020-03-23 17:56] micheal-w-wells commented on #637
thanks man

[2020-03-23 17:56] micheal-w-wells commented on #637
/remind me to put this in a pr this afternoon

[2020-03-23 17:59] calebissharp commented on #488
@micheal-w-wells I'm not sure I follow. The validation logic is alright here, it's the confirm dialog that we're missing.

@LisaMoore1 Coming back to this issue though, I've realized a couple of things. First, we have many different ways of presenting errors to the user, through field errors, a toast notification, scrolling to some errors, showing errors for entire blocks of fields, and displaying

[2020-03-23 18:02] calebissharp commented on #418
@micheal-w-wells You're right, having a separate table will (hopefully) help decouple these two concepts. Maybe `active_client_accounts` for the table name?

[2020-03-23 19:33] LisaMoore1 commented on #418
In an agency situation both the AH and the person they authorize as agent to sign should have full access/signing options so long as that agency agreement is in place.

It is like adding access for another AH that doesn’t have their own “signature row” but if they do sign they are signing on behalf of an AH that does require a signature. If an agent signs we need to be able to identify that it was

[2020-03-23 20:40] #573 closed

[2020-03-23 22:18] #370 closed

[2020-03-24 15:08] calebissharp commented on #659
@micheal-w-wells Any more context here? Do you always get this error? Or does it only happen after doing a certain action?

[2020-03-24 15:11] LisaMoore1 commented on #606
Cancel option in the discard amendment workflow doesn’t do anything (doesn’t exit out of the workflow)

[2020-03-24 15:29] LisaMoore1 opened #662 "Versioning problems (multiple copies of current version all I can view)"
@calebissharp — it is hard for me to accurately test amendments until this is fixed
Ex. RAN099952
- original version created March 23rd —> approved
   - schedule description said something like “Schedule description 2020)
- amendment started and discarded March 23
- amendment started and draft saved on March 24th

Note that all the versions visible for this RAN are exactly the same (date, status,

[2020-03-24 15:32] LisaMoore1 opened #663 "RUP back button navigating to wrong page"
Refresh doesn’t fix it
Browser back arrow eventually gets me back to the list

[2020-03-24 15:39] LisaMoore1 commented on #562
@calebissharp
Staff Contact column does not populate a value until after a draft has been created
AH should always see who the staff contact is (even before drafts created) and when logged in as a staff person I should appear as staff contact for all of those I am contact for (right now everything I see)

Up arrow makes me think that is ascending — but that seems to be showing descending.
WIth man

[2020-03-24 15:40] calebissharp commented on #662
Just to clarify, what do you mean by "multiple copies of current version all I can view"? Are there multiple plans appearing in the work queue?

[2020-03-24 15:46] calebissharp opened #664 "Agreement pagination shouldn't allow you to navigate beyond the total number of pages"
Relates to #663

[2020-03-24 15:54] LisaMoore1 opened #665 "History flow (top of RUP) isn’t generating an entry when an amendment is started"
Somehow we need to be able to tell that the RUP we are looking at/working on is an amendment.
Allowing the history to be built on for the version that is a result of an amendment (with the history remaining the same for the pre-amendment versions) would be one useful way of doing that.

[2020-03-24 16:03] LisaMoore1 commented on #662
One version in the work queue but if I go to version page there are multiple versions...but while they are called (for example v1, v2 and v3) they are all showing the most recent version (V3 in this case).
I cannot easily tell what the current approved version is nor can I view it (if I could find it) since all versions available are the same. This is the case even if the most recent version is an

[2020-03-24 17:05] calebissharp commented on #662
@LisaMoore1 So if I'm understanding this correctly, this issue is a couple of things:
1. There is a missing version for the original RUP you had on March 23rd before creating an amendment. It should be v1, but instead v1 is the current version of the plan
2. The amendment you created and then discarded on March 23rd appears to have a version associated with it, although that version is also just a

[2020-03-24 18:05] LisaMoore1 commented on #662
@calebissharp That seems right.
@micheal-w-wells If I had access to the data  I’d check to see if those other versions actually exist (it makes me uneasy when I can’t see the previous versions). I’d also look to see if the approved version had rows in the schedule because I need to trouble shoot if the schedule rows are getting dropped when an amendment is started or if that was a one time weird-o

[2020-03-24 18:12] calebissharp commented on #662
@LisaMoore1 I can reproduce. From what I gather, the correct snapshots are all in the database, but the endpoint to actually retrieve the version isn't retrieving the right one. I'm going to do a bit more digging.

[2020-03-24 20:33] micheal-w-wells opened #666 "Agreements super slow to load with new sort functions"
Need to either optimize the query, or change it to make it usable.  WIP.

[2020-03-24 20:34] micheal-w-wells commented on #666
[code]

[2020-03-24 20:34] micheal-w-wells commented on #666
note for me

[2020-03-24 21:00] micheal-w-wells opened #667 "signing out auto signs back in"
Trying to click sign out doesn't work, it logs me right back in.

@LisaMoore1 @calebissharp anyone notice this one?

[2020-03-24 22:55] micheal-w-wells commented on #666
@ZoeSimon this is what i was talkin' about

[2020-03-24 23:07] micheal-w-wells commented on #659
haven't had it in a couple days @calebissharp

[2020-03-24 23:07] micheal-w-wells commented on #659
@ZoeSimon test # 2

[2020-03-24 23:09] micheal-w-wells commented on #659
/remind me to close next week if this doesn't happen again

[2020-03-24 23:21] micheal-w-wells opened #668 "Identify issues to do needed for next release"
Creating this for @ZoeSimon to learn what's up and going to get deployed soon.

[2020-03-25 17:55] calebissharp commented on #662
@LisaMoore1 Ok, should be ready for testing.

[2020-03-25 17:57] calebissharp commented on #667
Not so far, no.

Hard to tell if this is on our side or SSO's, especially if it can't be repro'd.

[2020-03-25 18:54] micheal-w-wells commented on #666
#. 154 155 and. 156 in range-api

[2020-03-25 19:24] micheal-w-wells commented on #666
and now 157

[2020-03-25 19:26] micheal-w-wells commented on #666
down from 12 seconds to 1 : )

[2020-03-25 19:27] micheal-w-wells commented on #667
gonna close unless you get it, i muck with my role in sso lots so could have been me ruining my cookies.

[2020-03-25 19:27] #667 closed

[2020-03-25 19:37] calebissharp commented on #667
Sounds good.

[2020-03-25 19:37] calebissharp commented on #666
Can this be closed then?

[2020-03-25 19:39] micheal-w-wells commented on #662
@LisaMoore1 we need to set up metabase for test I'll make an issue so we can sort it.   Will be handy for @calebissharp and @ZoeSimon too.

[2020-03-25 19:39] micheal-w-wells commented on #662
I can check for you after lunch myself in meantime,

[2020-03-25 19:41] micheal-w-wells opened #670 "Set up metabase for Test"
- [ ] make sure prod deploy config has no hardcoded vars that should be in oc env vars
- [ ] put in git
- [ ] make test version & set up oc env vars in test
- [ ] see what else there is to it

[2020-03-25 19:42] micheal-w-wells commented on #670
@ZoeSimon we can label things like 'environment setup, deployment automation (CI) etc, all fall under devops.  Even that IRIS thing we chattted about to an extent falls into that category.

[2020-03-25 19:43] micheal-w-wells commented on #666
I think in this case our testing probably covers it, yep.

[2020-03-25 19:43] #666 closed

[2020-03-25 20:20] calebissharp commented on #613
The migration's been run, so most of these duplicates should be either removed, or reduced, in which case they can be deleted on a case-by-case basic because we couldn't determine the most recent version.

[2020-03-25 20:43] ZoeSimon commented on #668
- [ ] this one
- [ ] #657

[2020-03-25 20:45] micheal-w-wells commented on #613
It's also the case that the test db has some wonkyness in terms of duplicates.  We should, either before or after this deploy do a wipe of plans and agreements in here and do a synch with test FTA to clean things up.   In meantime we'll verify your duplicates manually.

[2020-03-25 21:08] micheal-w-wells commented on #418
Changing name of issue as there is no PR against it and this is the new goal.

[2020-03-25 21:09] micheal-w-wells opened #672 "Verify that other client - linked things still work"
As part of https://github.com/bcgov/range-api/issues/157 and #418

[2020-03-25 21:11] micheal-w-wells commented on #637
#661

[2020-03-25 21:14] micheal-w-wells commented on #510
Double check Lisas duplicates in test and after this deploy check that no other staff has the issue in prod.

[2020-03-25 21:22] micheal-w-wells commented on #562
@LisaMoore1 Does the staff contact need to populated be regardless of the plan getting started?  The staff will know because they can only see their own RUP's, and the AH can't see it and aren't affected.  I could see it being annoying for admins maybe.

[2020-03-25 21:22] micheal-w-wells commented on #562
sorting was fixed in #666

[2020-03-25 21:24] micheal-w-wells commented on #472
@LisaMoore1 or @calebissharp if I were to test what am I looking for?

[2020-03-25 21:27] micheal-w-wells commented on #369
Note for myself and @ZoeSimon : you need to be AH as these are minor amendments.

[2020-03-25 22:12] micheal-w-wells commented on #668
@ZoeSimon I gave you RAN099911, RAN099951 and RAN099952 to test.  You and @LisaMoore1 might want to make some more dummy RANS in test FTA prior to our data refresh in test so there's an abundance to go around.  In meantime ping me to delete plans or move them between you.

[2020-03-25 22:23] micheal-w-wells opened #673 "GHA PR Based Pipeline"
Between @calebissharp and myself to work on a pr based pipeline using GHA.

The skinny for @ZoeSimon and @LisaMoore1 is this means we can get individual fixes out sooner rather than big bang releases.  We can do it now in really sticky situations (and no problem at all for synch job), but it's not very streamlined for the web app or api yet.

I'm making this issue so that it's known to you two tha

[2020-03-25 22:26] micheal-w-wells commented on #657
To whoever tests this:  if you still see duplicates let me know a few of the RANS and I'll see if we have anomalies in test that explain them, and clean them up.

[2020-03-25 22:30] micheal-w-wells commented on #662
There was 1 plan record and 3 snapshots for this RAN, which now belongs to @ZoeSimon .

[2020-03-25 22:49] micheal-w-wells commented on #668
Couple more:
- [ ] test #662
- [ ] test #637

[2020-03-25 23:18] #652 closed

[2020-03-26 15:22] LisaMoore1 commented on #562
@micheal-w-wells re. Staff contact.  I think it should populate staff contact for all RUPs — if not now in future as there is an enhancement listed on our board to allow view of all RANs in the district. Perhaps that could be changed to all RUPs in the district and if they haven’t been prepared they just wouldn’t show up on the list unless they belong to you.  There are maybe some options there bu

[2020-03-26 15:31] micheal-w-wells commented on #562
@LisaMoore1 works for me!

[2020-03-26 15:33] micheal-w-wells opened #674 "Staff contact (in work queue) not populated until RUP is created"
Spawned from #562

[2020-03-26 15:34] micheal-w-wells commented on #562
@LisaMoore1 i made #674 so there's a bit less reading to see what's outstanding.  If everything else for this one is good can we close it?

[2020-03-26 15:40] micheal-w-wells commented on #668
- [ ] #674 - side effect of work on #562 .  @LisaMoore1 is this one a 'fix before next release' or should we chip away at above list first?  If it can wait we'll strike it from this list.

[2020-03-26 15:43] calebissharp commented on #674
Hey @micheal-w-wells, I actually have some uncommitted changes which fix this. Would you like me to open a PR?

[2020-03-26 15:44] micheal-w-wells commented on #674
yeah let's do it! @calebissharp

[2020-03-26 15:48] #562 closed

[2020-03-26 15:53] #674 closed

[2020-03-26 15:57] calebissharp commented on #673
@micheal-w-wells This means we'll have multiple deployments, correct? For example, if you had 5 PRs open, you'd have 5 different URLs where you could see the isolated changes. I just want to make sure we're on the same page.

[2020-03-26 16:03] micheal-w-wells opened #676 "Make a way to record RUPs signed by AH on paper."
For all those still getting done on paper, and the few edge myra cases where we have no option but to mail it to AH, we need a way to capture these.

Down the line some day.

[2020-03-26 16:12] micheal-w-wells commented on #638
@calebissharp if you need one to do today can you help out with this?  I've had a poke but am not 100% on how to go about it just yet, and I've got a couple RO's with myra problems to chase down today.

[2020-03-26 16:35] calebissharp commented on #638
@micheal-w-wells I'm not totally certain the best way to go about doing this, but I think it is a non-trivial amount of work. Let me know if you still want to go ahead with it today.

[2020-03-26 17:06] micheal-w-wells commented on #638
@calebissharp when i get off the call let's eyeball it together

[2020-03-26 18:11] micheal-w-wells commented on #673
@calebissharp yep

[2020-03-26 18:49] micheal-w-wells commented on #638
/remind @calebissharp to make a PR for what we were doing every 5 seconds until noon

[2020-03-26 20:11] micheal-w-wells commented on #668
@ZoeSimon can. update 638 to be 'need to test'

[2020-03-27 15:29] micheal-w-wells opened #679 "Decide how to display (or not) RANS with other statuses"
I got the ORDS folks to change what data is available to us so we can:

- Make it easier to hide already archive RANS that didn't have a RUP to begin with
- Decide what to do with the ones in other statuses.

The whole list of type now is this, help me fill in the appropriate box and we can get this coded:

- A - Active
  - [ ] show it
  - [ ] there are special considerations when this changes/get

[2020-03-27 15:52] micheal-w-wells opened #680 "Figure out why there are so many in progress web builds in openshift"
Admin reached out and our project is eating resources up with a lot of pending builds, this is a ticket to track the task to sort it out and keep notes on the issue.

[2020-03-27 16:17] micheal-w-wells commented on #680
The disabled jenkins pipeline was still triggering the openshift web-dev pipeilne to trigger builds, and there were 100 outstanding builds.  I've marked all these for deletion and wiped the pipeline as well which should stop this from happening.

[2020-03-27 16:17] #680 closed

[2020-03-27 16:43] micheal-w-wells commented on #544
can wait until after #668 release

[2020-03-27 16:51] micheal-w-wells opened #681 "Fresh Test Data DB"
- [ ] delete all agreements & plans
- [ ] run synch against test FTA

For after #668

[2020-03-27 17:14] micheal-w-wells commented on #613
@LisaMoore1 I verified that none of your RAN09's should have an extra (old) primary so that dupe scenario is ruled out.

[2020-03-27 18:19] LisaMoore1 commented on #638
@calebissharp Has this been merged? I’m still needing to use the three dots to access the sign submission option rather than a button that says “submit”

[2020-03-27 18:34] calebissharp commented on #638
It should be. @micheal-w-wells Is there something up with openshift again?

[2020-03-27 18:49] LisaMoore1 opened #682 "Staff not easily able to see the statuses that require their attention."
I think we need (for staff only) a filter that drops all the nulls, all the approved, and all those in statuses that AHs can edit. There would likely need to be some refining when we enter DM workflow.

This was partially addressed by work queue sort (#562) but not fully. The sort doesn’t necessarily make what is needed rise to the top.
When the arrow is pointing down (I think this normally means

[2020-03-27 19:10] LisaMoore1 commented on #662
@calebissharp and @micheal-w-wells. Ex. RAN099912

Worked a plan through to approved (approved at 11:28 today)
Started an amendment — not yet signed so still in progress (amendment was started sometime right before noon)

Here are the images I see (just the top of the screen) when I select those versions.
![F3BFBB0F-3EA1-4BB5-9633-CD6EEF3D8012.jpeg](https://images.zenhubusercontent.com/5d937161c8e

[2020-03-27 19:11] #663 closed

[2020-03-27 19:13] #657 closed

[2020-03-27 19:14] micheal-w-wells commented on #638
@calebissharp there was one failed one for today (out of memory), so those other builds had no bearing on that issue.  I upped it another 500mb, and changed the run policy to be `serial latest` which means it runs one at a time, but only the most recent so it will discard no longer relevant ones.

The build with your changes made it through yesterday though.  Might want to test that one out thorou

[2020-03-27 19:16] LisaMoore1 commented on #668
@zoesimon @micheal-w-wells
It might be worth saving  this issue into an epic and then adding the issues to the epic so that as they get closed you don’t have to also check the box.  See #471 for an example (older when I was experimenting with this).

[2020-03-27 19:17] LisaMoore1 commented on #613
I haven’t seen any existing duplicates nor generated any as I’ve worked today. If no one else has either this can be closed.  @Micheal-w-wells if everyone else is good with this can you close it? Thanks.

[2020-03-27 19:17] micheal-w-wells commented on #662
Thanks @LisaMoore1 so at very least plan status isn't getting versioned properly, or that preview is only pulling the current one.  I'll dig.

[2020-03-27 19:19] #637 closed

[2020-03-27 19:20] micheal-w-wells commented on #662
@calebissharp what's the psql CLI safe way to query `plan_snapshot` without it screwing up my terminal?

[2020-03-27 19:21] micheal-w-wells commented on #662
i'm ok with a big blob of json to copy paste an format somewhere, but it doesn't even display that I just get a blank screen.

[2020-03-27 19:22] #613 closed

[2020-03-27 19:26] LisaMoore1 opened #683 "Prevent staff and AH from seeing each others in progress RUPs (Privacy feature)."
EDIT:  Hi Mike here, @LisaMoore1 skip to the bottom to see what to test. : )

@micheal-w-wells can you take a look at this while reviewing the other versioning stuff or forward on to Caleb? Thanks
I’ve put a bug label on this as I think it is a bug but since I am not able to see what is happening with the different versions. Will need someone else to confirm whether this aspect of versions has bee

[2020-03-27 19:28] calebissharp commented on #662
@micheal-w-wells Not sure.

[2020-03-27 19:48] LisaMoore1 opened #684 "Statuses related to workflow need to follow amendment related principles"
When AH has started an amendment the status in staff WQ is displaying “submitted to AH” — not accurate

Staff shouldn’t see anything different than approved until the AH actually submits an amendment.

AH is seeing “add content to RUP” which is OK but not ideal since it doesn’t indicate that there is an amendment in progress

- [ ] until an amendment is submitted the “other” (not amending) party i

[2020-03-27 19:51] LisaMoore1 commented on #606
@calebissharp Wondering if there is something up with the merge here.

- cancel button still not working
- selecting discard generates a blank red error message at the top right (is that called a toast?) and the discard doesn’t happen

[2020-03-27 19:52] LisaMoore1 commented on #468
@calebissharp — What should I be seeing here? When my connection is good no problem but when it is a little slow I still get the urge to click again as I’m not seeing anything indicating a function is in progress.  Do I need to install more patience or should I actually be seeing something?

[2020-03-27 19:54] LisaMoore1 commented on #369
Can’t test this one until versioning is fixed so that I can look at previous versions.

[2020-03-27 20:10] LisaMoore1 commented on #472
@calebissharp I’m not sure if this is same issue or should be added as a separate one (feel free to do that if that makes more sense to you)

I like this process although the options visible staff need to be:
   - stands
   - stands-wrongly made
   - wrongly made - without effect (add this one — selecting it reverts the plan back to the previous legal version...which needs to be CLEARLY identified

[2020-03-27 20:55] calebissharp commented on #606
@LisaMoore1 Yep, both of those things should have been fixed and deployed to test.

[2020-03-27 21:04] calebissharp commented on #662
@micheal-w-wells Can you also verify API changes are making it to test?

[2020-03-27 21:33] micheal-w-wells opened #686 "657"

[2020-03-27 21:34] micheal-w-wells opened #687 "#613"

[2020-03-27 21:34] #686 closed

[2020-03-27 21:34] #687 closed

[2020-03-27 21:35] micheal-w-wells opened #688 "Versioning and Client Linking Release"

[2020-03-27 22:29] LisaMoore1 commented on #606
I’m in a holding pattern on this one until I know I should try to test again.

[2020-03-27 22:30] micheal-w-wells commented on #472
@LisaMoore1 should there be another option for staff to fire it back to AH to fix an obvious typo/error?  I feel like DM will be going through a lot of mistakes staff could have caught?

Just so @ZoeSimon and I know what we are supposed to test, can we spell out:

1. Description of problem/solution
2. What are steps to test
3. Expected result

[2020-03-27 22:36] micheal-w-wells opened #689 ""Something went wrong" when clicking on plan as AH and Staff"
Both @ZoeSimon and I got this logging in as AH and clicking a RAN to edit.

Fixes it after a refresh or navigating away and back.

FYI. @LisaMoore1 @calebissharp

[2020-03-27 22:38] micheal-w-wells commented on #638
@ZoeSimon and I tested this and we didn't see the button there.  I'll double check but as far as I can tell deployments are working @calebissharp.

[2020-03-27 23:26] ZoeSimon commented on #638
@micheal-w-wells says "I added some temp placeholder text to prove deployments and merges are working. Note that even after clearing cache I didn't see the new changes! I had to make sure all my myrange tabs were closed and then clear cache in order for it to work"

![Clipboard - March 27, 2020 4_20 PM](https://user-images.githubusercontent.com/62561887/77808129-75d36a80-7047-11ea-9339-164e926190a

[2020-03-27 23:32] ZoeSimon commented on #606
@micheal-w-wells says "I added some temp placeholder text to prove deployments and merges are working. Note that even after clearing cache I didn't see the new changes! I had to make sure all my myrange tabs were closed and then clear cache in order for it to work"

![Clipboard - March 27, 2020 4_20 PM](https://user-images.githubusercontent.com/62561887/77808417-70c2eb00-7048-11ea-8ed5-81c8d21c4d5

[2020-03-30 15:13] ZoeSimon commented on #510
@micheal-w-wells is this the sort of duplication that you guys are referring to? I just checked my zone in prod and I still have one AH that has duplication:

![image](https://user-images.githubusercontent.com/62561887/77929067-169b7300-725e-11ea-9cf3-427e53bd6894.png)

[2020-03-30 15:24] LisaMoore1 commented on #510
@zoesimon These entries are multiple RUPs for the same RAN. I think this issue was multiple RANs. I think this is what we are referring to when looking at versions —  in test there were some that 15 or so RUPs for the same RAN.

[2020-03-30 15:26] ZoeSimon commented on #510
@LisaMoore1 Ah okay, gotcha.

[2020-03-30 15:32] LisaMoore1 commented on #472
@micheal-w-wells In this case there should not be an option to send back to AH.  With minor amendments they make them, they become legal, staff look to see if DM should review, if so staff make a recommendation based on the three options.  There is a fourth one that is “submit as a mandatory amendment” — not sure exactly the best spot to fit that one in. Will try to figure out today if staff can d

[2020-03-30 15:47] micheal-w-wells commented on #689
![image](https://user-images.githubusercontent.com/955467/77932928-0c2fa800-7263-11ea-909f-a91742980241.png)

[2020-03-30 15:48] micheal-w-wells commented on #689
@calebissharp
![image](https://user-images.githubusercontent.com/955467/77933065-3da87380-7263-11ea-9935-cbc438be8035.png)

[2020-03-30 15:49] micheal-w-wells commented on #689
Can you help me nail down what's going on with these? @ZoeSimon  and I were both getting it on friday and I'm getting it today, would be good if we don't push out an update that causes staff to get this page all the time.

[2020-03-30 16:13] calebissharp commented on #638
@LisaMoore1 I can't test this in `test`, since I don't have any multi-AH RANs. Are you still seeing the option in the menu, or are you not seeing a "Sign submission" button at all? If the former, I think it's a cache problem, if the latter, I'll have to look into reproducing.

[2020-03-30 16:13] LisaMoore1 commented on #689
I got this on Friday as well — first plan I tried to create. After refreshing I didn’t get it again for any plans I created — I tried.  Figured it was a connectivity thing but maybe not...

[2020-03-30 16:15] LisaMoore1 commented on #638
@calebissharp The sign option for the additional holders was under the three dot menu.  In the morning on Friday I closed all windows in all browsers and cleared all history/data in both—which in theory should have given me a correct cache clear.  I’ve done the same again this morning and will try to test again when I’ve got a minute.

[2020-03-30 16:18] LisaMoore1 commented on #689
And I just got it immediately after signing in with my IDIR but before seeing any of my WQ

[2020-03-30 16:19] calebissharp commented on #689
I think it's an issue with it trying to use data before it's been fetched and stored in local storage. When you refresh it's because it's now in local storage and can access it. I bet this happens every time after you clear the cache?

[2020-03-30 16:22] LisaMoore1 commented on #689
This morning after clearing cache and I got it immediately after signing in with my IDIR but before seeing any of my WQ as well as when signing in as AH using BCeID. Friday was the first time I noticed it logging in post cache clear so not sure there.

[2020-03-30 16:23] ZoeSimon commented on #638
@calebissharp @LisaMoore1 I just tested this one by signing on the ben.wyatt account as him and leslie.knope have a shared plan under RAN099915, and a "Sign Submission" button was showing up and wasn't hidden under the 3 dots, so I'm thinking this one is all clear? @LisaMoore1 I'd feel more comfortable if you tested and closed it just in case though as I still have rookie status.
![image](https://

[2020-03-30 16:35] LisaMoore1 commented on #638
Same as for me this morning.  @zoesimon you can go ahead and close this one. 😊

[2020-03-30 16:37] #638 closed

[2020-03-30 16:40] calebissharp commented on #468
@LisaMoore1 You're right, there is no loading indicator. This may be regressed behaviour.

[2020-03-30 17:24] micheal-w-wells commented on #689
@calebissharp if that's the case how big of a task is it to check if there's no cache and wait for the first fetch?

[2020-03-30 17:49] micheal-w-wells commented on #537
@calebissharp see anything wrong with this approach, or other special considerations with the cache stuff you've done so far?  https://dev.to/flexdinesh/cache-busting-a-react-app-22lk

[2020-03-30 18:37] calebissharp commented on #537
@micheal-w-wells Something we may want to try first is to just set the cache header for `service-worker.js` to `no-cache`. This is a Caddy issue, so I'm looking into the documentation for that.

[2020-03-30 18:52] ZoeSimon commented on #510
@micheal-w-wells Hey Mike, have we heard anything back from Phil on this one?

[2020-03-30 20:32] micheal-w-wells commented on #662
@calebissharp im ok to remove the unresolved label here now right?

[2020-03-30 20:49] micheal-w-wells opened #692 "create alert in metabase to check plan_confirmation against client_agreement"
When a RUP is created there are records in plan_confirmation created for each signing AH, based on what is in client_agreement at that time.  If there is subsequent shuffling, there can be missing or bad records in plan_confirmation to get cleaned up.

This ticket is to make a report in metabase to spot these so we can fix them and know they aren't coming back once the bug is fixed.

TODO:  get is

[2020-03-30 20:51] micheal-w-wells commented on #692
WIP SQL
[code]

[2020-03-30 20:53] micheal-w-wells commented on #510
Not since I last messaged him.  I made a note to ping him after this upcoming release as all the code related to his problem will have been changed (we think).

[2020-03-30 20:56] calebissharp commented on #689
@micheal-w-wells It's not really possible to _wait_ for the request to go through (React doesn't like render-blocking) but it is possible to add some more resiliency to the components that consume that data. They should be more explicitly checking the data is wants is defined, instead of assuming it is and throwing errors when it isn't.

[2020-03-30 21:00] calebissharp commented on #662
@micheal-w-wells Yep, thanks.

[2020-03-30 21:09] calebissharp commented on #606
@LisaMoore1 Since that other issue was fixed by clearing cache, this one can probably be looked at again.

[2020-03-30 21:15] calebissharp commented on #688
@micheal-w-wells I think we'd want to add https://github.com/bcgov/range-api/issues/157 to this, since #418 (which is already here) depends on it.

[2020-03-31 00:19] micheal-w-wells commented on #692
https://github.com/bcgov/range-api/blob/dev/scripts/integrity_checks/check_plan_confirmation.sql WIP

[2020-03-31 00:51] #692 closed

[2020-03-31 14:38] calebissharp commented on #689
@micheal-w-wells I may have this resolved, but let me know if it shows up again.

[2020-03-31 15:19] micheal-w-wells opened #694 "site tries to hit references endpoint prior to signing in"
not an issue for users but something for devs to cleanup:

- log out of site
- open chrome inspector console
- refresh homepage/login screen
- see 401

[2020-03-31 15:26] micheal-w-wells commented on #689
So far so good for me.   Had to clear cache to get it to take effect.  @LisaMoore1 @ZoeSimon until we do #537 it might be helpful to know you can just clear cache for myrange and not everything in your browser.  @calebissharp might know an even easier way but what I have been doing recently is:

1) Right click page anywhere, hit inspect.  This opens the dev console
2) Now when i right click the re

[2020-03-31 15:30] #659 closed

[2020-03-31 16:59] LisaMoore1 commented on #662
@micheal-w-wells can you please look at the two versions of the RUP for RAN099912 to see if there are differences.  I thought when I made V2 the amendment was in the IP-other field (or maybe schedule description) but I’m not seeing any obvious differences between the two versions I can get at from versions.  Thanks.

[2020-03-31 17:30] micheal-w-wells commented on #662
on it

[2020-03-31 18:22] micheal-w-wells commented on #683
@calebissharp relevant to what we just talked about.  I think the thing to do here is:

- snapshot before changing hands (even if not approved, but mark it as such somehow so it doesn't show up in list of versions later)
- when changing hands - make the view only side see the last snapshot

[2020-03-31 18:25] micheal-w-wells commented on #662
They are the same.  @calebissharp I think there's some digging to do around when a version gets created, the theory here (that I will test after next meeting) is it made a version when it was approved, and made another (as if it hadn't made the first one on approving) right when you said you wanted to start an amendment.

[2020-03-31 18:26] calebissharp commented on #683
@micheal-w-wells That doesn't sound too difficult. I wonder though, wouldn't this have always been an issue, before all this versioning stuff?

[2020-03-31 18:29] micheal-w-wells commented on #683
@calebissharp it totally would have been, yes.

[2020-03-31 20:17] LisaMoore1 commented on #468
@calebissharp Precursor that I’m struggling with connection speed today but remembering that that might be a common thing for our users.
 I had an interesting thing happen today. I started a new amendment on a plan that already had an original and amendment made sincand the spinning wheel went around and around so I used browser back button to get out e versioning implemented. I tried again and ke

[2020-03-31 20:18] LisaMoore1 commented on #468
@calebissharp So I guess the bottom line is I don’t know if the button was working or not working and if what I experienced was unexpected because of connection or if there is another issue — so I’m leaving it open for now.

[2020-03-31 20:42] micheal-w-wells opened #696 "GHA"

[2020-03-31 20:43] micheal-w-wells opened #697 "Refine github issue/zenhub workflow"

[2020-03-31 20:43] micheal-w-wells opened #698 "db"

[2020-03-31 20:44] micheal-w-wells opened #699 "Post easter deploy team workflow enhancements"
Some stuff that will help us get more features out one at a time instead of big bang releases.  Will keep us out of release limbo.

[2020-03-31 20:52] LisaMoore1 commented on #467
Cleaning — and closing.

[2020-03-31 20:52] #467 closed

[2020-03-31 20:53] LisaMoore1 commented on #469
Cleaning and closing

[2020-03-31 20:53] #469 closed

[2020-03-31 20:58] micheal-w-wells commented on #698
opened in error

[2020-03-31 20:58] #698 closed

[2020-03-31 20:59] micheal-w-wells commented on #696
opened in error

[2020-03-31 20:59] #696 closed

[2020-03-31 22:17] micheal-w-wells opened #700 "Bring back homescreen RUP preview"
The home screen used to let people see a list of RUPs for a given RAN and some details about them.  Even though we are going to 1 RUP to 1 Agreement, it would be useful to use this preview for versions.   Most important is knowing the legal status (which one is legal) and if its a previous one what was the legal term (start and end date).

[2020-03-31 22:22] micheal-w-wells opened #701 "Introduce new status for Minor Amendment In Progress"
relates to  #684

[2020-03-31 22:22] micheal-w-wells opened #702 "Introduce new status for Mandatory Amendment In Progress"
relates to  #684

[2020-03-31 22:24] micheal-w-wells commented on #684
The viewing of other persons drafts relates to #683

[2020-03-31 22:27] LisaMoore1 opened #703 "Version related attributes"
These are for thought — I’m open to discussion but each touches on an important principle that needs to be addressed:
- [ ] there is NO confusion EVER about which version is legal
   - this applies whether looking at the WQ or at a specific RUP
   - all statuses fall into four categories
       1. In progress — draft, in feedback, waiting for signatures, waiting for decision etc.
       2. Current

[2020-03-31 22:28] micheal-w-wells opened #704 "Add some more information to version select options"
Not sure what date is in there (version created, plan approved) or if its working as the date has no label.

[2020-03-31 22:30] micheal-w-wells opened #705 "Verify Versions are getting created at the right time"
- [ ] when a plan is submitted to other party (so you can't see what they are working on)
- [ ] when it is approved, in any way.

The issue with the second one right now is it creates one on becoming approved and another identical one when the amendment process is started.

[2020-03-31 22:35] micheal-w-wells commented on #488
Do we have any short term plans to address how error messages happen other than this one or should we move forward with this one? @calebissharp @LisaMoore1

[2020-03-31 22:41] micheal-w-wells commented on #703
@calebissharp make sure to give this a read and check out some of the new issues we posted on #688

[2020-03-31 23:38] LisaMoore1 opened #706 "Minor Amendments"
These are for thought — I’m open to discussion but each touches on an important principle that needs to be addressed (all content of #703 applies):
- [ ] only AHs can initiate minor amendments
- [ ] AH should see all amendments that are in “stands” as “stands” regardless of whether they have been reviewed or not
   - there is no difference to an AH operationally and they should not be bothered wit

[2020-03-31 23:53] LisaMoore1 opened #707 "Mandatory Amendments"
These are for thought — I’m open to discussion but each touches on an important principle that needs to be addressed (all content of #703 applies):
**AH initiated**
- [ ] draft amendment is not visible to staff until AH submits for either feedback or decision
- [ ] all workflows beyond initiation follow same workflow as for original RUP (but it should be clear it is an amendment in progress)
- [ ]

[2020-04-01 00:04] LisaMoore1 opened #708 "Amendments General"
These are for thought — I’m open to discussion but each touches on an important principle that needs to be addressed (see #703) for other relevant info. This one is mostly covered in duplicate for minor/mandatory amendment specific ones but I haven’t double checked yet and don’t want to lose these ideas.

- [ ] headers need to be relevant to amendments
   - either generic enough to match whether o

[2020-04-01 15:50] ZoeSimon opened #709 "In Test when editing a staff draft as range staff, the Grazing Schedule has "no options" in the Livestock Type dropdown."
Tried to create a plan and started editing in staff draft, added a row to the Grazing Schedule and when trying to select the Livestock Type it listed "no options."

![image.png](https://images.zenhubusercontent.com/5e78e949a7e29c75200dbef5/a4ea41a6-e657-45b5-b61f-d80605f24050)

![image.png](https://images.zenhubusercontent.com/5e78e949a7e29c75200dbef5/8ba1eea9-293f-4bcd-aa6b-498b822c7378)

[2020-04-01 17:11] LisaMoore1 commented on #543
@micheal-w-wells Is this one done? I think so... If so, we can close.

[2020-04-01 17:17] LisaMoore1 opened #710 "Misc issues"
Temporary means of identifying issues that are little, necessary but not high priority

[2020-04-01 17:19] #266 closed

[2020-04-01 17:19] #243 closed

[2020-04-01 18:02] calebissharp commented on #702
I think an existing solution to this and #701 is to look at the existing `amendment_type_id` column in `plan` to determine if the plan is an amendment.

[2020-04-01 18:16] ZoeSimon opened #711 "Can't get past "Confirm submission" screen when trying to submit RUP to AH in test environment"
Not able to submit a RUP in staff draft to the AH as I can get past the "Confirm Submission" screen. Showing the loading circle, but not moving forward from there.

![Capture.PNG](https://images.zenhubusercontent.com/5e78e949a7e29c75200dbef5/fa4376fe-f0ce-475a-a42e-bb2976254488)

![image.png](https://images.zenhubusercontent.com/5e78e949a7e29c75200dbef5/679dcee1-be24-4e4c-8a88-f424b179f06f)

[2020-04-02 15:57] micheal-w-wells commented on #702
As long as from the users perspective it is as accessible as plan status, it should be on the home page list view and the user should know what stage in the process the amendment is at.  I think indicating the stage in the process is really important and wasn't really captured when I made these issues, but it needs to happen somehow.

How it gets implemented I'm flexible on, but in my opinion a ne

[2020-04-02 16:42] micheal-w-wells opened #712 "Pasture no longer linked to schedule row"
At least that's how it appears on the page, on the PDF it's fine.

![image](https://user-images.githubusercontent.com/955467/78275256-359c3e00-74c6-11ea-92f5-85b6be32e123.png)

[2020-04-02 18:42] micheal-w-wells commented on #712
Also other plan actions are blocked

[2020-04-02 18:43] micheal-w-wells opened #713 "schedule rows not sorted on date when using copy function"
e.g., the row with july dates will land before june, but not always.

[2020-04-02 19:22] calebissharp commented on #712
I think this is a duplicate of #611, which was resolved.

[2020-04-02 21:31] calebissharp commented on #704
This issue will no encompass a couple other things:

* Display a label the current legal version
* Show a date range the plan was legal for

[2020-04-02 21:47] micheal-w-wells commented on #704
@calebissharp @okanji please also include the plan status at the time and who got it there, e.g., 'Approved - Lisa Moore'

[2020-04-03 15:21] #543 closed

[2020-04-03 20:35] micheal-w-wells commented on #712
thanks

[2020-04-03 20:35] #712 closed

[2020-04-06 15:16] micheal-w-wells commented on #683
@calebissharp I'm trying to figure out where to track this.  I was thinking of adding `is_staff_view` and `is_AH_view` to `plan_snapshot`.  If I'm staff and `is_staff_view` isn't checked for any version then I'm in edit mode.

What do you think?

[2020-04-06 18:37] calebissharp commented on #683
@micheal-w-wells Since we already track the status of the plan (`status_id`) with the snapshot we should just be able to use that to deduce which roles should be able to access it.

We'd have to update the `GET /plan/:id` endpoint to take into account the user role, and that if the current plan is in a status they can't view, it would send the most recent snapshot that they can view. We'd also hav

[2020-04-06 21:41] micheal-w-wells commented on #683
I'll work on `GET /plan/:id`

[2020-04-07 17:53] LisaMoore1 commented on #709
@micheal-w-wells and @calebissharp @zoesimon Something interesting I can’t explain that happened this morning:

- In RAN099954 (AH add content to original) I tried to add schedule and livestock type was “no options”
- I went to RAN099953  version snapshot showed “not provided” even though I know they had been cow/calf on March 27th since I entered them
- I went to RAN099953 V4 and created a PDF —

[2020-04-07 17:54] LisaMoore1 commented on #709
This feels like something we need to address before release (if we don’t we’re introducing an error into PROD). @micheal-w-wells Would that be accurate? If so it should be added to the epic for this deploy.

[2020-04-07 18:12] LisaMoore1 opened #714 "Schedule rows re-ordering after save"
AH-add content
- enter schedule by adding rows manually then save = row order maintained after save
- enter schedule by duplicating a row then save = rows reordered
- reorder rows using the reorder feature then save = rows stay in order

[2020-04-07 18:36] LisaMoore1 commented on #606
I think if a version is discarded it should either be removed from the version list or identified as having been discarded (no action needed until we actually look at this issue again — I just bumped into it while doing something else and didn’t want to forget).

[2020-04-07 19:01] #689 closed

[2020-04-07 19:11] micheal-w-wells commented on #688
@calebissharp if you need a break from manage clients or something to do right after, I think #709 needs to get addressed prior to deploying.

[2020-04-07 23:33] micheal-w-wells commented on #683
I'm struggling a little bit with fetching snapshots

[2020-04-08 18:23] micheal-w-wells opened #715 "As AH open plan for first time and get error"
![image](https://user-images.githubusercontent.com/955467/78819541-43046d00-798b-11ea-997c-b2d814f2eb7a.png)

[2020-04-08 18:24] micheal-w-wells commented on #715
Not currently in prod.

[2020-04-08 18:32] micheal-w-wells commented on #715
@LisaMoore1 i got this locally but if you have time to test today can you see if you get this in Test?  Make a new plan as staff - try to open as AH.

[2020-04-08 18:42] LisaMoore1 commented on #715
@micheal-w-wells Just did RAN099955 from staff to AH and didn’t generate an error.

[2020-04-08 19:04] LisaMoore1 commented on #488
@micheal-w-wells I don’t think we’ve got an immediate plan in terms of handling errors.
@calebissharp As for the ability to submit the schedule with no rows but with a narrative — I just ran the workflow between staff and AH. I think it’s workable without the confirmation (could be an enhancement) but not essential) since the AH can immediately see that schedule rows are required.

[2020-04-08 19:05] LisaMoore1 commented on #700
@micheal-w-wells Do you need me to provide any info here or do our discussions/other versioning work cover the need here to know which is legal etc?

[2020-04-08 21:39] micheal-w-wells commented on #700
My understanding right now @calebissharp @okanji  is it should, besides the obvious stuff like what's displayed for them now (RAN, Range name, etc), show:

- status: Approved, Amended etc
- who did it
- the legal term (start and end)*

*Note for devs: Perhaps not necessarily how long this version existed until the next, you need to look ahead to next version in an  approved state.  We won't have j

[2020-04-08 22:18] micheal-w-wells commented on #715
maybe was just me then.  weird.

[2020-04-08 23:59] micheal-w-wells commented on #705
#716 should address this, the issue now is filtering on the front end for #700 , and in `GET plan` in the API (a work in progress).  Leaving 'in progress' until all the PRs/UI etc are ready to mark this one for testing.

[2020-04-09 00:03] micheal-w-wells commented on #682
Is there some field, that perhaps does not exist like 'Needs action' or 'Waiting on AH' that you would want to see and sort?  What's the 'Rolls Royce' here?

[2020-04-09 00:06] micheal-w-wells commented on #682
Or some kind of fancy filter toolbar?  With checkboxes for things like i mentioned above

[2020-04-09 01:28] LisaMoore1 commented on #682
@micheal-w-wells If the problem statement by staff is, “it is hard for me to find what needs my attention” we can make a guess at what “needs my attention is” but that could change depending on their circumstances.
As the Rolls Royce I like filter toolbar with options because then we don’t have to guess what they might want to look at — this approach would give them a tool that lets them display w

[2020-04-09 01:56] LisaMoore1 commented on #700
@micheal-w-wells This looks good to me. Just like I think it is important to easy to see the current legal I think it is important to see what is “in progress”.

**Final Statuses**
- 11-Not_Approved
- 12-Approved
- 7-Wrongly_Made_Without_Effect
- 8-Stands_Wrongly_Made
- 9-stands
- NB: the minor amendment status “stands” should be identified as a final status but it could be deemed wrong by the DM

[2020-04-09 16:50] micheal-w-wells commented on #705
marking as ready to test as it's done, just have to coordinate with UI merges then put in QA

[2020-04-09 16:52] micheal-w-wells commented on #683
https://github.com/bcgov/range-api/pull/166 works for letting people on see the live version of plan when it is their turn, doesn't yet work for the other case (when it's not their turn and they need to see last version that was theirs).

[2020-04-09 17:17] ZoeSimon commented on #668
Closing this issue because we have all items captured in #688

[2020-04-09 17:17] #668 closed

[2020-04-09 17:48] micheal-w-wells commented on #697
@ZoeSimon I'll hand this one to you.   If you like how it's done you can close or throw it in the backlog for another day.

[2020-04-09 21:03] calebissharp commented on #488
@LisaMoore1 I agree, I think the confirmation is fairly non-critical. Maybe we can open another issue so we can close this one? I just don't want to miss that we were able to resolve most of this issue.

[2020-04-14 15:15] micheal-w-wells opened #718 "Agreement Holders should not have to resign based on client + location changes that don't change who is on the plan"
Agreement Holders as a group are treated as a 'single entity', that does not have to resign unless 'there is a new entity' meaning there are different people on the RUP.  A number of things can change that aren't necessarily a change of people:  change of client number, or change of client location number.  In those cases we shouldn't require them to resign.

@LisaMoore1 let me know if i missed an

[2020-04-14 17:25] micheal-w-wells commented on #705
Caveat: does not create a new version when there is a change of AH.  If this is what we need it needs to happen at FTA data import time.

[2020-04-15 17:13] LisaMoore1 commented on #488
I’m closing this one without creating a confirmation screen. If it comes up from a user then we can add an issue then.

[2020-04-15 17:14] #488 closed

[2020-04-15 17:26] micheal-w-wells opened #719 "Error on first attempt to sign as AH and Recommend Ready as Staff"
In both cases going back to the plan and trying again works.

signature error:
![image](https://user-images.githubusercontent.com/955467/79367901-70a96300-7f03-11ea-9392-8bc85899366c.png)

recommend ready error:
![image](https://user-images.githubusercontent.com/955467/79367929-7bfc8e80-7f03-11ea-87b1-9514680b925a.png)

@calebissharp

[2020-04-15 21:56] micheal-w-wells opened #720 "Error signing RUP in multi AH workflow"
![image](https://user-images.githubusercontent.com/955467/79393010-42d71500-7f29-11ea-8a82-794e8ff381ad.png)

@calebissharp

[2020-04-15 22:22] micheal-w-wells commented on #704
Stuff to display:

is current legal version <-- should just be an indicator on one.
effective legal start date
effective legal end date
created by user
status

other stuff from endpoint:
version/snapshot id
version #.

endpoint /plan/?/versionsummary

[2020-04-15 22:24] micheal-w-wells commented on #704
RAN01. - Legal period (1999 dec - 2004 jan)    -  Wrongly Made (STANDS).   -   Lisa Moore.  -View

[2020-04-17 21:52] repo-mountie[bot] opened #722 "Add missing topics"
# TL;DR

Topics greatly improve the discoverability of repos; please add the short code from the table below to the topics of your repo so that ministries can use GitHub's search to find out what repos belong to them and other visitors can find useful content (and reuse it!).

### Why Topic

In short order we'll add our 800th repo. This large number clearly demonstrates the success of using GitHub

[2020-04-17 22:37] jleach commented on #722
I added FLNR.

[2020-04-17 22:37] #722 closed

[2020-04-20 02:26] micheal-w-wells opened #723 "saving a plan for very first time gives bad url and 'don't see a plan?' message"
steps to reproduce:  create new plan > enter range name, start and end date, hit save:

![image](https://user-images.githubusercontent.com/955467/79708210-a63bac80-8273-11ea-82b0-e61b9e8c0c9f.png)

@calebissharp fyi

[2020-04-20 15:16] calebissharp commented on #723
@micheal-w-wells Does this issue appear when you're using the latest changes in `dev` for `range-web`/`range-api`? I want to rule out this being an issue with your unmerged changes. Alternatively, are you using the `dev` endpoint or a locally running one? If you're using `dev`, we should make sure all migrations have been run there.

[2020-04-20 16:32] micheal-w-wells opened #724 "Give simple interface for admin to update user given and family name"
When people first log in they provide `given_name` and `family_name` for the `user_account` table.  This is permanent until I am asked to change these manually as there is no interface to do so other than logging into the database.

[2020-04-20 21:17] micheal-w-wells opened #725 "Fix/streamline local dev and test container process (make, docker, and npm)"
Getting a new person, or restarting yourself with a fresh dev/test environment is a real pain, and at this point in time isn't even working properly on my mac without a lot of manual intervention.  To avoid revisiting this grief and to ease the onboarding of new resources we should clean this up.

@calebissharp any other ideas you have if related stick them here or otherwise make an issue with the

[2020-04-20 21:23] calebissharp commented on #725
Just a note, this is technically an issue with the API repo.

[2020-04-21 16:55] #723 closed

[2020-04-21 17:15] micheal-w-wells commented on #705
https://github.com/bcgov/range-api/170 also addressed part of this

[2020-04-21 17:20] micheal-w-wells commented on #705
I'm moving this to ready to test ahead of the web part being done as I can run a query for a given plan in test to verify that we have the right versions available for a given plan in Test.  Ping me here with a RAN.

[2020-04-21 17:28] micheal-w-wells commented on #683
@LisaMoore1 @ZoeSimon  all i have left in my court to do on versioning is finish this one, although we could potentially release without it and I can merge the web portion of this one in when i nail it down.  All the back-end meat and potatoes for versioning is done:

* They are created at the right time
* They're legal status and dates are calculated, and it's easy to tell from the data which is

[2020-04-21 19:23] micheal-w-wells opened #727 "RUP signing doesn't work due to client linking changes"
![image](https://user-images.githubusercontent.com/955467/79905217-c29e2d00-83ca-11ea-863c-0caee1240b15.png)

Migrations are run, let me know if there's anything else of value from the db for ya @calebissharp

[2020-04-21 21:24] calebissharp commented on #727
Looks like I forgot to update the signing code for multiple linked clients. We'll use this issue to track that.

[2020-04-22 15:22] micheal-w-wells commented on #704
@okanji ping me when you have time to work on this (and the home screen preview thing).  I might try to get a poor man's version of the select list that is there working with legal start and end dates,  so we can slam a release out then let you carry on with the home screen thing and making this one better.

When 727 is done I can help you again learn to make test data to do this.

[2020-04-22 16:50] LisaMoore1 opened #730 "Staff can initiate Mandatory Amendment"
- [x] mandatory is the only type of amendment a staff person can initiate
- [ ] requires a button for staff to initiate a new version (amendment)
- [ ] amendment can only by built off of current legal versions (not old or amendment in progress version)
- [ ] staff may choose not to change any content but their message to the AH may indicate what the required changes are
- [ ] all workflows beyond

[2020-04-22 16:54] LisaMoore1 opened #731 "AH can initiate Mandatory Amendment"
- [ ] requires an option to identify the amendment as mandatory
- [ ] amendment can only by built off of current legal versions (not old or amendment in progress version)
- [ ] draft amendment is not visible to staff until AH submits for either feedback or decision
- [ ] all workflows beyond initiation follow same workflow as for original RUP (but it should be clear it is an amendment in progress)

[2020-04-22 17:13] LisaMoore1 opened #732 "AH can initiate Minor Amendment"
**Basic Principle**
- [ ] #606 - Agreement holders should be able to discard minor amendments until the time they submit
- [ ] #369 - After an amendment is created but before it is approved/stands the “amend” button should no longer be visible on any versions
- [ ] AH should see all amendments that are in “stands” as “stands” regardless of whether they have been reviewed or not 
   - there is no d

[2020-04-22 22:31] micheal-w-wells opened #735 "Versions list should only show approved versions"
Version list will only show versions that were or are legal.

[2020-04-23 18:01] LisaMoore1 opened #737 "Save navigates you away from (and closes) the section you were working on"
This is an irritating problem (maybe it is just a testing thing) because if you are doing something like in a plant community and you save you then have to make a bunch of clicks to get back to where you were.

[2020-04-23 18:36] micheal-w-wells opened #739 "Error generating a PDF"
**Describe the bug**
Log in as either AH or staff (for sure while it's in Submitted to AH, perhaps other statuses) and generate PDF.

**Expected Behaviour**
It should work.

**Actual Behaviour**
![image](https://user-images.githubusercontent.com/955467/80136377-74b63000-8556-11ea-9cb3-2aac89555878.png)

**To Reproduce**
Steps to reproduce the behavior:
Create a plan as staff
Submit to AH
Try gener

[2020-04-23 18:54] LisaMoore1 commented on #715
@micheal-w-wells I tested this today and wasn’t able to generate error. You happy closing?

[2020-04-23 19:14] LisaMoore1 commented on #739
@micheal-w-wells @calebissharp I moved RAN099914 (the one I originally noted the PDF error on) all the way through to approved and am still getting the PDF error. Just thought you might want to know.

[2020-04-23 19:37] #719 closed

[2020-04-23 19:37] LisaMoore1 commented on #719
@calebissharp I got an error message logging in as Leslie.knope to sign originally but I think it was a connection speed thing (there was a super long delay). I logged her out, did another Draft plan and couldn’t replicate. Also moved plan through to approved using recommend ready and didn’t get an error. Closing this one.

[2020-04-23 19:45] LisaMoore1 commented on #704
@okanji I like the update however there is a bit of an issue where there is a “stands” status (there are a couple of those) as they can be current legal but in current version their status isn’t showing so everything looks greyed out. I wonder if the status should be shown for these. @micheal-w-wells may have suggestions here.
![IMG_7878.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d8000

[2020-04-23 19:46] LisaMoore1 commented on #705
@micheal-w-wells I’m not sure how to test this one without being able to create amendments or see what is happening with all the “invisible” versions that are getting created.

[2020-04-23 19:50] LisaMoore1 commented on #735
@micheal-w-wells Warning: amendment related comment to follow. If they aren’t relevant at this point in time then this issue can be closed. Let me know?

Question 1: amendment in-progress related
If we are only showing approved (I’m assuming this includes the “stands” statuses), what will happen when an amendment is in progress? How will the user be able to access both their previous versions and

[2020-04-23 19:57] LisaMoore1 commented on #735
@micheal-w-wells I see your comment on #738 so think you are probably all over this and it can be moved to closed. If so you can either just close it or let me know and I’ll do it.

[2020-04-23 19:58] #709 closed

[2020-04-23 19:59] #720 closed

[2020-04-23 20:05] LisaMoore1 commented on #727
@calebissharp This didn’t show up for me today in my various attempts to sign things. Anything I should now that running those flows wouldn’t test? If not, please either close this one or let me know and I’ll do it. Thx.

[2020-04-23 20:07] LisaMoore1 commented on #662
@micheal-w-wells I think this one is fixed (for example I noticed that RAN099953 there is a difference between V1-2 and V3-4) although I am unable to test this in real time until amendment option is back in place. If things look good can you please either close or let me know and I will? Thx.

[2020-04-23 20:09] LisaMoore1 commented on #654
@calebissharp I wasn’t able to get the error message today (success in and of itself!!) so wasn’t a blue to test the “retry” button. Anything I can do that will trigger this screen or is it something we’ll have to just let go until it happens to pop up again? If there isn’t anything else that can be done to test can you please either close or let me know and I’ll do it? Thx.

[2020-04-23 20:24] #662 closed

[2020-04-23 20:25] #735 closed

[2020-04-23 20:27] micheal-w-wells commented on #705
@LisaMoore1 if you can me a RAN (of a new rup you did since yesterday) and I'll give you a preview of what you would see if we had metabase in test (and what you will be able to see in production).

[2020-04-23 20:28] LisaMoore1 commented on #418
@calebissharp I like this new layout a lot! I couldn’t create any issues with it. I was slightly confused by the message I get if I try to connect another Client that is already linked to a user.

“Error linking client: User “Leslie Knope” is already linked to the selected client.”
- to me that means that if I try to connect her to Andy Dwyer and get this message she is already connected to Andy D

[2020-04-23 20:30] LisaMoore1 commented on #705
Micheal-w-wells RAN099916

[2020-04-23 20:39] calebissharp commented on #654
@LisaMoore1 If you try to navigate to a plan that you know doesn't exist, you can get the page, eg. https://web-range-myra-test.pathfinder.gov.bc.ca/range-use-plan/1000000

[2020-04-23 21:18] #654 closed

[2020-04-23 21:44] micheal-w-wells commented on #705
[code]

[2020-04-23 21:44] micheal-w-wells commented on #705
@LisaMoore1 can just ignore the privacy column as it's still WIP.

[2020-04-23 21:46] calebissharp commented on #739
@micheal-w-wells Do you have an errors in your console?

[2020-04-23 21:49] #715 closed

[2020-04-23 21:52] calebissharp commented on #727
@LisaMoore1 Nope, I think this one is ok to close.

[2020-04-23 21:52] #727 closed

[2020-04-23 21:52] LisaMoore1 commented on #705
@micheal-w-wells That’s really helpful. Thank you.  Why does version 2 (1-C) have “effective _legal_end” as “f” but all the rest are “t”?

[2020-04-23 21:53] micheal-w-wells commented on #739
@calebissharp
![image](https://user-images.githubusercontent.com/955467/80153289-15feaf80-8572-11ea-8881-8ecc262e8687.png)

Be Leslie in test and open RAN099914.

[2020-04-23 21:53] micheal-w-wells commented on #739
Looks like this one had issue once it was approved so it seems plan dependant not status dependant.

[2020-04-23 22:01] calebissharp commented on #739
Yep, looks like at least one of the things causing it is when you have a monitoring area with rangeland health not set.

[2020-04-23 22:04] micheal-w-wells commented on #705
@LisaMoore1 there was a whitespace issue and you weren't seeing those last few columns show up.  effective start and end dates are only populated (with dates) for legal status versions.  The 't' and 'f's are part of the WIP privacy stuff.

[2020-04-23 22:05] micheal-w-wells commented on #705
If you look at the table i fixed it so it will read correctly

[2020-04-23 22:07] LisaMoore1 commented on #739
Rangeland Health used to be a required field but we’ve changed that.

[2020-04-23 22:08] #705 closed

[2020-04-23 22:08] LisaMoore1 commented on #705
Alrighty. If you don’t see any reason why not to I’m closing this one now.

[2020-04-23 22:51] micheal-w-wells commented on #683
[code]

@LisaMoore1 I need help figuring out which version of the plan is appropriate to use as the privacy version and when that is applicable.  I tried to do it in a more generic way based on last person to touch it but i don't think that works in all cases or is applicable in all cases.  If you can help me populate the two columns to the write (can just write as comments and I'll update this) t

[2020-04-23 23:05] micheal-w-wells commented on #622
@LisaMoore1  this home screen thing doesn't exist and I think all duplicate issues are resolved so I'm closing, but if you think it should be reopened fly at it.

[2020-04-23 23:05] #622 closed

[2020-04-23 23:05] LisaMoore1 commented on #683
@micheal-w-wells Can you provide me with a little more information on what you mean by “privacy version”?

[2020-04-23 23:08] micheal-w-wells commented on #711
its been fixed

[2020-04-23 23:08] #711 closed

[2020-04-23 23:17] micheal-w-wells commented on #683
Sure!

Scenarios:

- I'm staff.  I make a plan. Save it. It's in staff draft.  I have the 'live working copy of plan'.
- I'm AH.  I shouldn't see what staff is working on.  As I haven't worked on anything or submitted anything yet, there is no 'privacy version' to display while staff work on a draft, so I'll see a message saying it's being. worked on instead of the 'live working copy of the plan'.

[2020-04-24 16:03] micheal-w-wells commented on #653
There are a bunch of these, i think I created issues for some of these as well.  Once i see how its done I might find/crush some of the others.

[2020-04-24 17:46] micheal-w-wells commented on #725
The doc itself is a huge improvement but needs to be more obvious that a user needs to set up their .env and what needs to go in it.  Cloning the repo from scratch, cd'ing into it, and running the first instruction gives the user an error:

[code]

[2020-04-24 17:50] calebissharp commented on #418
@LisaMoore1 That's the error that appears when you try to link a client (second dropdown) to a user (first dropdown), but that client has already been linked to another user than the one you are managing client links for. Maybe it makes more sense to flip the error around, eg. "Cannot link client to this user because it is already linked to another user (Leslie Knope)".

I'll create another issue

[2020-04-24 18:04] calebissharp opened #742 "Client linking error should be hidden after selecting a different client"
**Describe the bug**
When there's an error underneath the client dropdown on the manage clients page, it remains visible even after changing the client option.

**Expected Behaviour**
The error should disappear after changing the value of the dropdown.

**Actual Behaviour**
The error remains visible.

**To Reproduce**
1. Go to the manage client page.
2. Pick any user from the first dropdown that i

[2020-04-24 18:05] calebissharp commented on #418
See #742

[2020-04-24 18:06] calebissharp commented on #725
That's a good point, I forgot about that.

[2020-04-24 18:40] micheal-w-wells commented on #653
@LisaMoore1 changing how/when the fields decide to go red is non-trivial depending on what we want to do.  That said, a really easy change that we just tested is this:

Only have it display the fields as red once you try to save.   They will however stay red until the next save.

Getting them individually re-evaluate as the person is typing, without making all the other blank required fields being

[2020-04-24 19:14] calebissharp commented on #653
https://github.com/calebissharp/range-web/tree/validate-only-on-save for reference.

[2020-04-24 20:06] LisaMoore1 commented on #418
@calebissharp Sounds like a good plan. Thx.

[2020-04-24 20:33] micheal-w-wells commented on #683
![image](https://user-images.githubusercontent.com/955467/80254482-1d848e00-8630-11ea-904c-2a8ac25d62a4.png)

[2020-04-24 21:13] micheal-w-wells commented on #418
I gotta check that the fta synch still works here

[2020-04-24 21:24] #739 closed

[2020-04-24 21:29] LisaMoore1 commented on #418
I’m happy with the new error message. @micheal-w-wells when you are happy with the FTA synch can you please either close or let me know and I’ll do it? Thanks.

[2020-04-24 21:41] LisaMoore1 commented on #653
Has this been merged? Not seeing any difference when testing just now.

[2020-04-24 22:09] micheal-w-wells commented on #653
I just logged in to test to see myself, erased range name and clicked out - still turned red on me. To rule out caching this is what I did and @LisaMoore1 I'm not sure how you do it but I think this might save you grief of getting logged out of things:

1. Right click anywhere on the page (in chrome).
2. Open inspector.  You'll see a panel with a bunch of stuff that doesn't matter, ignore it.
3. N

[2020-04-24 22:30] #418 closed

[2020-04-24 22:35] micheal-w-wells commented on #653
All that said I still get the old behaviour for plant community description

[2020-04-25 00:06] okanji commented on #704
@LisaMoore1 @micheal-w-wells how does this look? I decided to use same **status** component that has been used elsewhere in application. I have tried to make the current legal version stand out by colouring the avatar and the approved dot while greying out the other versions.

Does anyone have an RUP number that has multiple versions? I would like to take a look and see what the different statuses

[2020-04-25 00:07] okanji commented on #704
@LisaMoore1 thanks for the detailed feedback, the version above that I have shown a screen shot of seeks to address your suggestions

[2020-04-27 16:11] micheal-w-wells opened #744 "stop auto login loop when bad credentials/token cached"
Using a few users and trying to login to different roles can put the app in a really nasty login loop, with no way for the user to stop it.  Probably not an issue for most users but very frustrating when present in testing and dev:

![image.png](https://images.zenhubusercontent.com/5d928234be909100019889b9/d391904f-257d-4e84-b2cc-81ea024b03e8)

[2020-04-27 16:26] micheal-w-wells opened #745 "Usage help text should inform about plans with end dates beyond agreement date"
**As a** *(User Type/Persona)* **I want** *(Feature/enhancement)* **So That** *(Value, why is this wanted, what is the user trying to accomplish)*
As a user, if i update the plan end date to be beyond the agreement dates, the usage will update on save.  The help text for usage should inform me that this is the behaviour.

**Additional Context**
- Current help text:
![image](https://user-images.git

[2020-04-27 16:35] micheal-w-wells opened #746 "Minister issue action mandatory fields not consistent on when turning red."
**Describe the bug**
Minister issue action mandatory fields not consistent on when turning red.
![image](https://user-images.githubusercontent.com/955467/80396924-3c6e6480-886a-11ea-8d5a-5ac93daeb830.png)

**Expected Behaviour**
They should all behave the same.

**Actual Behaviour**
typing in description nothing turned red.  typing in objective it turned red and stayed red even after leaving the f

[2020-04-27 16:58] micheal-w-wells commented on #745
I see now that we already made text pop up under plan end date related to this, however I dont know that it is visible before a save so I'll test this one again and close if it works ok.

[2020-04-27 18:46] micheal-w-wells opened #748 "Recommending for submission should update plan history on RUP"
**Describe the bug**
As staff recommend a RUP for submission.  The banner updates but plan history does not until the page is refreshed.

**Expected Behaviour**
After recommending ready the plan history should be updated.

**Actual Behaviour**
The banner updates, but plan history does not until you refresh the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a plan to 'Provide Feedb

[2020-04-27 19:06] calebissharp commented on #746
Can't reproduce with the latest changes in `dev`:
![Kapture 2020-04-27 at 12 05 30](https://user-images.githubusercontent.com/8854811/80410448-6e3df600-887f-11ea-9ea2-6a8a74232f7a.gif)

[2020-04-27 20:07] micheal-w-wells commented on #746
I'll check the pipeline

[2020-04-27 20:19] micheal-w-wells commented on #746
It LGTM.  I'll leave it open until someone else (who has also cleared their cache) runs through it in Test and sees it work like your screen.

[2020-04-27 20:26] micheal-w-wells opened #749 "Search is weak on fuzzy matching range name"
**Describe the bug**
Searching `big` does not yield RUP with range name: `big $Money long name Ranch`

**Expected Behaviour**
It should show up in results.

**Actual Behaviour**
No results

**To Reproduce**
Steps to reproduce the behavior:
Make a rup with name `big $Money long name Ranch`
Search for it as AH.
See nothing.

**Screenshots**
If applicable, add screenshots to help explain your problem

[2020-04-27 23:59] micheal-w-wells opened #750 "Versioning deploy and troubleshooting"
Putting this here just so my days effort is tracked.

Worked through final smoke testing of site and verified that things looked good.  Decided it was best to run a migration test against a prod backup and found a few things, worked on them with Caleb and eventually we got the code out.

Some learnings:

Always test migrations against prod backup
Make sure no manual db updates are done against my

[2020-04-28 17:56] calebissharp commented on #730
@LisaMoore1 Just to clarify one thing, when staff presses the button to create an amendment, should it then move to a status like "Staff draft", where they have editing control? Or should it be sent directly to the agreement holder? I'm assuming the former option, since you state that staff should have the ability to discard the amendment before sending it to the AH.

[2020-04-28 20:31] LisaMoore1 commented on #730
@calebissharp After pressing button to start mandatory amendment:
- staff should have ability to make changes to RUP (CRUD)
- add a comment describing what the amendment is about/what AH needs to do (like when providing feedback)
- submit to AH

[2020-04-28 20:37] micheal-w-wells commented on #688
This is deployed and I'd call what Oamar is working on extra features.  I'm good to close this @LisaMoore1 if you are so it kind of lines up with release day.

[2020-04-28 20:49] micheal-w-wells commented on #510
Pinged Phil before i forgot.  Some of his dupes are gone (yay) some are still there.  I've got the RANS to follow up on.  If either @LisaMoore1 or @ZoeSimon has time to look in metabase for anything interesting related to them ping me for the RANS otherwise going to park for today and pick up at some point in time this week.

[2020-04-28 21:51] #688 closed

[2020-04-28 21:58] micheal-w-wells commented on #704
LGTM.  Best way to get @LisaMoore1 is to go ahead and PR to dev, get either @calebissharp or myself to review and then mark the issue (not the PR) as ready to test and put in the QA column.

[2020-04-28 22:07] LisaMoore1 commented on #510
RANs please. I'd like to take a look.

[2020-04-28 23:27] micheal-w-wells commented on #683
@calebissharp do you have a branch with those new statuses mentioned in the spreadsheet?

[2020-04-28 23:52] micheal-w-wells commented on #683
leaving this here so i can pick up where i left off in the morning :
[code]

[2020-04-29 16:06] calebissharp commented on #468
@LisaMoore1 I think the problem that was creating duplicate versions was unrelated. Do you think this is alright to close?

[2020-04-29 16:09] calebissharp commented on #665
This may require us adding an amendment column to the `plan_status_history` table, as well as changing some of the status endpoints.

[2020-04-29 16:11] calebissharp commented on #701
@micheal-w-wells I think this one is able to be closed, since we reuse other statuses for the amendment workflows. An `amendmentTypeId` value on the plan lets us know if the plan has an amendment.

[2020-04-29 16:48] micheal-w-wells opened #752 "Identify what each header should read for each type of user, for each status (related to amendments)"
**Describe the task**
The headers will be specific to each type of user ( staff or AH), for each status, and also for the amendment type in progress.

See https://github.com/bcgov/range-web/issues/683#issuecomment-619226197 for a list of the differen't statuses and 'phases'

**Acceptance Criteria**
- [ ] For both staff and AH we have the text to display for every status related to amendments.

**A

[2020-04-29 16:50] micheal-w-wells opened #753 "Implement new headers for amendments"
As staff and AH i should get headers specific to where I am in the amendment process.

**Additional Context**
- see #752

[2020-04-29 16:59] micheal-w-wells opened #754 "Implement Determination Recorded (Minor Amendment) workflow"
**Describe the task**
Only status 7 (8. and ? SAM) are missing from Determination recorded workflow.  Implement these two as part of it so Staff can run choose these statuses for the RUP. #8 is a legally standing version.

**Additional context**
- Add any other context about the task here.
- Or here

[2020-04-29 17:03] micheal-w-wells opened #755 "Update status component to include amendment info"
**Describe the task**
Some of the amendment statuses are the same as regular in progress RUP ones, update this component to show what stage of the amendment (and what type it is) so that the app displays the right information in the home page and elsewhere.

**Acceptance Criteria**
- [ ] Home page shows amendments in progress vs RUPS that just look like they were just started and in progress.

**A

[2020-04-29 17:09] calebissharp opened #756 "Add button for Staff to create a mandatory amendment"
**As a** *staff person* **I want** *to be able to submit a mandatory amendment* **So That** *I can ensure required changes are made to an RUP*.

**Additional Context**
- Workflow exists for agreement holders, button needs to be visible for staff as well.
- Status should probably go directly to Staff draft when the button is clicked, since staff only have the option to create a mandatory amendment.

[2020-04-29 17:21] micheal-w-wells opened #757 "Implement “Review Not Required” or “Review Required" for staff in Minor Amendments"
Not sure if we need it before DM workflow.  @LisaMoore1 let us know please : )

Give staff options to either set RUP in 'review not required' or 'review required' for minor amendments.

*Acceptance Criteria**
- [ ] as staff, with a RUP with an amendment in progress in status 'Stands Review' I should have option to click 'review not required' or 'review required' and the RUP should go to the approp

[2020-04-29 17:26] micheal-w-wells opened #758 "Give staff ability to choose Wrongly Made without effect for Minor amendment"
As staff with RUP with minor amendment in progress in status of Review Required I should have option to choose 'Wrongly Made without effect' .

**Additional Context**

**Acceptance Criteria**
- [ ] Given (Context), When (action carried out), Then (expected outcome)
- [ ] Given (Context), When (action carried out), Then (expected outcome)

[2020-04-29 17:28] micheal-w-wells opened #759 "Give staff ability to submit as a mandatory amendment (when minor amendment is in Stands - Review)"
**Describe the task**
With a RUP with minor amendment in progress, and status of Stands - Review, I should have option to submit it as a mandatory amendment.

this kicks it back to staff to a staff initiated mandatory amendment process

**Acceptance Criteria**
- [ ] "Submit as Mandatory" button appears for staff in "Stands - Review"
- [ ] Plan is editable when status is "Submitted as Mandatory"

*

[2020-04-29 17:32] micheal-w-wells opened #760 "As staff I should be able to discard a mandatory amendment before i submit it"
As staff I should be able to discard a mandatory amendment before i submit it

**Additional Context**
#707

**Acceptance Criteria**
- [ ] Given (Context), When (action carried out), Then (expected outcome)
- [ ] Given (Context), When (action carried out), Then (expected outcome)

[2020-04-29 17:40] micheal-w-wells commented on #707
Need clarification on whether or not AH need to agree/confirm on discarding an amendment.  Easier for sure to implement is not requiring such an agreement and making that an offline/phone thing, but we'll adapt to what is required.

[2020-04-29 17:47] micheal-w-wells commented on #760
blocked by #756

There is an action buttons component with a canDiscard var (this is currently only used in the AH page) that can be set to true if the status of the plan is staff draft and there is an amendment in progress.

[2020-04-29 17:55] micheal-w-wells commented on #758
Do we want to leave the current plan in 'wrongly made without effect' for an indefinite or finite period of time?  the legal versions will still be listed under versions (and eventually on @okanji 's beefed up home page component.

[2020-04-29 18:01] micheal-w-wells commented on #759
Need to know if we need to track that it was originated from a minor amendment (hoping no).

[2020-04-29 18:04] micheal-w-wells commented on #754
duplicate of #758 and #759

[2020-04-29 18:04] #754 closed

[2020-04-29 18:05] micheal-w-wells commented on #758
Question for Micheal:  Do we need SAM?

[2020-04-29 18:10] LisaMoore1 commented on #468
@calebissharp I’ll close and if it who’s up again as a problem we can either reopen or create another one.

[2020-04-29 18:10] #468 closed

[2020-04-29 18:11] #701 closed

[2020-04-29 18:18] LisaMoore1 commented on #665
Would be OK to have an amended version with a history that:
- starts with an entry that amendment was generated
- prompts whoever starts the amendment to provide a comment on what the amendment is about
- that comment is displayed in the history

Maybe something to consider at the same time since the workflows are so interconnected:
- when submitting a new RUP to AH we’ve had several requests that

[2020-04-29 18:21] #750 closed

[2020-04-29 18:25] LisaMoore1 commented on #757
This should be a standard option for all minor amendments whether we are using digital DM or paper DM (so it is recorded). When we do DM workflow “Review Required” would be the trigger for the determination workflow.

[2020-04-29 18:28] LisaMoore1 commented on #707
If the rule is that “discard” is only an option before it has been submitted then no signature is required. This is basically a “clean up” option so that:
- the versions do not get cluttered with incomplete amendments
- if we have a rule that you can only ever have one amendment in progress at a time amendments that were started in error would not prevent starting an amendment you actually intend

[2020-04-29 19:32] micheal-w-wells commented on #707
That second bullet is key:  We have a sequential workflow and versioning system right now.  To do otherwise would mean a 'branch' based one which is another ball of wax we have not budgeted time for to get this stuff out.  Not to say it couldn't be done in the future.

I think we can work with what you've given here.

[2020-04-29 19:35] micheal-w-wells commented on #757
@calebissharp before we take a stab at estimating, what if we migrated away from the 3 dots to buttons?  We could leave what is there now for the time being, but make new stuff be buttons.   I think we have enough real estate for the buttons needed in any given state, and the staff seem to like them.  Throwing that out there because you had mentioned changes to plan actions component is a convolut

[2020-04-29 21:45] calebissharp commented on #757
I want to look into the dropdown implementation first, to gauge the amount of effort that would be required. It may not actually be that bad. I'll keep in mind using buttons instead though. Although, I wonder if that might be a little tricky since this issue requires us to provide 2 options to the user.

[2020-04-30 21:05] micheal-w-wells commented on #510
FINALLY.  See issue mentioned above.

[2020-04-30 21:05] #510 closed

[2020-04-30 23:29] micheal-w-wells opened #763 "Linking a BCEID to a client number should include all locations"
As a staff user I want treat a client number as a person in FTA when linking.  Right now I choose a BCEID and then when choosing a client I see multiple records when a client has more than one location code.

I want to see one client number to choose, which will link all location codes for that number.  I want to still see current location codes but not be able to pick any more granularly than sel

[2020-05-01 16:53] calebissharp commented on #757
@LisaMoore1 What would be the next status if you click "Review Not Required", and likewise for "Review Required"? And what status would you see this option in?

[2020-05-01 17:38] calebissharp commented on #757
Talked through it with @micheal-w-wells, decided we need another status after "Stands" (the status where this option would appear) that the plan goes to after selecting "Review Not Required". We would use status "Stands - Review (20)" for when staff selects "Review Required". Does this make sense to you @LisaMoore1?

[2020-05-01 21:58] micheal-w-wells commented on #683
Here's the gist of how it works:

- As the RUP changes statuses, we take snapshots/versions at each stage
- When you aren't supposed to see it, the database has a version marked as 'StaffView' or 'AHView' when that is the case, based on the spreadsheet you gave me.
- The site will load the old content of the plan, but will use the current statuses so the headers and buttons still make sense.

I st

[2020-05-04 17:43] micheal-w-wells commented on #752
moving to in progress while i grab the ones that are there in iOS, will paste them here

[2020-05-04 17:57] micheal-w-wells commented on #752
- Staff view
  - wrongly made without effect https://github.com/bcgov/range-ios/blob/975d2864d19a6f0c56c7f70337c2d8163bae1fc2/Myra/Utilities/Constants/StatusConstants.swift#L77
   - Minor Amendment - Wrongly Made Stands - https://github.com/bcgov/range-ios/blob/975d2864d19a6f0c56c7f70337c2d8163bae1fc2/Myra/Utilities/Constants/StatusConstants.swift#L92
  - minor amendment needs review - https://git

[2020-05-04 19:07] #742 closed

[2020-05-04 19:10] calebissharp commented on #759
@LisaMoore1 Is staff choosing "submit as mandatory amendment" the exact same as starting a new mandatory amendment, ie. the status would be changed to "Staff Draft" and the amendment type would change to mandatory? Are there any other things we need to change or track?

[2020-05-04 19:35] calebissharp commented on #759
@ZoeSimon Any thoughts?

[2020-05-04 20:04] ZoeSimon commented on #759
@calebissharp @micheal-w-wells I'm not super sure on this one as I'm not familiar with the mandatory amendment workflow (i.e. I never did one as an agrologist and have only heard about them with a loose understanding of how they work)... I suggest we have @LisaMoore1 provide her input for this one. I'm just trying to re-read all the info tickets around Major Amendments and see if I can find anythi

[2020-05-04 20:23] LisaMoore1 commented on #756
Button looks good.
I selected it —> nothing changed on the screen to indicate I had selected it and nothing immediately happened on the screen so I felt like clicking it again.
Not sure what would have happened if I’d selected it again while it was still thinking.
An “I’m thinking about it” something would help (I think we had this discussion on the AH side of things too but not 100% sure).

[2020-05-04 20:30] LisaMoore1 opened #766 "Staff create Mandatory Amendment: the version is starting at status “approved” and showing as current legal"
When amendment created it should be some sort of “amendment in progress” status and the version the amendment is created on remains the current legal (showing up as green).
![IMG_7922.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/8d05de27-4a27-487e-9bf1-a1642ef5bfc3)

[2020-05-04 20:31] LisaMoore1 commented on #766
@micheal-w-wells I’m not sure who this should be assigned to.

[2020-05-04 20:35] LisaMoore1 commented on #653
I like that I’d doesn’t show “pink” until save is attempted and then there is message — but I do miss the asterisk marks. Having those definitely helps get the right entry the first time.

[2020-05-04 20:47] LisaMoore1 commented on #760
@calebissharp
Button is visible
Confirmation screen appears
After confirming the queue goes back to showing approved / approved version on screen
**Version still shows the discarded amendment as a version (and as approved)**

[2020-05-04 20:48] calebissharp commented on #756
@LisaMoore1 Looks like I may have forgotten to add the loading indicator for the button for staff, good catch. I'll add that in.

[2020-05-04 21:05] LisaMoore1 opened #768 "AH should not have “Discard Amendment” option if staff started it (and vice versa)"
Only the category of user that started the amendment (AH/Staff) should be able to discard the amendment.

I thought I had discarded this amendment (RAN099914) started by staff but apparently not. At any rate I didn’t expect to see this amend option.

![IMG_7931.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/d2557711-805f-4399-9360-782322922502)

@micheal-w-wells @calebissharp

[2020-05-04 21:19] LisaMoore1 commented on #683
@micheal-w-wells. I’ve passed an amendment back and forth a few times with something text changes and this seems to be working. I’m closing.

[2020-05-04 21:19] #683 closed

[2020-05-04 21:26] LisaMoore1 commented on #760
Overall I think the issue here is that for all RUPs to identify whether they are Initial, Amendment In progress, or discarded. This would apply on screen when viewing and on any list (including version list) where they may be visible). I’m confused about whether the version list is only showing previous plans or not because I can’t tell by the top of the list if there is a version in progress (or

[2020-05-04 21:26] LisaMoore1 commented on #369
This seems good. I’m closing.

[2020-05-04 21:27] #369 closed

[2020-05-04 21:47] LisaMoore1 commented on #759
Switching to “Submit as Mandatory” is an option when you get to the DM determination part of the workflow (has to go to DM first). In this case I see the flow (I think) as:
- staff record DMs determination as “submit as mandatory amendment) = status update
- take the version that was created by way of AH minor amendment and either change the status (or make a snapshot/new version) that is identifi

[2020-05-04 21:52] LisaMoore1 commented on #704
@okanji See #760 for some comments/screenshots on this. Might be something to talk to @calebissharp and @micheal-w-wells about as I think this is touching on a few things about how we identify/categorize different statuses so it is clear to users what they are looking at.

[2020-05-04 22:24] calebissharp commented on #759
I'm thinking for that first piece, "status update", we'll have to add a new status. This will probably be how we'd track the plan was a minor amendment before, and staff will submit it from this status back to the AH.

[2020-05-04 22:37] micheal-w-wells commented on #755
- List of statuses and their codes  https://github.com/bcgov/range-web/issues/683#issuecomment-619226197
- Status text and header text from iOS app:   https://github.com/bcgov/range-web/issues/752#issuecomment-623613609

[2020-05-04 22:38] micheal-w-wells commented on #755
Do a GET on the status endpoint and the plan endpoint and eyeball what the status object (the components output) looks like for an idea where to start.

[2020-05-05 15:17] calebissharp commented on #760
I'm seeing two issues here.

* We should be removing any versions that were created after we started an amendment when the amendment is discarded
* Something weird with the amendment creation process, or at the very least the displaying of amendments. Not as sure the cause of this, maybe related to the privacy versions?

The history not identifying amendments should be covered by #665.

@micheal-w

[2020-05-05 15:41] calebissharp commented on #768
I didn't realize the status went back to staff draft after staff submits it. We're showing the button just based on status and the type of amendment right now, but we may have to add a column that explicitly tracks if the amendment is staff initiated or not. I don't see a clever way out of this one. @micheal-w-wells, thoughts?

[2020-05-05 17:05] micheal-w-wells commented on #766
@LisaMoore1 I'll start with this one today, I think i know what's going on.

[2020-05-05 17:07] micheal-w-wells commented on #653
I think we can address the asterisks, might be an easy one for @calebissharp or @okanji but I'll take a peek if i have time today.  Glad its more predictable and working for you otherwise.

[2020-05-05 17:09] micheal-w-wells commented on #760
I'll check

[2020-05-05 17:10] micheal-w-wells commented on #760
Awaiting conf - 18 @calebissharp

[2020-05-05 17:11] micheal-w-wells commented on #760
Can a discard happen once it's reached a legally standing state?

[2020-05-05 17:17] calebissharp commented on #760
Discard should only be able to happen in "staff craft" or "created"

https://github.com/bcgov/range-web/blob/372e00567c7e00cdb8c131321e02b9b5b9b7b035/src/utils/helper/plan.js#L194-L208

There might be an inconsistency in what the client considers legal versions though, leading it to rollback to a wrong version:
https://github.com/bcgov/range-web/blob/372e00567c7e00cdb8c131321e02b9b5b9b7b035/src/ap

[2020-05-05 17:24] micheal-w-wells commented on #768
I still kind of feel like we are making things hairy not introducing dedicated statuses for amendment drafts/works in progress but i could be out to lunch.  If it were up to me we'd have new statuses for staff created amendments and AH ones and it would make troubleshooting and looking at history easier and save us from reworking the plan status history component and adding extra logic to the stat

[2020-05-05 17:31] calebissharp commented on #768
I'm not even sure we'd have to double the amendment types. If we just add a couple of statuses for "Mandatory Amendment in Progress - Staff" and "Mandatory Amendment in Progress - AH", we can use those before the amendment is submitted instead of "Staff Draft" and "Created". That would fix the discard button showing up for the wrong user at least. The new statuses would have the same submission op

[2020-05-05 17:32] micheal-w-wells commented on #768
now you're speakin' my language.

[2020-05-05 17:33] calebissharp commented on #768
I did try adding a new column to `plan`, just for use in determining if the user is able to discard the amendment, but I agree that's less flexible than the statuses.

[2020-05-05 17:35] micheal-w-wells commented on #760
Do we need to track that an amendment was started and discarded @LisaMoore1 ?

If yes, I think we copy forward the legal version from before and leave the history hidden from the user unless/until there's a requirement to show that.  If no then we can delete all the WIP amendment versions in the db going back to the last legally standing one.

[2020-05-05 17:41] LisaMoore1 commented on #760
I think there is value iN being able to look at amendments that were discarded but I wouldn’t say that is a common task requiring a built in workflow right now for people to be able to view them. More that if we keep the records we could take a look if we run into a legal or ombudsman type tricky thing (there have been times I’ve found it useful seeing what people thought about doing when I’m revi

[2020-05-05 17:43] micheal-w-wells commented on #760
I agree there's value in not wiping history here.  I think copying forward the last legal version to be the most recent one, and making sure the legal start and end dates don't change is the best option long term.

[2020-05-05 18:21] LisaMoore1 opened #769 "AH submitted mandatory amendment for decision —> staff see a “provide input” orange banner"
I’m not sure why this banner (see image) is appearing here. I also noticed it yesterday when creating an initial plan (see second image). Staff aren’t providing input here they are either making a recommendation to the DM or requesting the AH make changes.

![IMG_7940.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/456929d3-1894-4986-b876-86bb82f973e6)

![IMG_7919.jpeg](https:/

[2020-05-05 18:26] calebissharp commented on #768
I have to say, I like where this is going.

<img width="581" alt="image" src="https://user-images.githubusercontent.com/8854811/81101554-2d6b6000-8ec3-11ea-94eb-331afb9fe2c4.png">

[2020-05-05 18:28] LisaMoore1 commented on #766
Here’s another example of what’s going on (RAN099954)
![IMG_7942.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/f147920e-b9e7-423c-b26b-a5c2cdd2940c)

[2020-05-05 18:33] LisaMoore1 commented on #606
Similar to #760. Version list is still showing the discarded version however WQ/status seemed to behave as expected in the case I tested (RAN099954).

[2020-05-05 18:40] micheal-w-wells commented on #766
[code]

[2020-05-05 18:40] LisaMoore1 opened #770 "AH getting error when submitting minor amendment"
See image below.  Tried twice to same effect.
Created amendment
Submitted amendment
Got this message (whether I did a “save draft” action before submitting or not
![IMG_7943.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/7cb37a80-04db-45e8-bd44-931d26bd2bf0)

[2020-05-05 18:40] micheal-w-wells commented on #766
@calebissharp v 1 through 3 seems so odd based on timestamp

[2020-05-05 18:41] LisaMoore1 commented on #472
@calebissharp I’m unable to test. See #770

[2020-05-05 18:41] micheal-w-wells commented on #766
`from_status_id` is just null because there was no previous version, this is a plan started pre-migration

[2020-05-05 18:46] calebissharp commented on #770
@micheal-w-wells, I didn't consider this, but somehow we have to reseed the database to include these new statuses. Maybe just `npx knex seed:run` will work.

[2020-05-05 21:37] calebissharp commented on #755
For reference:

https://twostoryrobot.slack.com/files/UJJ72U8AH/FQFF5EFFF/myrangebc_content_control__2_.xlsx

[2020-05-05 22:32] micheal-w-wells commented on #755
@okanji Caleb made the new statuses, but whats outstanding is the header text and there's a handy spreadsheet he pasted above, don't worry about all those ios repo links.

[2020-05-05 22:46] calebissharp commented on #770
@LisaMoore1 Should be working now; let me know if it's not.

[2020-05-05 23:30] micheal-w-wells commented on #752
We found @LisaMoore1 's spreadsheet in slack, and the relevant info is now on the ticket omar is working on #755

[2020-05-05 23:30] #752 closed

[2020-05-06 14:29] calebissharp commented on #755
I think adding a little indicator for the status component is still a good idea though.

Something like this:
<img width="198" alt="image" src="https://user-images.githubusercontent.com/8854811/81189336-4f202200-8f6b-11ea-804b-9274380e30bf.png">

[2020-05-06 15:02] micheal-w-wells commented on #766
note for me: this gets resolved with https://github.com/bcgov/range-api/194

[2020-05-06 15:03] micheal-w-wells commented on #755
good call

[2020-05-06 15:27] LisaMoore1 opened #773 "INFO: DM able to sign in to MyRA"
DM’s will require access to MyRA

- [ ] will sign in using IDIR
- [ ] will need to see all RUPs for their assigned district(s)
- [ ] one DM may have more than one district assigned (ex. DVA and MCK)
- [ ] when a DM goes on holidays they delegate their tasks to another person (acting DM) by way of a letter — similar to agency agreement
- [ ] acting DM will need access to MyRA when the DM is away fo

[2020-05-06 15:34] micheal-w-wells commented on #755
ignore my comment then about the header text, i'll do that as part of #753 right now , make this one what @calebissharp mentioned above

[2020-05-06 15:55] LisaMoore1 opened #774 "INFO: Staff make a decision recommendation to the DM for new plans and mandatory amendments"
**DECISION RECOMMENDATION PACKAGE**
The decision recommendation package includes:
- [ ] background (a few paragraphs of text) — required
- [ ] consultation summary ( a few paragraphs of text) — required
- [ ] consultation record URL — optional
- [ ] stakeholder summary (a few paragraphs of text) — optional
- [ ] stakeholder summary URL — optional
- [ ] recommendation (selection) — required
- [ ] r

[2020-05-06 15:57] LisaMoore1 opened #775 "INFO: Staff make a determination recommendation submission for minor amendments"

[2020-05-06 16:32] LisaMoore1 opened #776 "INFO: DM makes decision on new plans or mandatory amendment"
**Decision Makers see which plans require their action**
- [ ] plans having statuses 15, 16 and new “approve with conditions” status are clearly available for DM action (not just view)
- [ ] WQ is easily filtered/sorted to make these plans stand out

**Decision Makers can access the decision recommendation materials**
- [ ] all fields that staff entered are visible to DM
- [ ] all attachments are

[2020-05-06 16:32] LisaMoore1 opened #777 "INFO: DM decision/determination is communicated to staff and AH"

[2020-05-06 16:49] LisaMoore1 opened #778 "INFO: DM makes determination on minor amendment"
**Decision Makers see which plans require their action**
- [ ] plans having statuses # # (review — staff recommendation statuses) are clearly available for DM action (not just view)
- [ ] WQ is easily filtered/sorted to make these plans stand out

**Decision Makers can access the determination recommendation materials**
- [ ] all fields that staff entered are visible to DM
- [ ] all attachments ar

[2020-05-06 17:05] LisaMoore1 commented on #777
**FULL RUP OR MANDATORY AMENDMENT**
APPROVED
- [ ] status is updated for both staff and AH
- [ ] no further action required by any party
- [ ] if notifications in place staff and AH would get notice that approval has happened

APPROVED WITH CONDITIONS
- [ ] status is recorded but AH does not see change
- [ ] staff sees that action is required
   - [ ] review the conditions to confirm accuracy (som

[2020-05-06 17:56] calebissharp commented on #702
Resolved by #771

[2020-05-06 17:56] #702 closed

[2020-05-06 22:52] micheal-w-wells commented on #464
@okanji very related to what you are doing with the homescreen preview

remember that we want to see:

The work in progress  or last not approved plan
The current and past legal versions

[2020-05-06 22:55] micheal-w-wells commented on #704
I think our recent api changes should have fixed this one.  I don't think there's any change for Oamar here.

[2020-05-07 01:15] micheal-w-wells opened #781 "Hitting 'submit' after not saving first causes indefinite spinning wheel"
**Describe the bug**
On a brand spanking new plan if you try to hit submit prior to at least saving once you will get an indefinite spinning wheel.  While it might not happen often that staff have a plan filled out and ready to submit in one go prior to saving once, it should get fixed.

**Expected Behaviour**
It should auto save in the background and then submit, and not spin the wheel forever.

[2020-05-07 01:20] micheal-w-wells opened #782 "3 dots menu for plan actions awkwardly placed"
**Describe the task**
I think the 3 dots are in a weird spot here.

**Acceptance Criteria**
Move them to the right of buttons

![image](https://user-images.githubusercontent.com/955467/81244064-398c1600-8fc6-11ea-8d42-bdd8c1633b04.png)

[2020-05-07 19:59] #770 closed

[2020-05-07 20:01] #606 closed

[2020-05-07 20:14] LisaMoore1 commented on #704
@micheal-w-wells Noticed a couple of funky things here.  Not sure if they are related to this issue or not. Can you take a look?
![IMG_7955.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/94780c3e-8a8f-49a8-981f-136280721d32)

- [ ] legal start/end don’t need time (might help avoid the overlap) although it is useful during all of this testing
- [ ] once an amended plan hits “st

[2020-05-07 20:16] LisaMoore1 commented on #472
@calebissharp the workflow/statuses seem to be working but there are still some trickies in version (see $704). I’m closing this one.

[2020-05-07 20:16] #472 closed

[2020-05-07 20:19] LisaMoore1 opened #784 "WORKFLOW: ability to record paper signatures of AHs and DM in the digital record"
AHs may not have BCeID so there are potential user_account issues.

[2020-05-08 15:11] calebissharp commented on #704
@micheal-w-wells I think because the plan can't be edited in any "stands" statuses, we can ignore every status when finding legal versions, **except** "Stands - Not Reviewed", because it's always the first one.

@LisaMoore1 Maybe I'm misunderstanding, but isn't this the same as looking at the plan from the main plan page, at least while there is an amendment in progress? Then once the amendment is

[2020-05-08 16:04] calebissharp commented on #758
When an RUP has a status of "Wrongly made without effect":
1. Display "Wrongly made without effect" as the status on the current plan
2. Provide buttons to staff and AHs to "Create amendment from legal version".
3. When button is clicked, we
    1. snapshot this current plan
    2. restore the previous legal version into the current plan
    3. call the same API endpoints to create an amendment as

[2020-05-08 16:21] LisaMoore1 commented on #704
@calebissharp Yes I think that is right — main page shows the most recent. The thing that confuses me is when I look at the version list and I see all of the versions associated with that single amendment when really the most recent one (provided all the status changes are showing up in history) tells me everything I need to know — and is more clear that it is all associated with a single amendmen

[2020-05-08 18:19] micheal-w-wells commented on #758
Which amendment types can land here?  all 3?

Need to mark the restored plan as 'isRestored' so i have some kind of indicator to know to look at the last legal one for dates and ignore in version list.

[2020-05-08 18:20] micheal-w-wells commented on #758
actually i guess if you are going directly to another status other than approved then we don't need the isRestored here.

[2020-05-08 18:24] calebissharp commented on #758
Wrongly made without effect is only for minor amendments.

[2020-05-08 18:35] micheal-w-wells commented on #704
i'm gonna make my afternoon goal find a way to make amendments less confusing in the version list, i think i have an idea of how to go about it

[2020-05-08 18:42] micheal-w-wells commented on #758
I think you've got it covered then

[2020-05-08 21:45] micheal-w-wells opened #785 "As AH, make minor amendment, submit, and it should go to Stands but does not"
**Describe the bug**
From an approved plan, make a minor amendment
Get all AH to sign

Should go to Stands for AH, (and for staff Stands - Decide if it needs review  What is this status called? From there choices are be Stands - Needs Review or Stands - Review Not Needed)

It actually goes to Decision Required

**Expected Behaviour**
Should go to Stands

**Actual Behaviour**
Goes to Decision requi

[2020-05-08 21:47] micheal-w-wells opened #786 "As first agreement holder making amendment, you have to sign twice."
**Describe the bug**
The modal for first submitting/signing AH is different from the second, which is ok except the first AH modal should capture the signature.  What happens now is it tells them they have signed but the sign button is still visible indicating that they have not.

**Expected Behaviour**
They shouldn't see the sign button, and their signature should stick.

**Actual Behaviour**
It

[2020-05-11 15:40] micheal-w-wells commented on #785
is the idea here that we are recycling decision required, and need to look at the amendment type id in order to display the right header @calebissharp ?

[2020-05-11 17:43] calebissharp commented on #758
@micheal-w-wells I've noticed another nuance with this. If an amendment is reviewed and determined to be wrongly made - without effect, we cannot use the "Stands" version that came before that as a legal version. Do you thing your view would have the ability to handle this? Or do we have to add this logic elsewhere?

[2020-05-11 17:50] ZoeSimon commented on #759
Hey @calebissharp I was testing this ticket and at no point as range staff was I able to submit it as a major amendment from the AH initiated minor amendment when it was in the "Stands - review" status. As range staff I tried selecting "Stands - wrongly made" (which obviously just allowed it to stand with no further actions available), and then I tried "Wrongly Made - without effect" and it ended

[2020-05-11 17:59] ZoeSimon opened #787 "Minor Amendment Bug - selecting "Wrongly Made without effect" deleted the RUP"
**Describe the bug**
This bug occurred when going through the workflow of submitting an AH initiated minor amendment. While selecting options as range staff during the "Review Amendment" status, I selected "Wrongly Made - without effect" and it completely deleted my RUP.

**Screenshots**
*Part 1*
![image.png](https://images.zenhubusercontent.com/5e78e949a7e29c75200dbef5/c797d6f0-da4f-4a33-a231-26f

[2020-05-11 18:02] ZoeSimon commented on #787
@calebissharp Here's the bug I was talking about in my comments from #759

[2020-05-11 18:07] calebissharp commented on #787
Can you see the plan when logged in as staff?

[2020-05-11 18:08] calebissharp commented on #759
@micheal-w-wells Can you check the pipeline when you get the chance?

[2020-05-11 18:08] ZoeSimon commented on #787
Negative - the last screenshot is when I was logged in as staff

[2020-05-11 18:18] micheal-w-wells commented on #758
We do want the Stands one to still show in the list as a past legal version.  That part is ok.  The issue is an older one comes back and that is where things get weird.

I gotta stew on it.  I am not sure how we want to display it but I'm assuming we would want to show the history that

version 1 was approved, and legal from Monday to Friday
version 2 came along as Stands and was legal from Saturd

[2020-05-11 18:33] micheal-w-wells commented on #758
if @LisaMoore1 is ok with it, this would be so much simpler:

version 1 was approved, and legal from Monday to Friday
version 2 came along as Stands and was legal from Saturday to Monday
version 3 looks just like version 1, and it became legal and is legal from Tuesday to the plan end date

[2020-05-11 18:34] micheal-w-wells commented on #759
on it

[2020-05-11 18:35] micheal-w-wells commented on #759
LGTM

[2020-05-11 20:18] LisaMoore1 commented on #758
@micheal-w-wells What status is version 3 in this example? No review required, review required, DM decision made.... Not sure how to provide you with useful info on this one.

[2020-05-11 20:31] #756 closed

[2020-05-11 20:46] #653 closed

[2020-05-11 23:27] micheal-w-wells opened #789 "add 'Reason' to version list"
new field in the endpoint is `legal_reason`

UI issue to go along with https://github.com/bcgov/range-api/issues/203

[2020-05-12 02:14] micheal-w-wells commented on #758
same as v1, all good i should have written it this way the first time:
version 1 was approved, and legal from Monday to Friday  (Status Approved 12)
version 2 came along as Stands and was legal from Saturday to Monday (Status Stands, not sure on number off hand)
version 3 looks just like version 1, and it became legal and is legal from Tuesday to the plan end  date (Status Approved 12)

[2020-05-12 14:52] micheal-w-wells opened #790 "Range officer unable to enter PLD for one particular pasture"
**Describe the bug**
For whatever reason they are unable to save a pld value for one particular pasture.  It complains it isn't a whole number, despite it being one.

**Expected Behaviour**
She should be able to save.

**Actual Behaviour**
"PLD must be a whole number"

**To Reproduce**
Have yet to be able to do so.  Have asked for clearing cache, they did, I think we might need to steal the RAN in

[2020-05-12 15:15] LisaMoore1 commented on #758
@micheal-w-wells Still a little confused.
Versions 1 and 2 make sense to me however a minor amendment that had been in a “stands” status (minors are the only ones that have stands statuses) of any sort wouldn’t go to approved (12) status since “approved” applies only to original RUPs and mandatory amendments.
A minor amendment, after being submitted by the AH (stands) would go to one of: stands-re

[2020-05-12 15:28] calebissharp commented on #789
@micheal-w-wells Could you please provide some examples of what `legal_reason` could be set to? Thanks.

[2020-05-12 15:39] micheal-w-wells commented on #789
- `AH Mandatory`
- `Staff Mandatory`
- `AH Minor`
- `Initial RUP`

@calebissharp

[2020-05-12 15:44] micheal-w-wells commented on #789
later we could add 'New AH - New RUP' or whatever we want to call that when we get there.

[2020-05-12 15:45] LisaMoore1 opened #791 "Versions screen opening with a little box in top left corner of “view version” tab —> view versions yields blank screen with “Error”"
RAN099953 — Recommend Ready status ![IMG_7961.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/d954fed3-619f-48d9-ad3a-ee59dbb372ef)

[2020-05-12 15:45] calebissharp commented on #789
And those are just strings?

[2020-05-12 15:46] LisaMoore1 commented on #791
@calebissharp This one seems pretty weird. Once it has shown the versions screen, you select view versions and it goes to the screen mentioned above if you try again it goes straight to the error screen (no version screen between). Not sure if it is a just me thing or not. I cleared cache before I started today.

[2020-05-12 15:54] micheal-w-wells commented on #758
I admit its a bit tough without a visual aid.

step 1.   Initial RUP approved, legal version created and is current.    You only see this record in the version list.  And it will say 'initial RUP approved' in that list.

step 2.   A minor amendment hit stands, legal version created and is current.  There are now two records in the legal version list, and this one is indicated with 'AH minor amendm

[2020-05-12 15:54] LisaMoore1 commented on #791
@calebissharp I got it to open in AH view (after saving draft for a minor amendment) and this is what I see. Guessing that these are all legitimate versions but a little alarming for the AH to see perhaps.
![IMG_7963.png](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/0f8dd7d8-1668-4f54-a84c-a1f5e523ab78)

[2020-05-12 16:01] #785 closed

[2020-05-12 16:01] micheal-w-wells commented on #789
yes sir

[2020-05-12 16:05] micheal-w-wells commented on #684
I think the content part of it is covered (can't see changes people are making), but the statuses might give it away because at this point the current plan still dictates that.  I'll address that with this issue.

[2020-05-12 16:21] micheal-w-wells commented on #791
i'm gonna take a peek at this one right now

[2020-05-12 16:28] micheal-w-wells commented on #791
For some reason the plans i tested with recently didn't have this issue but I must have a problem in one of my joins in the `plan_snapshot_summary` table that is causing some duplicates for you.  I'll get it sorted today.  I'd not worry about testing the versions component/page until this is fixed and @okanji has his issues addressed also.

[2020-05-12 16:32] LisaMoore1 commented on #759
@calebissharp
- Button is visible (expected)
- selecting it raises confirmation screen (expected)
- new version is not in editable form (unexpected as confirmation screen said it would be)
- history says “Review Amendment —> Submitted as Mandatory” (expected as per statuses but “submitted” usually refers to changing hands from one user to other so maybe something like “change to mandatory” would b

[2020-05-12 16:43] LisaMoore1 commented on #758
Yes this makes sense now with the addition of the “wrongly made without effect” explanation in v3. Thanks. Sorry for the sidetrack.

[2020-05-12 16:52] micheal-w-wells commented on #758
all good glad we landed on something that will work : )

@calebissharp fyi

[2020-05-12 17:06] micheal-w-wells commented on #791
Note for self i introduced dupes with `src/libs/db2/migrations/20200508082939_make_amendment_work_private.js`

[2020-05-12 17:17] calebissharp commented on #758
Just a heads up, this is blocked for me until #759 is resolved since I need the `is_legal` column (https://github.com/bcgov/range-api/issues/202).

[2020-05-12 17:37] calebissharp opened #792 "Plan status history not appearing after submitting staff-initiated mandatory amendment"
**Describe the bug**
Plan status history doesn't appear after a staff initiated amendment is submitted to AH.

**Expected Behaviour**
Plan status history should appear

**Actual Behaviour**
There was no plan status history.

**To Reproduce**
Steps to reproduce the behavior:
@LisaMoore1 I can't reproduce, can you provide some instructions here?

**Screenshots**
If applicable, add screenshots to hel

[2020-05-12 17:38] calebissharp commented on #759
@LisaMoore1 Thanks for testing this! I've responded to your comments below:

I've updated the acceptance criteria for this issue to include this.

Covered by #753

I think this should be a separate issue. There's some cleanup we have to do with the status history in general, especially with the minor amendment statuses. I don't see it being a blocker to this issue. Let me know if you think otherwi

[2020-05-12 18:03] LisaMoore1 commented on #759
@calebissharp All of the above makes sense. I agree that AH seeing status changes isn’t a blocker but I think it does need to be addressed at some point (@micheal-w-wells). Do you want me to create a separate issue for that one or do you want to?

[2020-05-12 18:12] LisaMoore1 commented on #792
Poorly worded on my part. Compare that history (statuses) is the two images below...!
This first one shows the history (statuses) while I’m switching a minor amendment to mandatory
[IMG_7967.jpeg](https://images.zenhubusercontent.com/5d937161c8e4d80001227881/4c0df2ed-c52a-4e47-8c33-fac82665de5b)

This image was immediately after submitting the mandatory amendment to the AH. Check out the weird tim

[2020-05-12 18:56] micheal-w-wells commented on #684
"until an amendment is submitted the “other” (not amending) party is not aware of the amendment"

We can't do this unless we hide the amendment button for the other party.  How do we tell people why the button isn't there if they aren't allowed to know why?

[2020-05-12 18:58] micheal-w-wells commented on #787
somebody else needs to reproduce this one to see if it was a one off anomaly

[2020-05-12 18:59] micheal-w-wells commented on #787
@calebissharp is saying this wasn't ready to test

[2020-05-12 19:05] calebissharp commented on #753
@LisaMoore1 Can you provide some header text for the "Submitted as Mandatory" status?

[2020-05-12 20:12] ZoeSimon commented on #787
Roger - I think I just selected it when testing the switching to mandatory amendment ticket.

[2020-05-12 20:13] micheal-w-wells commented on #791
Just a note the current one isn't going to be green until #789  based on changes we made to have plan end date as the legal end for currently legal plan.

[2020-05-12 22:59] micheal-w-wells commented on #792
privacy view returning two staffview records

[2020-05-13 15:45] calebissharp commented on #759
@LisaMoore1 Ok, should be good to check again. I've made the plan editable for staff when in the "Submitted as Mandatory" status which should be enough to resolve this issue.

[2020-05-13 17:38] micheal-w-wells commented on #792
@calebissharp what do you make of the header part of this?  there were two privacyview records and i think that explains the plan status history weirdness, but i can't make heads or tails of the missing header.

[2020-05-13 17:39] calebissharp commented on #792
@micheal-w-wells The header just hasn't been added yet. We don't have messaging to put there.

[2020-05-13 17:50] calebissharp commented on #665
@LisaMoore1 I think this is worth revisiting based on the new amendment statuses. Let me know if that fits the requirements here. I've also reduced the estimate to 0 here since that effort was capture elsewhere.

[2020-05-13 17:53] calebissharp commented on #755
@okanji Are you working on this right now? If not, can I take it from you?

[2020-05-13 20:12] micheal-w-wells opened #796 "update versions component to observe 'isCurrentlyLegalVersion' var"
EDIT: jump to bottom for testing instructions

The versions component was looking for a null effective legal end date to indicate what is current, this is now set to the plan end date so a isCurrentlyLegalVersion var was added.

The component needs to be updated to use it.